.s-skills {
    &__title {
        color: $c-accent;
        text-align: center;
        max-width: 650px;
        margin: 0 auto;
    }

    &__cards {
        margin-top: 50px;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        gap: 10px;


        @include max(mobile) {
            margin-top: 20px
        }
    }

    &__card {
        height: auto;
        width: calc((100% - 20px) / 3);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: $c-accent-2;
        color: $c-accent;
        border-radius: 32px;

        @include max(tablet) {
            width: calc((100% - 10px) / 2);
        }

        @include max(xs) {
            width: 100%;
        }
    }

    &__icon {
        width: 100%;
        height: auto;

        @include max(mobile) {}

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__text {
        margin-top: auto;
        line-height: 1.2em;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: -0.01em;
        padding: 30px;

        @include max(mobile) {
            padding: 20px;
            font-size: 14px;
        }
    }
}