-
    const defaultSSkillsProps = {
        classes: ''
    }

mixin s-skills(props = defaultSSkillsProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultSSkillsProps.classes
        }

    section.s-skills(class=checkProps.classes)
        .m-container
            .title.title--h2.s-skills__title <span>Навыки,</span> которые вы получите
            .s-skills__cards
                .s-skills__card
                    .s-skills__icon
                        img(src='img/programms/skills_1.svg' alt='')
                    .s-skills__text Умение получать информацию из источников разных типов, осуществлять поиск, анализ, систематизацию и интерпретацию информации различных видов и форм представлении
                .s-skills__card
                    .s-skills__icon
                        img(src='img/programms/skills_2.svg' alt='')
                    .s-skills__text Владение различными способами общения и взаимодействия, умение аргументированно вести диалог, развёрнуто, логично и корректно излагать своё мнение, строить высказывание
                .s-skills__card
                    .s-skills__icon
                        img(src='img/programms/skills_3.svg' alt='')
                    .s-skills__text Умение самостоятельно осуществлять познавательную деятельность, выявлять проблемы, ставить и формулировать собственные задачи в образовательной деятельности и жизненных ситуациях
                .s-skills__card
                    .s-skills__icon
                        img(src='img/programms/skills_4.svg' alt='')
                    .s-skills__text Умение давать оценку новым ситуациям, вносить коррективы в деятельность, оценивать соответствие результатов целям
                .s-skills__card
                    .s-skills__icon
                        img(src='img/programms/skills_5.svg' alt='')
                    .s-skills__text Умение понимать и использовать преимущества командной и индивидуальной работы, выбирать тематику и методы совместных действий с учётом общих интересов и возможностей каждого члена коллектива