-
    const defaultSVacancyProps = {
        classes: '',
        title: '',
        cards: [
            {
                title: '',
                salary: '',
                resp: '',
            }

        ]
    }

mixin s-vacancy(props = defaultSVacancyProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultSVacancyProps.classes,
            title: props.title ? props.title : defaultSVacancyProps.title,
            cards: props.cards ? props.cards : defaultSVacancyProps.cards,
        }

    section.s-vacancy(class= checkProps.classes data-js="sVacancy")
        .m-container
            .s-vacancy__header
                .title.title--h2.s-vacancy__title!= checkProps.title
                .slider-btns.s-vacancy__btns
                    .slider-btn.slider-btn--prev(data-js="sliderPrevBtn")
                        svg 
                            use(xlink:href=`img/sprites/sprite.svg#slider_arrow`)
                    .slider-btn.slider-btn--next(data-js="sliderNextBtn")
                        svg 
                            use(xlink:href=`img/sprites/sprite.svg#slider_arrow`)
            .s-vacancy__cards(data-js="sVacancySlider")
                .swiper-wrapper
                    - let itemsCount = 0
                    - while (itemsCount < checkProps.cards.length)
                        - let currentItem = checkProps.cards[itemsCount]

                        .s-vacancy__card.s-vacancy-card.swiper-slide 
                            a.s-vacancy-card__link(href="#")
                            - if(currentItem.title.length > 0)
                                .title.title--h5.s-vacancy-card__title!= currentItem.title
                            .s-vacancy-card__top
                                - if(currentItem.salary.length > 0)
                                    .s-vacancy-card__subtitle Стоимость в месяц
                                    .title.title--h5.s-vacancy-card__price!= currentItem.salary 
                            .s-vacancy-card__bottom
                                - if(currentItem.resp.length > 0)
                                    .s-vacancy-card__subtitle Навыки после обучения
                                    .s-vacancy-card__resp.text-editor!= currentItem.resp

                        - itemsCount++