.s-vacancy {
    padding-top: 50px;
    padding-bottom: 100px;

    @include max(mobile) {
        padding-top: 25px;
        padding-bottom: 50px;
    }

    &__header {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: 64px;
    }

    &__title {
        color: $c-accent;
        flex: 1 1 auto;
    }

    &__btns {
        flex: 0 0 auto;
    }

    &__cards {
        margin-top: 50px;

        @include max(mobile) {
            margin-top: 32px;
        }
    }

    .swiper-wrapper {
        align-items: stretch;
    }

}

.s-vacancy-card {
    position: relative;
    height: auto;
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px 10px 10px;
    background-color: $c-accent-light;
    color: $c-accent;
    border-radius: 32px;

    @include max(large) {
        width: 326px;
    }

    @include max(mobile) {
        min-height: auto;
        width: 300px;
        padding: 20px 10px 10px;
        border-radius: 24px;
    }

    &__link {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 5;
    }

    &__top {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 70px;
        gap: 24px;
        min-height: 130px;
        flex: 0 0 auto;
        padding: 16px;
        background-color: $c-white;
        border-radius: 24px;

        @include max(tablet) {
            margin-top: 35px;
        }

        @include max(mobile) {
            margin-top: 24px;
            padding: 10px;
            border-radius: 16px;
            min-height: 90px;
        }
    }


    &__title {
        margin-bottom: auto;
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 24px;
        flex: 1 0 213px;
        padding: 16px;
        background-color: $c-white;
        border-radius: 24px;

        @include max(mobile) {
            padding: 10px;
            border-radius: 16px;
            flex-basis: 130px;
        }
    }

    &__subtitle {
        opacity: 0.4;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.2em;
        letter-spacing: -0.01em;
    }

    &__resp {
        -webkit-line-clamp: 6;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        min-height: 7.2em;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.2em;
        letter-spacing: -0.01em;

        @include max(mobile) {
            font-size: 14px;
        }
    }
}