-
	const defaultLpLinksProps = {
		classes: '',
	}

mixin lp-links(props = defaultLpLinksProps)
	-
		const checkProps = {
			classes: props.classes ? props.classes : defaultLpLinksProps.classes,
		}

	section.lp-links(class=checkProps.classes)&attributes(attributes)
		.m-container
			.section-flex
				block