.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 80;

    &__container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 20px;
        transition: all $tr;
        background-color: transparent;

        @include max(mobile) {
            padding: 20px 10px 10px;
        }
    }

    &__side {
        position: relative;
        display: flex;
        align-items: center;
        gap: 10px;

        @include max(mobile) {
            width: 100%;
        }

        &--right {
            @include max(mobile) {
                display: none;
            }
        }
    }

    &__left {
        position: relative;
        display: flex;
        align-items: center;
        gap: 40px;
        background-color: $c-white;
        border-radius: 50px;
        padding: 9.5px 30px;
        border: 1px solid #C9D4CA;
        //transition: all $tr;

        @include max(laptop) {
            gap: 20px;
            padding: 7.3px 20px;
        }

        @include max(mobile) {
            flex: 1 1 100%;
        }

        &:has(.site-header__menu.active) {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border-top-left-radius: 32px;
            border-top-right-radius: 32px;
            border-color: transparent;
        }
    }

    &__burger {
        display: none;
        color: $c-accent;
        transition: all $tr;
        cursor: pointer;
        justify-content: space-between;
        align-items: center;

        &:hover {
            color: $c-accent-dark;
        }

        svg {
            width: 20px;
            height: 20px;
        }

        @include max(mobile) {
            display: flex;
        }
    }

    &__vvi {
        flex: 0 0 60px;

        @include max(laptop) {
            flex-basis: 45px;
        }
    }

    &__logo {
        flex: 0 0 110px;
        max-width: 110px;
        transition: max-width $tr linear;

        @include max(laptop) {
            flex-basis: 80px;
            max-width: 80px;
        }

        @include max(mobile) {
            margin-right: auto;
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        gap: 0;
        flex: 0 0 auto;

        @include max(tablet) {
            display: none;
        }
    }

    .nav-link {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $c-accent;
        gap: 4px;
        padding: 10px 13px;
        border-radius: 24px;
        font-size: 16px;
        line-height: 120%;
        letter-spacing: -0.01em;
        font-weight: 500;
        transition: all $tr;
        cursor: pointer;

        @include max(laptop) {
            font-size: 14px;
            padding: 7px 10px;
            border-radius: 16px;
        }

        &__text {
            position: relative;
            transition: margin-top $tr linear;
            z-index: 3;
        }

        &__icon {
            display: flex;
            align-items: center;
            justify-content: center;
            transition: margin-bottom $tr;
            z-index: 3;

            svg {
                width: 16px;
                height: 16px;
                transition: all $tr;
                transform: translateY(-2px) rotate(0);
            }
        }

        &:hover,
        &.active {
            color: $c-white;
            background-color: $c-accent;
        }

        &.active .nav-link__icon svg {
            transform: translateY(2px) rotate(-180deg);
        }
    }

    &__menu {
        display: flex;
        position: absolute;
        align-items: flex-start;
        justify-content: flex-end;
        left: -1px;
        top: calc(100% - 1px);
        width: calc(100% + 2px);
        height: 0;
        visibility: hidden;
        opacity: 0;
        transition: opacity $tr;

        &.active {
            height: calc(100vh - 98px);
            visibility: visible;
            opacity: 1;
        }

    }

    .header-banner.active+.site-header__container .site-header__menu.active {
        height: calc(100vh - 155px);
    }

    &--small>.header-banner+.site-header__container .site-header__left .site-header__menu.active {
        height: calc(100vh - 88px);
    }

    &__overlay {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.54);
        width: 100vw;
        height: 100vh;

        &.active {
            display: block;
        }
    }

    &--small &__container {
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: $c-white;
    }

    &--small .header-banner {
        max-height: 0;
        padding-top: 0;
        padding-bottom: 0;
        transition: all $tr-long;
    }

}

.header-banner {
    display: none;
    position: relative;
    max-height: 100px;
    overflow: hidden;
    z-index: 0;

    @include max(mobile) {
        max-height: 200px;
    }

    &.active {
        display: block;
    }

    &__bg {
        position: absolute;
        right: 24%;
        top: 0;
        height: 100%;

        img {
            height: 100%;
        }

        @include max(laptop) {
            opacity: 0.4;
        }
    }

    &__content {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 7px 60px;
        background-color: $c-accent-light;
        color: $c-accent;
        font-size: 14px;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: -0.01em;

        @include max(tablet) {
            padding: 7px 44px 7px 30px;
        }

        @include max(mobile) {
            padding: 7px 34px 7px 10px;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            font-size: 12px;
        }
    }

    &__left,
    &__right {
        position: relative;
        z-index: 5;
    }

    &__close {
        position: absolute;
        right: 4px;
        top: 4px;
        z-index: 3;
        transition: all $tr;
        cursor: pointer;
        color: $c-accent;

        &:hover {
            color: $c-accent-dark;
        }

        svg {
            width: 24px;
            height: 24px;

        }
    }

    &__title {
        font-size: 18px;

        @include max(mobile) {
            font-size: 16px;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 7px;
        margin-top: 4px;
    }

    &__sticker {
        color: $c-white;
        padding: 2px 7px;
        background-color: $c-accent-title;
        border-radius: 4px 18px 18px 4px;
        transform: rotate(-2deg);
    }

}