.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 80;

    &__container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 20px 10px;
        transition: all $tr;
        background-color: transparent;
    }

    &__side {
        position: relative;
    }

    &__left {
        display: flex;
        align-items: center;
        gap: 40px;
        background-color: $c-white;
        border-radius: 50px;
        padding: 11.5px 30px;
        border: 1px solid #C9D4CA;

    }

    &__logo {
        flex: 0 0 110px;
        max-width: 110px;
        transition: max-width $tr-time linear;

        img {
            width: 100%;
            height: auto;
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        gap: 40px;
        flex: 0 0 auto;
    }

    .nav-link {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 4px;
        color: $c-accent;
        font-size: 16px;
        line-height: 120%;
        letter-spacing: -0.01em;
        font-weight: 500;
        transition: all $tr;

        &__text {
            position: relative;
            transition: margin-top $tr-time linear;
            z-index: 3;
        }

        &__icon {
            display: flex;
            align-items: center;
            justify-content: center;
            transition: margin-bottom $tr;
            color: $c-accent;
            z-index: 3;

            svg {
                width: 16px;
                height: 16px;
                transition: all $tr;
            }
        }

        &.active,
        &:hover {
            color: $c-accent-dark;
        }

        &.active .nav-link__icon svg {
            transform: rotate(-45deg);
        }

    }

    &--small &__container {
        padding-top: 10px;
        background-color: $c-white;
    }
}