header.site-header(data-js="siteHeader")
    .header-banner(data-js="headerBanner")
        .header-banner__close(data-js="headerBannerClose")
            svg
                use(xlink:href=`img/sprites/sprite.svg#close`)
        .header-banner__content
            .header-banner__bg
                img(src="img/banner_bg.svg")
            .header-banner__left
                .header-banner__title Проведите майские с пользой: с нас — 12 занятий бонусом
                .header-banner__item
                    .header-banner__text + подарки для учебы на
                    .header-banner__sticker 45 000 ₽
            .header-banner__right
                +btn({
                    cMode: 'green',
                    name: 'Получить',
                    sMode: 'small'
                })
    .site-header__container
        .site-header__side
            .site-header__left
                a.site-header__logo(href="/")
                    img(src="img/full_logo.svg" alt="")

                .site-header__burger(data-js='mainBurgerOpen')
                    svg 
                        use(xlink:href=`img/sprites/sprite.svg#main_burger`)

                nav.site-header__nav
                    .nav-link
                        .nav-link__header
                            span.nav-link__text О гимназии
                            span.nav-link__icon
                                svg 
                                    use(xlink:href=`img/sprites/sprite.svg#chevron_down`)
                        .nav-link__list
                            a.nav-link__item(href="javascript:void(0)") Ссылка 1
                            a.nav-link__item(href="javascript:void(0)") Ссылка 2
                            a.nav-link__item(href="javascript:void(0)") Ссылка с длинным названием
                    .nav-link
                        .nav-link__header
                            span.nav-link__text Учащимся
                            span.nav-link__icon
                                svg 
                                    use(xlink:href=`img/sprites/sprite.svg#chevron_down`)
                        .nav-link__list
                            a.nav-link__item(href="javascript:void(0)") Ссылка 1
                            a.nav-link__item(href="javascript:void(0)") Ссылка 2
                            a.nav-link__item(href="javascript:void(0)") Ссылка с длинным названием
                    .nav-link
                        .nav-link__header
                            span.nav-link__text Будущим ученикам и их родителям
                            span.nav-link__icon
                                svg 
                                    use(xlink:href=`img/sprites/sprite.svg#chevron_down`)
                        .nav-link__list
                            a.nav-link__item(href="javascript:void(0)") Ссылка 1
                            a.nav-link__item(href="javascript:void(0)") Ссылка 2
                            a.nav-link__item(href="javascript:void(0)") Ссылка с длинным названием
            +btn({
                classes: 'site-header__vvi',
                icon: 'eye',
                sMode: 'icon',
                cMode: 'bordered'
            })

        .site-header__side.site-header__side--right
            +socials