.sidebar-layout {
    padding-bottom: 20px;

    &__container {
        padding: 25px 30px 30px;
        border-radius: 32px;
        background-color: $c-accent-light;

        @include max(laptop) {
            padding: 25px 20px;
        }

        @include max(tablet) {
            padding: 20px 15px;
            border-radius: 24px;
        }

        @include max(mobile) {
            padding: 15px 10px;
            border-radius: 20px;
            margin-left: -10px;
            margin-right: -10px;
        }
    }

    &__flex {
        margin-top: 80px;
        position: relative;
        display: flex;
        align-items: flex-start;
        gap: 30px;

        @include max(tablet) {
            margin-top: 32px;
        }

        @include max(mobile) {
            margin-top: 74px;
        }
    }

    &__sidebar {
        flex: 0 0 430px;
        background-color: $c-white;
        border-radius: 32px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 10px 0;

        @include max(large) {
            position: absolute;
            top: 0;
            left: 0px;
            width: 50px;
            background-color: transparent;
            z-index: 5;
            border-radius: 24px;
            overflow: hidden;
            transition: width $tr;
            padding: 0;
        }

        @include max(mobile) {
            top: -50px;
            width: 40px;
            max-width: 430px;
            border-radius: 16px;
            gap: 10px;
        }

        .side-menu {
            @include max(large) {
                opacity: 0;
                transition: opacity $tr-time;
            }
        }

        &--expanded {
            @include max(large) {
                width: 430px;
                background-color: $c-white;
            }

            @include max(mobile) {
                width: 100%;
                min-height: auto;
            }

            .side-menu {
                @include max(large) {
                    opacity: 1;
                }
            }

            .sidebar-toggle__btn--open {
                opacity: 0 !important;
            }

            .sidebar-toggle__btn--close {
                opacity: 1 !important;
            }
        }
    }

    &__main {
        flex: 1 1 auto;
        max-width: calc(100% - 408px - 30px);
        display: flex;
        flex-direction: column;
        gap: 20px;

        @include max(large) {
            padding-left: 74px;
            max-width: 100%;
        }

        @include max(tablet) {
            padding-left: 60px;
            gap: 10px;
        }

        @include max(mobile) {
            padding-left: 0;
        }

    }

    &__block {
        background-color: $c-white;
        border-radius: 32px;
        width: 100%;

        @include max(tablet) {
            border-radius: 24px;
        }

        @include max(mobile) {
            border-radius: 20px;

            .title--h2 {
                font-size: 32px;
            }

            .title--h3 {
                font-size: 20px;
            }

            .title--h4 {
                font-size: 18px;
            }

            .title--h5 {
                font-size: 16px;
            }
        }

        .text-editor,
        .text-editor>p,
        .text-editor>ul,
        .text-editor>li {
            font-size: 18px;

            @include max(tablet) {
                font-size: 16px;
            }

            @include max(mobile) {
                font-size: 14px;
            }
        }

        .text-editor h2+h3 {
            margin-top: 2.857em;

            @include max(mobile) {
                margin-top: 2em;
            }
        }
    }

    &__block-title {
        padding: 35px 50px;

        @include max(laptop) {
            padding: 24px 32px;
        }

        @include max(tablet) {
            padding: 20px;
        }

        @include max(mobile) {
            padding: 15px 10px;
        }


    }

    .m-columns {
        padding: 35px 50px 50px;
        border-top: 1px solid $c-border;
        gap: 50px;

        @include max(laptop) {
            padding: 24px 32px 32px;
            gap: 24px;
        }

        @include max(tablet) {
            padding: 20px;
        }

        @include max(mobile) {
            padding: 10px;
            gap: 16px;
        }

        &__header,
        &__main {
            flex: 0 1 50%;
        }
    }

    .side-menu {
        display: flex;
        flex-direction: column;
        list-style: none;

        &__item {
            padding: 10px 20px;

            @include max(mobile) {
                padding: 5px 10px;
            }
        }

        &__link {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 16px;
            min-height: 60px;
            padding: 12px 30px;
            border-radius: 32px;
            background-color: transparent;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.2em;
            letter-spacing: -0.01em;
            color: $c-accent;
            transition: background-color $tr, color $tr;

            @include max(mobile) {
                gap: 10px;
                min-height: 54px;
                padding: 10px 16px;
                border-radius: 20px;
                font-size: 14px;
            }

            svg {
                width: 16px;
                height: 16px;
                flex-shrink: 0;
                opacity: 0.3;
                transition: opacity $tr;
            }

            &:hover {
                background-color: $c-accent-light;

                svg {
                    opacity: 1;
                }
            }

            &--active {
                color: $c-white;
                background-color: $c-accent;

                svg {
                    opacity: 1;
                }
            }

            &::before {
                position: absolute;
                top: calc(100% + 9px);
                left: -20px;
                content: '';
                height: 3px;
                width: calc(100% + 40px);
                background-color: $c-white;
                opacity: 0;
                transition: all $tr;
                z-index: 1;

                @include max(mobile) {
                    top: calc(100% + 4px);
                    left: -10px;
                    width: calc(100% + 42px);
                }
            }

            &:hover::before,
            &--active::before {
                opacity: 1;
            }

            &--active {
                pointer-events: none;
            }
        }

        &__item+.side-menu__item .side-menu__link::after {
            position: absolute;
            bottom: calc(100% + 9.5px);
            left: -20px;
            content: '';
            height: 1px;
            width: calc(100% + 40px);
            background-color: $c-border;
            transition: all $tr;

            @include max(mobile) {
                bottom: calc(100% + 4.5px);
                left: -10px;
                width: calc(100% + 20px);
            }
        }

        &__item+.side-menu__item .side-menu__link:hover::after,
        &__item+.side-menu__item .side-menu__link--active::after {
            background-color: transparent;
        }
    }

    .sidebar-toggle {
        display: none;
        position: relative;
        height: 50px;
        width: 50px;
        background-color: $c-white;
        border-radius: 100%;

        @include max(large) {
            display: block;
        }

        @include max(mobile) {
            width: 40px;
            height: 40px;
        }

        &__btn {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 20px;
            height: 20px;
            color: $c-accent;

            @include max(mobile) {
                width: 20px;
                height: 20px;
            }

            svg {
                width: 100%;
                max-height: 100%;
            }

            &--open {
                opacity: 1;
                transition: opacity $tr-time;
            }

            &--close {
                opacity: 0;
                transition: opacity $tr-time;
            }
        }
    }
}