mixin sidebar-layout(breadcrumbs = {})
    .sidebar-layout
        .m-container
            .sidebar-layout__container
                +breadcrumbs(breadcrumbs)
                .sidebar-layout__flex
                    .sidebar-layout__sidebar(data-js='sidebarLayoutsidebar')
                        .sidebar-toggle(data-js='sidebarToggle')
                            .sidebar-toggle__btn.sidebar-toggle__btn--open
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#main_burger`)
                            .sidebar-toggle__btn.sidebar-toggle__btn--close
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#close`)
                        ul.side-menu
                            li.side-menu__item
                                a.side-menu__link.side-menu__link--active(href="#") Основные сведения
                                    svg
                                        use(xlink:href=`img/sprites/sprite.svg#arrow_right`)
                            li.side-menu__item
                                a.side-menu__link(href="#") Структура и органы управления образовательной организацией
                                    svg
                                        use(xlink:href=`img/sprites/sprite.svg#arrow_right`)
                            li.side-menu__item
                                a.side-menu__link(href="#") Документы
                                    svg
                                        use(xlink:href=`img/sprites/sprite.svg#arrow_right`)
                            li.side-menu__item
                                a.side-menu__link(href="#") Образование
                                    svg
                                        use(xlink:href=`img/sprites/sprite.svg#arrow_right`)
                            li.side-menu__item
                                a.side-menu__link(href="#") Руководство. Педагогический (научно-педагогический) состав
                                    svg
                                        use(xlink:href=`img/sprites/sprite.svg#arrow_right`)
                            li.side-menu__item
                                a.side-menu__link(href="#") Материально-техническое обеспечение и оснащённость образовательного процесса
                                    svg
                                        use(xlink:href=`img/sprites/sprite.svg#arrow_right`)
                            li.side-menu__item
                                a.side-menu__link(href="#") Доступная среда
                                    svg
                                        use(xlink:href=`img/sprites/sprite.svg#arrow_right`)
                            li.side-menu__item
                                a.side-menu__link(href="#") Платные образовательные услуги
                                    svg
                                        use(xlink:href=`img/sprites/sprite.svg#arrow_right`)
                            li.side-menu__item
                                a.side-menu__link(href="#") Финансово-хозяйственная деятельность
                                    svg
                                        use(xlink:href=`img/sprites/sprite.svg#arrow_right`)
                            li.side-menu__item
                                a.side-menu__link(href="#") Вакантные места для приема (перевода) обучающихся
                                    svg
                                        use(xlink:href=`img/sprites/sprite.svg#arrow_right`)
                            li.side-menu__item
                                a.side-menu__link(href="#") Международное сотрудничество
                                    svg
                                        use(xlink:href=`img/sprites/sprite.svg#arrow_right`)
                            li.side-menu__item
                                a.side-menu__link(href="#") Организация питания в образовательной организации
                                    svg
                                        use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    .sidebar-layout__main
                        block
