.sidebar-layout {
    padding-bottom: 20px;

    &__container {
        padding: 25px 30px 30px;
        border-radius: 32px;
        background-color: $c-accent-light;
    }

    &__flex {
        margin-top: 80px;
        position: relative;
        display: flex;
        align-items: flex-start;
        gap: 30px;
    }

    &__sidebar {
        flex: 0 0 430px;
        background-color: $c-white;
        border-radius: 32px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 10px 0;

        @include max(large) {
            position: absolute;
            top: 0;
            left: 28px;
            width: 50px;
            background-color: $c-bg-main;
            z-index: 5;
            min-height: 100%;
            overflow: hidden;
            transition: width $tr-time;
        }

        @include max(laptop) {
            left: 20px;
        }

        @include max(tablet) {
            left: 15px;
        }

        @include max(mobile) {
            left: 0;
            width: 40px;
            max-width: 408px;
            margin-top: 30px;
            max-height: calc(100vh - 30px - 64px);

            &::-webkit-scrollbar {
                width: 5px;
                height: 5px;
            }

            &::-webkit-scrollbar-track {
                background-color: transparent;
            }

            &::-webkit-scrollbar-thumb {
                background-color: $c-accent-middle;
                border-radius: 8px;
            }
        }

        .side-menu {
            @include max(large) {
                opacity: 0;
                transition: opacity $tr-time;
            }
        }

        &--expanded {
            @include max(large) {
                width: 408px;
            }

            @include max(mobile) {
                width: 100%;
                min-height: auto;
                overflow: auto;
            }

            .side-menu {
                @include max(large) {
                    opacity: 1;
                }
            }

            .sidebar-toggle__btn--open {
                opacity: 0 !important;
            }

            .sidebar-toggle__btn--close {
                opacity: 1 !important;
            }
        }
    }

    &__main {
        flex: 1 1 auto;
        max-width: calc(100% - 408px - 30px);
        display: flex;
        flex-direction: column;
        gap: 20px;

        @include max(large) {
            padding-left: 50px;
            max-width: 100%;
        }

    }

    &__block {
        background-color: $c-white;
        border-radius: 32px;
        width: 100%;

        .text-editor,
        .text-editor>p,
        .text-editor>ul,
        .text-editor>li {
            font-size: 18px;

            @include max(tablet) {
                font-size: 16px;
            }

            @include max(mobile) {
                font-size: 14px;
            }
        }
    }

    &__subtitle {
        padding: 35px 50px;
    }

    &__item {
        padding: 35px 50px 50px;
        border-top: 1px solid $c-border;

        &--grid {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 50%));
            gap: 50px;
        }
    }

    /*&__content {
        display: flex;
        flex-direction: column;
        gap: 50px;

        @include max(tablet) {
            gap: 30px;
        }

        @include max(mobile) {
            gap: 20px;
        }
    }*/

    .side-menu {
        display: flex;
        flex-direction: column;
        list-style: none;

        &__item {
            padding: 10px 20px;
        }

        &__link {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 16px;
            min-height: 60px;
            padding: 12px 30px;
            border-radius: 32px;
            background-color: transparent;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.2em;
            letter-spacing: -0.01em;
            color: $c-accent;
            transition: background-color $tr, color $tr;

            svg {
                width: 16px;
                height: 16px;
                flex-shrink: 0;
                opacity: 0.3;
                transition: opacity $tr;
            }

            &:hover,
            &--active {
                color: $c-white;
                background-color: $c-accent;

                svg {
                    opacity: 1;
                }
            }

            &--active {
                pointer-events: none;
            }
        }

        &__item+.side-menu__item .side-menu__link::after {
            position: absolute;
            bottom: calc(100% + 9.5px);
            left: -20px;
            content: '';
            height: 1px;
            width: calc(100% + 40px);
            background-color: $c-border;
            transition: all $tr;
        }
    }

    .sidebar-toggle {
        display: none;
        position: relative;
        height: 50px;
        width: 50px;

        @include max(large) {
            display: block;
        }

        @include max(mobile) {
            width: 40px;
            height: 40px;
        }

        &__btn {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 30px;
            height: 30px;
            color: $c-accent;

            svg {
                width: 100%;
                max-height: 100%;
            }

            &--open {
                opacity: 1;
                transition: opacity $tr-time;
            }

            &--close {
                opacity: 0;
                transition: opacity $tr-time;
            }
        }
    }
}