mixin mixins()
    //- Компоненты
    include ../../blocks/components/title/title
    include ../../blocks/components/breadcrumbs/breadcrumbs
    include ../../blocks/components/link-block/link-block
    include ../../blocks/components/socials/socials
    include ../../blocks/components/multi-menu/multi-menu
    include ../../blocks/components/s-filter/s-filter
    include ../../blocks/components/news-card/news-card
    include ../../blocks/components/btn/btn
    include ../../blocks/components/pagination/pagination
    include ../../blocks/components/quote/quote
    include ../../blocks/components/form/form
    include ../../blocks/components/field/field
    include ../../blocks/components/field-file/field-file
    include ../../blocks/components/link-unit/link-unit
    include ../../blocks/components/modal/modal
    include ../../blocks/components/programm-card/programm-card
    include ../../blocks/components/video/video
    include ../../blocks/components/select/select
    include ../../blocks/components/spoiler/spoiler
    include ../../blocks/components/section-tag/section-tag
    include ../../blocks/components/c-review/c-review
    include ../../blocks/components/tooltip/tooltip
    include ../../blocks/components/filter-form/filter-form
    include ../../blocks/components/cookie/cookie

    //- Модули
    include ../../blocks/modules/auto-slider/auto-slider
    include ../../blocks/modules/callback-form/callback-form
    include ../../blocks/modules/footer/footer
    include ../../blocks/modules/home-process/home-process
    include ../../blocks/modules/home-info/home-info
    include ../../blocks/modules/home-methods/home-methods
    include ../../blocks/modules/home-conditions/home-conditions
    include ../../blocks/modules/home-about/home-about
    include ../../blocks/modules/home-news/home-news
    include ../../blocks/modules/i-intro/i-intro
    include ../../blocks/modules/i-questions/i-questions
    include ../../blocks/modules/info-slider/info-slider
    include ../../blocks/modules/lp-links/lp-links
    include ../../blocks/modules/lp-section/lp-section
    include ../../blocks/modules/m-columns/m-columns
    include ../../blocks/modules/m-table/m-table
    include ../../blocks/modules/m-questions/m-questions
    include ../../blocks/modules/news-list/news-list
    include ../../blocks/modules/news-socials/news-socials
    include ../../blocks/modules/news-detailed/news-detailed
    include ../../blocks/modules/people-intro/people-intro
    include ../../blocks/modules/people-list/people-list
    include ../../blocks/modules/programms-list/programms-list
    include ../../blocks/modules/programm-info/programm-info
    include ../../blocks/modules/sidebar-layout/sidebar-layout
    include ../../blocks/modules/s-skills/s-skills
    include ../../blocks/modules/s-vacancy/s-vacancy
    include ../../blocks/modules/s-partners/s-partners
    include ../../blocks/modules/s-numbers/s-numbers
    include ../../blocks/modules/s-distribution/s-distribution
    include ../../blocks/modules/s-img/s-img
    include ../../blocks/modules/s-contacts/s-contacts
    include ../../blocks/modules/s-quote/s-quote
    include ../../blocks/modules/t-columns/t-columns
    include ../../blocks/modules/projects/projects
    include ../../blocks/modules/s-teatchers/s-teatchers