.callback-form {

    &__content {
        display: flex;
        align-items: stretch;
        gap: 85px;
        padding: 40px;
        background-color: $c-accent-dark;
        border-radius: 32px;

        @include max(laptop) {
            flex-direction: column;
            gap: 64px;
            padding: 32px;
        }

        @include max(tablet) {
            border-radius: 24px;
            padding: 24px;
            gap: 16px;
        }

        @include max(mobile) {
            flex-direction: column;
            padding: 15px 10px;
            gap: 0;
        }
    }

    &__left {
        display: flex;
        flex-direction: column;
        flex: 0 0 44%;

        @include max(laptop) {
            flex-basis: auto;
        }
    }

    &__title {
        font-size: 44px;

        @include max(mobile) {
            font-size: 32px;
        }

        @include max(xs) {
            font-size: 28px;
        }
    }


    &__text {
        margin-top: 20px;

        &.text-editor,
        &.text-editor p,
        &.text-editor li,
        &.text-editor a {
            font-size: 20px;

            @include max(tablet) {
                font-size: 16px;
            }

            @include max(mobile) {
                font-size: 14px;
            }
        }
    }



    &__bottom {
        margin-top: auto;
    }

    &__form {
        flex: 0 0 50%;
        padding: 0;
        background-color: transparent;

        @include max(mobile) {
            padding: 30px 0 0;
        }
    }
}