-
    const defaultCallbackFormProps = {
        classes: '',
    }

mixin callback-form(props = defaultCallbackFormProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultCallbackFormProps.classes,
        }

    section.callback-form(class= checkProps.classes)
        .m-container
            .callback-form__content 
                .callback-form__left
                    .title.title--h2.title--light.callback-form__title <span>Анкета-заявка</span><br> на курсы дополнительного профессионального образования
                    .callback-form__text.text-editor.text-editor--light Заполните заявку на курсы
                    .callback-form__bottom
                        .callback-form__text.text-editor.text-editor--light Уточнить информацию вы можете <br>по телефонам: +7 (999) 900 90 90 <br>E-mail: cdo@adele.ru <br><br>Мы обязательно свяжемся с Вами!

                +form({
                    classes: 'callback-form__form form--dark',
                    title: '',
                    text: '',
                    btnText: 'Отправить',
                    btnCMode: 'lightTitle',
                    privacyText: `Даю согласие на обработку своих персональных данных, <span>включая сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, распространение (в том числе передачу), обезличивание, блокирование и уничтожение персональных данных, в порядке, установленном Федеральным законом от 27 июля 2006 г. №152-ФЗ «О персональных данных».</span>`
                })
                    .form__flex
                        +field({
                            classes: 'field--dark',
                            type: 'text',
                            title: '',
                            placeholder: 'ФИО контактного лица*',
                            resetBtn: false,
                            inputAttr: {
                                'required': '',
                                'data-type':'letters'
                            },
                        })
                        +field({
                            classes: '',
                            tag: 'select',
                            placeholder: 'Интересуют курсы подготовки',
                            selectOptions: [
                                "",
                                "Очно",
                                "Онлайн",
                            ],
                            inputAttr: {
                                'required': ''
                            },
                            selectGreen: true
                        })
                    .form__flex    
                        +field({
                            classes: 'field--dark',
                            type: 'tel',
                            title: '',
                            placeholder: 'Телефон*',
                            inputAttr: {
                                'data-type': 'phoneNumber',
                                'data-v-name': 'phone',
                                'required': ''
                            },
                            resetBtn: false
                        })
                        +field({
                            classes: '',
                            tag: 'select',
                            placeholder: 'Вы планируете учиться',
                            selectOptions: [
                                "",
                                "Очно",
                                "Онлайн",
                            ],
                            inputAttr: {
                                'required': ''
                            },
                            selectGreen: true
                        })
                    .form__flex
                        +field({
                            classes: 'field--dark',
                            type: 'email',
                            title: '',
                            placeholder: 'Email',
                            inputAttr: {
                                'data-v-name': 'email',
                                'required': ''
                            },
                            resetBtn: false
                        })
                        +field({
                            classes: '',
                            tag: 'select',
                            placeholder: 'Продолжительность курсов',
                            selectOptions: [
                                "",
                                "2 месяца",
                                "3 месяца",
                                "4 месяца",
                            ],
                            inputAttr: {
                                'required': ''
                            },
                            selectGreen: true
                        })

                    +field({
                        classes: 'field--dark',
                        tag: 'textarea',
                        title: '',
                        placeholder: 'Текст обращения',
                    })



