-
    const defaultCallbackFormProps = {
        classes: '',
    }

mixin callback-form(props = defaultCallbackFormProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultCallbackFormProps.classes,
        }

    section.callback-form(class= checkProps.classes)
        .m-container
            .callback-form__content 
                .callback-form__left
                    .title.title--h2.title--light.callback-form__title <span>Анкета-заявка</span><br> на курсы дополнительного профессионального образования
                    .callback-form__text.text-editor.text-editor--light Заполните заявку на курсы
                    .callback-form__bottom
                        .callback-form__text.text-editor.text-editor--light Уточнить информацию вы можете <br>по телефонам: +7 (999) 900 90 90 <br>E-mail: cdo@adele.ru <br><br>Мы обязательно свяжемся с Вами!

                +form({
                    classes: 'callback-form__form',
                    title: '',
                    text: '',
                    btnText: 'Отправить',
                    btnCMode: 'lightTitle'
                })
                    .form__flex
                        +field({
                            classes: '',
                            type: 'text',
                            title: '',
                            placeholder: 'ФИО',
                            resetBtn: false,
                            inputAttr: {
                                'data-v-name': 'letters'
                            },
                        })
                        +field({
                            classes: '',
                            type: 'tel',
                            title: '',
                            placeholder: '+7 (___) ___-__-__',
                            inputAttr: {
                                'data-type': 'phoneNumber',
                                'data-v-name': 'phone'
                            },
                            resetBtn: false
                        })
                    .form__flex
                        +field({
                            classes: '',
                            type: 'email',
                            title: '',
                            placeholder: 'Email',
                            inputAttr: {
                                'data-v-name': 'email'
                            },
                            resetBtn: false
                        })
                        +field({
                            classes: '',
                            type: 'text',
                            title: '',
                            placeholder: 'Тема обращения',
                            resetBtn: false
                        })

                    +field({
                        classes: '',
                        tag: 'textarea',
                        title: '',
                        placeholder: 'Текст обращения',
                    })



