noindex
    div
        //- код модалок сюда
        +modal({modalId:"bannerModal", classes:"form-modal"})(data-js="bannerModal")
            +form({
                classes: '',
                title: 'Оставить заявку',
                text: '',
                btnText: 'Отправить',
                })
                    +field({
                        classes: '',
                        type: 'text',
                        title: '',
                        placeholder: 'ФИО контактного лица',
                        inputAttr: {
                            'required': '',
                            'data-type': 'letters'
                        },
                    })
                    +field({
                        classes: '',
                        type: 'tel',
                        title: '',
                        placeholder: 'Телефон',
                        inputAttr: {
                            'data-type': 'phoneNumber',
                            'required': '',
                            'data-v-name': 'phone'
                        },
                    })
                    +field({
                        classes: '',
                        type: 'email',
                        title: '',
                        placeholder: 'Email',
                        inputAttr: {
                            'data-v-name': 'email',
                            'required': ''
                        },
                    })

        +modal({modalId:"requestModal", classes:"form-modal"})(data-js="requestModal")
            +form({
                classes: '',
                title: 'Оставить заявку',
                text: '',
                btnText: 'Отправить',
                })
                    +field({
                        classes: '',
                        type: 'text',
                        title: '',
                        placeholder: 'ФИО контактного лица*',
                        inputAttr: {
                            'required': '',
                            'data-type': 'letters'
                        },
                    })
                    +field({
                        classes: '',
                        type: 'tel',
                        title: '',
                        placeholder: 'Телефон*',
                        inputAttr: {
                            'data-type': 'phoneNumber',
                            'required': '',
                            'data-v-name': 'phone'
                        },
                    })
                    +field({
                        classes: '',
                        type: 'email',
                        title: '',
                        placeholder: 'Email',
                        inputAttr: {
                            'data-v-name': 'email',
                            'required': ''
                        },
                    }) 

                    +field({
                        classes: '',
                        tag: 'textarea',
                        title: '',
                        placeholder: 'Текст обращения',
                    })

                    +field-file({
                        placeholder: 'Прикрепить файл',
                        inputAttr: {
                            'data-v-name': 'file',
                            'data-size': '10485760',
                            'accept': 'image/*, text/plain, .docx, .pdf'
                        },
                    })

        +modal({modalId:"recommendationModal", classes:"form-modal"})(data-js="recommendationModal")
            +form({
                classes: '',
                title: 'Оставить заявку',
                text: '',
                btnText: 'Отправить',
                })
                    +field({
                        classes: '',
                        type: 'text',
                        title: '',
                        placeholder: 'ФИО учителя',
                        inputAttr: {
                            'disabled': '',
                        },
                    })
                    +field({
                        classes: '',
                        type: 'text',
                        title: '',
                        placeholder: 'Кто порекомендовал*',
                        inputAttr: {
                            'required': '',
                            'data-type': 'letters'
                        },
                    })
                    +field({
                        classes: '',
                        type: 'text',
                        title: '',
                        placeholder: 'ФИО контактного лица*',
                        inputAttr: {
                            'required': '',
                            'data-type': 'letters'
                        },
                    })
                    +field({
                        classes: '',
                        type: 'tel',
                        title: '',
                        placeholder: 'Телефон*',
                        inputAttr: {
                            'data-type': 'phoneNumber',
                            'required': '',
                            'data-v-name': 'phone'
                        },
                    })
                    +field({
                        classes: '',
                        type: 'email',
                        title: '',
                        placeholder: 'Email',
                        inputAttr: {
                            'data-v-name': 'email',
                            'required': ''
                        },
                    }) 

                    +field({
                        classes: '',
                        tag: 'textarea',
                        title: '',
                        placeholder: 'Текст обращения',
                    })

                    +field-file({
                        placeholder: 'Прикрепить файл',
                        inputAttr: {
                            'data-v-name': 'file',
                            'data-size': '10485760',
                            'accept': 'image/*, text/plain, .docx, .pdf'
                        },
                    })

        +modal({modalId:"consultPModal", classes:"form-modal"})(data-js="consultPModal")
            +form({
                classes: '',
                title: 'Запись на консультацию',
                text: '',
                btnText: 'Отправить',
                })
                    +field({
                        classes: '',
                        type: 'text',
                        title: '',
                        placeholder: '',
                        inputAttr: {
                            'disabled': '',
                            'value': 'Ступень 10'
                        },
                    })
                    +field({
                        classes: '',
                        type: 'text',
                        title: '',
                        placeholder: 'ФИО контактного лица*',
                        inputAttr: {
                            'required': '',
                            'data-type': 'letters'
                        },
                    })
                    +field({
                        classes: '',
                        type: 'tel',
                        title: '',
                        placeholder: 'Телефон*',
                        inputAttr: {
                            'data-type': 'phoneNumber',
                            'required': '',
                            'data-v-name': 'phone'
                        },
                    })
                    +field({
                        classes: '',
                        type: 'email',
                        title: '',
                        placeholder: 'Email',
                        inputAttr: {
                            'data-v-name': 'email',
                            'required': ''
                        },
                    }) 

                    +field({
                        classes: '',
                        tag: 'textarea',
                        title: '',
                        placeholder: 'Текст обращения',
                    })

        +modal({modalId:"questionModal", classes:"form-modal"})(data-js="questionModal")
            +form({
                classes: '',
                title: 'Задать вопрос',
                text: '',
                btnText: 'Отправить',
                })
                    +field({
                        classes: '',
                        type: 'text',
                        title: '',
                        placeholder: 'ФИО контактного лица*',
                        inputAttr: {
                            'required': '',
                            'data-type': 'letters'
                        },
                    })
                    +field({
                        classes: '',
                        type: 'tel',
                        title: '',
                        placeholder: 'Телефон*',
                        inputAttr: {
                            'data-type': 'phoneNumber',
                            'required': '',
                            'data-v-name': 'phone'
                        },
                    })
                    +field({
                        classes: '',
                        type: 'email',
                        title: '',
                        placeholder: 'Email',
                        inputAttr: {
                            'data-v-name': 'email',
                            'required': ''
                        },
                    }) 

                    +field({
                        classes: '',
                        tag: 'textarea',
                        title: '',
                        placeholder: 'Текст вопроса',
                    })

        +modal({modalId:"projectModal", classes:"project-modal"})(data-js="projectModal")
            +lp-section({
            })(data-js="rightScroll")
                .project-modal__title.title.title--h4 Разработка сайта завода испытательного оборудования
                +m-columns({
                    title: `<a href="img/projects/project_4.webp" data-fancybox class="lp-section__media"><img src="img/projects/project_4.webp"></a>
                        <a class="btn  btn--bordered btn--small" href="#"><span>Площадка проекта</span>
                            <svg> 
                                <use xlink:href="img/sprites/sprite.svg#arrow_up_right"></use>
                            </svg></a>
                            <a class="btn  btn--bordered btn--small" href="#"><span>Behance</span>
                            <svg> 
                                <use xlink:href="img/sprites/sprite.svg#arrow_up_right"></use>
                            </svg></a>
                            <a class="btn  btn--bordered btn--small" href="#"><span>Telegram автора проекта</span>
                            <svg> 
                                <use xlink:href="img/sprites/sprite.svg#arrow_up_right"></use>
                            </svg></a>`
                })
                    .lp-section__desc.text-editor
                        h2 О проекте
                        p Новый клиент, уже известная отрасль и запрос на wow-эффект. Как отстроится от конкурентов в нише при этом прокачав свой бренд и увеличив продажи в несколько раз? Делимся кейсом по модернизации сайта В2В-компании.

                        p Ниша специфичная, полностью инженерная. Основная ЦА - государственные учреждения, лаборатории, крупные металлургические предприятия и подобные организации.

                        p Вместе с клиентом выделили две основные задачи сайта: 

                        ul
                            li Пересобрать сайт в современном стиле. Весь коллектив завода хотел новый этап в жизни завода - отличный новый сайт, который бы закрыл огромный список бизнес-задач, а еще был красивой картинкой среди тусклых сайтов конкурентов. На сайте должен быть интуитивно понятный интерфейс и актуальная информация, чтобы покупателям не приходилось обращаться к менеджерам. Но еще очень сильно хотелось анимации и 3D-рендеров популярных товаров.

                            li Построить новый сайт, и в этот раз его не бросать, а развивать. Сайт должен был повторить историю завода - новое место, новое здание, старый коллектив, горящие глаза и вера что все сегодня все будет лучше чем вчера. Сайт должен был сохранить ценности и принципы завода, а также дать виток событий, которые бы запустили цикл расширения информации о заводе.

                        h2 О проекте

                        p Новый клиент, уже известная отрасль и запрос на wow-эффект. Как отстроится от конкурентов в нише при этом прокачав свой бренд и увеличив продажи в несколько раз? Делимся кейсом по модернизации сайта В2В-компании.

                        p Ниша специфичная, полностью инженерная. Основная ЦА - государственные учреждения, лаборатории, крупные металлургические предприятия и подобные организации.

                        p Вместе с клиентом выделили две основные задачи сайта: 

                        ul
                            li Пересобрать сайт в современном стиле. Весь коллектив завода хотел новый этап в жизни завода - отличный новый сайт, который бы закрыл огромный список бизнес-задач, а еще был красивой картинкой среди тусклых сайтов конкурентов. На сайте должен быть интуитивно понятный интерфейс и актуальная информация, чтобы покупателям не приходилось обращаться к менеджерам. Но еще очень сильно хотелось анимации и 3D-рендеров популярных товаров.

                            li Построить новый сайт, и в этот раз его не бросать, а развивать. Сайт должен был повторить историю завода - новое место, новое здание, старый коллектив, горящие глаза и вера что все сегодня все будет лучше чем вчера. Сайт должен был сохранить ценности и принципы завода, а также дать виток событий, которые бы запустили цикл расширения информации о заводе.

                        h2 О проекте

                        p Новый клиент, уже известная отрасль и запрос на wow-эффект. Как отстроится от конкурентов в нише при этом прокачав свой бренд и увеличив продажи в несколько раз? Делимся кейсом по модернизации сайта В2В-компании.

                        p Ниша специфичная, полностью инженерная. Основная ЦА - государственные учреждения, лаборатории, крупные металлургические предприятия и подобные организации.

                        p Вместе с клиентом выделили две основные задачи сайта: 

                        ul
                            li Пересобрать сайт в современном стиле. Весь коллектив завода хотел новый этап в жизни завода - отличный новый сайт, который бы закрыл огромный список бизнес-задач, а еще был красивой картинкой среди тусклых сайтов конкурентов. На сайте должен быть интуитивно понятный интерфейс и актуальная информация, чтобы покупателям не приходилось обращаться к менеджерам. Но еще очень сильно хотелось анимации и 3D-рендеров популярных товаров.

                            li Построить новый сайт, и в этот раз его не бросать, а развивать. Сайт должен был повторить историю завода - новое место, новое здание, старый коллектив, горящие глаза и вера что все сегодня все будет лучше чем вчера. Сайт должен был сохранить ценности и принципы завода, а также дать виток событий, которые бы запустили цикл расширения информации о заводе.

