.hystmodal__shadow.hystmodal__shadow--show {
    background-color: #000;
    opacity: 0.7;
}

.form-modal {

    .modal__inner {
        max-height: 80vh;
        max-width: calc(100% + 8px);
        overflow: auto;
        margin-right: -8px;
        padding-right: 5px;

        &::-webkit-scrollbar {
            width: 3px;
            height: 3px;
        }

        &::-webkit-scrollbar-track {
            background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #688D80;
            border-radius: 2px;
        }
    }

    .form {
        padding: 0;
        background-color: transparent;

        &__title {
            color: $c-accent;
            text-align: center;
            padding: 0 40px;
            margin-bottom: 0;
            font-size: 28px;
            font-weight: 500;
            line-height: 1.2em;
            letter-spacing: -0.02em;
            color: $c-accent;
        }

        &__thanks {
            background-color: transparent;
        }

        &__thanks .form__title {
            font-weight: 500;
            font-size: 36px;
            line-height: 1.1em;
            letter-spacing: -0.02em;
            max-width: 430px;
        }

        &__thanks .form__text {
            color: $c-accent;
        }

        &--sent {
            min-height: auto !important;
        }

        @include max(mobile) {
            padding: 0;
        }
    }

    .form-privacy__text {
        max-width: 360px;
    }

    .form__title+.form__fields,
    .form__text+.form__fields,
    .form__fields+.form__fields {
        margin-top: 30px;
    }

    .field__input,
    .field__textarea,
    .field-file__fakeinput,
    .btn {
        padding: 16px 20px;
    }

    .field--checkbox,
    .field--radio {
        .field__title {
            font-size: 16px;
        }
    }
}