-
    const defaultPeopleIntroProps = {
        classes: '',
        inner: false,
        breadcrumbs: false,
        title: false,
        name: '<span>Умаров</span><br>Малик Мусаевич',
        photo: 'img/peoples/people.webp'
    }

mixin people-intro(props = defaultPeopleIntroProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultPeopleIntroProps.classes,
            inner: props.inner ? props.inner : defaultPeopleIntroProps.inner,
            breadcrumbs: props.breadcrumbs ? props.breadcrumbs : defaultPeopleIntroProps.breadcrumbs,
            title: props.title ? props.title : defaultPeopleIntroProps.title,
            name: props.name ? props.name : defaultPeopleIntroProps.name,
            photo: props.photo ? props.photo : defaultPeopleIntroProps.photo,
        }

        let innerClass = checkProps.inner === true ? ' people-intro--inner' : ''

    .people-intro(class=checkProps.classes + innerClass)&attributes(attributes)
        .m-container
            .people-intro__container
                - if(checkProps.breadcrumbs !== false)
                    +breadcrumbs(checkProps.breadcrumbs)
                - if(checkProps.title !== false)
                    .title.title--h2.people-intro__title!= checkProps.title
                .people-intro__flex
                    .people-intro__intro
                        .people-intro__img
                            img(src= checkProps.photo)
                        .people-intro__info
                            - if(checkProps.inner !== false)
                                +btn({
                                    cMode: 'bordered',
                                    icon: 'arrow_up_right',
                                    name: 'Приветственное слово',
                                    sMode: 'full',
                                    link: 'public/video/review.mp4'
                                })(data-fancybox data-thumb="img/lp/lp_sec_1.webp")
                                .people-intro__contacts
                                    .people-intro__contact
                                        .left Телефон
                                        a.right(href="tel:+74950657171" target="_blank") +7 (495) 065-71-71
                                    .people-intro__contact
                                        .left E-mail
                                        a.right(href="mailto:school@adeleschool.ru" target="_blank") school@adeleschool.ru
                            - else
                                +btn({
                                    cMode: 'bordered',
                                    icon: 'arrow_up_right',
                                    name: 'Приветственное слово преподавателя',
                                    sMode: 'full',
                                    link: 'public/video/review.mp4'
                                })(data-fancybox data-thumb="img/lp/lp_sec_1.webp")
                                .people-intro__details
                                    .text-editor
                                        p Предметы
                                    .text-editor
                                        ul
                                            li Арабский язык 
                                            li Английский язык 
                                            li Курс “Компьютерная грамотность”
                                +btn({
                                    cMode: 'green',
                                    icon: 'hand_break',
                                    name: 'Иду по рекомендации',
                                    sMode: 'full'
                                })(data-modal='#requestModal')

                    .people-intro__content
                        .title.title--h2.people-intro__name!= checkProps.name
                        block
