.people-intro {

    .text-editor * {
        font-weight: 500;
    }

    &__container {
        background-color: $c-accent-light;
        border-radius: 32px;
        padding: 25px 30px 30px;

        @include max(tablet) {
            padding: 20px;
            border-radius: 24px;
        }

        @include max(mobile) {
            width: calc(100% + 20px);
            padding: 16px 10px;
            margin-left: -10px;
            margin-right: -10px;
        }
    }

    &__breadcrumbs {
        margin-bottom: 80px;


        @include max(tablet) {
            margin-bottom: 50px;
        }
    }

    &__flex {
        display: flex;
        align-items: flex-start;
        gap: 30px;

        @include max(laptop) {
            flex-direction: column;
            align-items: stretch;
        }

        @include max(mobile) {
            gap: 20px;
        }
    }

    &__intro {
        flex: 0 0 520px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        @include max(laptop) {
            flex-basis: auto;
            flex-direction: row;
            align-items: stretch;
        }

        @include max(mobile) {
            flex-direction: column;
            gap: 20px;
        }
    }

    &__img {
        width: 100%;
        aspect-ratio: 1 / 1;
        border-radius: 24px;
        overflow: hidden;

        @include max(laptop) {
            width: 50%;
        }

        @include max(tablet) {
            width: 35%;
        }

        @include max(mobile) {
            width: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 24px;
        background-color: $c-white;
        border-radius: 24px;

        @include max(laptop) {
            width: 50%;
        }

        @include max(tablet) {
            width: 65%;
        }

        @include max(mobile) {
            width: 100%;
            padding: 10px;
        }
    }

    &__details {
        display: grid;
        grid-template-columns: minmax(0, 44%) minmax(0, 56%);
        padding: 14px;

        @include max(laptop) {
            margin: auto 0;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        background-color: $c-white;
        border-radius: 16px;

        @include max(mobile) {}

    }

    &__title {
        padding: 30px 40px;

        @include max(mobile) {
            padding: 10px 10px 20px;
        }
    }

    &__item {
        display: flex;
        align-items: flex-start;
        color: $c-accent;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.2em;
        letter-spacing: -0.01em;
        padding: 14px 40px;
        border-top: 1px solid $c-border;

        @include max(mobile) {
            font-size: 14px;
            padding: 10px;
        }
    }

    &__param {
        opacity: 0.4;
        flex: 0 0 54%;
        padding-right: 24px;

        @include max(mobile) {
            flex-basis: 48%;
            padding-right: 10px;
        }
    }

    &__desc {
        padding: 34px 40px;
        border-top: 1px solid $c-border;

        @include max(mobile) {
            padding: 20px 10px;
        }

        ol,
        ul {
            display: flex;
            flex-direction: column;
            gap: 1.125em;
        }
    }

    /*&__showmore {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 5px;
        min-height: 44px;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.02em;
        text-align: left;
        color: $c-accent;
        cursor: pointer;

        .show-more {
            display: none;
        }

        .show-less {
            display: block;
        }

        svg {
            margin-top: 3px;
            flex: 0 0 10px;
            transform: rotate(-90deg);
        }
    }

    .collapsed &__showmore {
        .show-more {
            display: block;
        }

        .show-less {
            display: none;
        }

        svg {
            transform: rotate(90deg);
        }
    }*/
}