.field-file {
    position: relative;
    display: flex;
    flex-direction: column;
    width: fit-content;
    max-width: 100%;
    padding: 0;
    border: none;

    &.field--invalid {
        .field-file__fakeinput {
            border-color: $c-error;
        }

        .field-file__error {
            max-height: calc(1.4em + 4px);
        }
    }

    &--full {
        .field-file__fakeinput {
            .icon-empty {
                display: none;
            }

            .icon-full {
                display: block;
            }
        }
    }

    &__fakeinput {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 6px;
        width: 100%;
        padding: 10px 16px;
        border: 1px solid rgba(130, 160, 149, 0.3);
        border-radius: 32px;
        color: $c-accent;
        font-family: $ff-main;
        font-size: 14px;
        line-height: 1.2em;
        font-weight: 400;
        min-height: 44px;
        outline: none;
        cursor: pointer;

        .icon-empty {
            width: 24px;
            height: 24px;
            display: block;

            svg {
                width: 24px;
                height: 24px;
                color: #B4C6BF;

            }
        }

        .icon-full {
            display: none;
            width: 24px;
            height: 24px;

            svg {
                width: 24px;
                height: 24px;

                color: $c-accent;
            }
        }
    }

    &__error {
        position: absolute;
        top: calc(100% + 2px);
        left: 0;
        width: 100%;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.18em;
        color: $c-error;
        display: none;
    }

    &__note {
        font-size: 12px;
        font-weight: 500;
        line-height: 1.02em;
        color: #B0B2B7;
        font-size: 11px;
    }

    &__input {
        position: absolute;
        width: 0;
        height: 0;
        overflow: hidden;
        opacity: 0;
        z-index: -10;
    }
}