-
    const defaultSFilterProps = {
        classes: '',
        title: '',
        items: [
            '1 — 4 ступень',
            '5 — 7 ступень',
            '8 — 9 ступень',
            '10 — 11 ступень',
            'Дошкольная подготовка "ПЕСОЧНИЦА"',
            'Репетиторство, подготовка ОГЭ/ЕГЭ',
        ]
    }

mixin s-filter(props = defaultSFilterProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultSFilterProps.classes,
            title: props.title ? props.title : defaultSFilterProps.title,
            items: props.items ? props.items : defaultSFilterProps.items
        }

    .s-filter(class=checkProps.classes data-js="sFilter")
        - if(checkProps.title.length > 0)
            .title.title--h5.s-filter__title!= checkProps.title
        .s-filter__list(data-js="sFilterSlider")
            .swiper-wrapper
                each val, index in checkProps.items
                    .s-filter__item.swiper-slide(class= `${checkProps.classes} ${(index === 0) ? "active" : ""}`)!= val