extends ../layouts/default

block variables
    - const title = "О гимназии"
    - const greenBg = true

block content
    .page(data-js="page")
        .page-layout
            +i-intro({
                title: '<span>О гимназии</span><br>Адель',
                isSmall: true,
                breadcrumbs: {
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'О гимназии',
                            link: 'javascript:void(0);'
                        }
                    ],
                }

            })

            +lp-section({
                classes: 'p-default'
            })
                +m-columns({
                    title: `<div class="title title--h3">Дата основания</div>`
                })
                    .lp-section__desc.text-editor
                        p Онлайн-гимназия АДЕЛЬ была основана в 2022 году группой высокообразованных преподавателей с целью представить общероссийское образование высшего уровня с учётом исламских ценностей, при этом сделать её доступной и высокоэффективной

                +m-columns({
                    title: `<div class="title title--h3">Миссия</div>`
                })
                    .lp-section__desc.text-editor
                        p Наша миссия — предоставить детям уникальную возможность получить образование, которое открывает перед ними двери к знаниям, просветлению и раскрытию собственного потенциала. 

                        p Этот проект не только нацелен на будущее каждого ученика, но и является вкладом в сохранение и продвижение исламских ценностей и культуры в современном мире.

                        p Образовательная программа гимназии была разработана с учетом всего опыта и знаний А. А. Любимова и его команды. 

                        p Она включает передовые методы обучения, основанные на диагностике и преодолении ошибок, а также уделяет немалое внимание развитию софт скиллс-универсальных навыков, необходимых для успешной жизни в современном мире.

            +lp-links({
                classes: 'p-default lp-links--light lp-links--small'
            })
                .section-flex__side.lp-links__side
                    .lp-links__top
                        .lp-links__title.title.title--h3 Ценности гимназии
                    .lp-links__bottom 
                        .lp-links__text.text-editor
                            p Мы создаем дружеские отношения с каждым нашим учеником, понимаем его таланты, дарованные Всевышним и стремимся реализовать его максимальный потенциал.

                .section-flex__side.lp-links__side
                    .lp-links__top
                        .lp-links__title.title.title--h3 Стратегическая цель
                    .lp-links__bottom
                        .lp-links__text.text-editor
                            p Гимназия АДЕЛЬ является полноценной альтернативой обычной оффлайн-школы, по окончанию которой ваш ребёнок получит аттестат гос.образца.

            +s-img({
                classes: 'p-default',
                img: 'img/checklist.webp'
            })
                +btn({
                    classes: 'btn--reverse',
                    name: 'Скачать PDF <span>3.2мб</span>',
                    icon: 'download',
                    cMode: 'white'
                })

            +people-intro({
                classes: 'green-bg p-default',
                inner: true,
                title: 'Человек решающий все вопросы',
                photo: 'img/peoples/people_1.webp'
            })
                .people-intro__block.people-intro__block--top
                    .title.title--h2.people-intro__name <span>Любимов</span><br>Александр Алексеевич
                    .people-intro__items(data-js='peopleDetailInfo')
                        .people-intro__item                        
                            .people-intro__param Должность
                            .people-intro__val.text-editor Начальник центра развития профессиональных компетенций
                        .people-intro__item
                            .people-intro__param Образование: Высшее
                            .people-intro__val.text-editor
                                ul
                                    li Высшее военное по специальности «эксплуатация артиллерийских систем»
                                    li Высшее педагогическое по специальности «преподаватель истории»
                                    li Аспирантура по специальности «педагогика»

                .people-intro__block.people-intro__block--bottom
                    .people-intro__desc.text-editor
                        h2 Опыт работы
                        ul
                            li Директор лицея 6 г. Воскресенска Московской области
                            li Член делегации министерства образования Московской области в США штат Вирджиния для изучения образовательной системы Америки и обмена опытом
                            li Руководитель и автор серии областных семинаров для директоров школ Москвы и области по методам измерения и повышения качества образования
                            li 2 года был в должности директора онлайн - школы Umaclass с самого ее основания. По итогам работы добился 100 % успеваемости учащихся.

                    .people-intro__desc.text-editor
                        h2 Факты из жизни
                        ol
                            li Еще в самом начале своего профессионального пути в образовании Александр Алексеевич Любимов почувствовал, что его сердце полностью принадлежит этой благородной сфере. Он восхищался силой образования, его способностью изменить мир.

                            li С годами Александр Алексеевич приобрел богатый опыт, работая в образовательных учреждениях как в России, так и за рубежом. Он много путешествовал, изучал различные методики обучения, знакомился с культурами разных народов. За это время Александр Алексеевич пришел к убеждению, как важно сохранять и уважать культурное наследие, особенно для детей, которые являются будущими хранителями традиций.

                            li Александр не раз задумывался о том, как обеспечить доступное и качественное образование для мусульманских детей вне зависимости от их местоположения. Все это время он мечтал создать что-то особенное, то, что полностью соответствовало бы его принципам.

                            li Чтобы воплотить свою мечту в реальность, Александр обратился к своим друзьям и коллегам из образовательной сферы. В результате была собрана команда из опытных педагогов, программистов и дизайнеров, которые разделяли его стремление создать привлекательную и доступную образовательную среду для мусульманских детей. Так появилась онлайн-гимназии «Адель», в которой не только применяются современные технологии и методы обучения, но и создаются все условия для сохранения исламских ценностей и культуры.

                            li Название «Адель» не случайно, оно выбрано в честь матери Александра - Любимовой Адили Абдуловны, которая всегда была его опорой и вдохновением.

            +s-quote({
                classes: 'green-bg p-default pt-0'
            })

            +s-img({
                classes: 'p-default',
                img: 'img/checklist.webp',
                title: 'Бесплатно скачайте чек-лист документов для&nbsp;приема в&nbsp;гимназию',
                text: 'В&nbsp;чек-листе более подробно представлен процесс зачисления и&nbsp;перечень документов'
            })
                +btn({
                    classes: 'btn--reverse',
                    name: 'Скачать PDF <span>3.2мб</span>',
                    icon: 'download',
                    cMode: 'white'
                })

            +t-columns({
                classes: 'lp-process_tc green-bg p-default',
                title: 'Партнеры гимназии'
            })
                .t-columns__left.t-columns__side
                    .t-columns__inner
                        .title.title--h5.t-columns__subtitle Заключены соглашения с организациями реального сектора экономики, обеспечивающих сотрудничество в рамках программ профессиональной переподготовки
                        .t-columns__text.text-editor
                            ul
                                li Публичное акционерное общество «КАМАЗ»
                                li ООО «АВТОТОР Холдинг Менеджмент»
                                li Государственное унитарное предприятие города Москвы «Мосгортранс» (ГУП «Мосгортранс»)
                                li Акционерное общество «Объединенная двигателестроительная корпорация (АО «ОДК»)
                                li Публичное акционерное общество «Московская объединенная энергетическая компания» (ПАО «МОЭК)
                                li АО «МПП имени В.В. Чернышева»
                                li Акционерное общество «Турбокомплект»
                                li ООО «Сеть дата-центров «Селектел»»

                .t-columns__right.t-columns__side
                    .t-columns__inner
                        .title.title--h5.t-columns__subtitle Амбассадоры
                        .t-columns__text.text-editor
                            ul
                                li ООО «Аксиома-Софт»
                                li ООО НПФ «Промавтоматика»
                                li ООО «Гранд Проект»
                                li ООО «Кодерлайн»
                                li ООО «Софт-Юнити»
                                li Федеральное государственное унитарное предприятие «Главный радиочастотный центр» (ПАО «ГРЧЦ»)
                                li Акционерное общество «Лаборатория Касперского»
                                li ООО «РЭДМЭДРОБОТ МСК»