extends ../layouts/default

block variables
    - const title = "О гимназии";
    - const greenBg = true

block content
    .page(data-js="page")
        .page-layout
            +i-intro({
                title: '<span>О гимназии</span><br>Адель',
                isSmall: true,
                breadcrumbs: {
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'О гимназии',
                            link: 'javascript:void(0);'
                        }
                    ],
                }

            })

            +lp-section({
                classes: 'p-default'
            })
                +m-columns({
                    title: `<div class="title title--h3">Дата основания</div>`
                })
                    .lp-section__desc.text-editor
                        p Онлайн-гимназия АДЕЛЬ была основана в 2022 году группой высокообразованных преподавателей с целью представить общероссийское образование высшего уровня с учётом исламских ценностей, при этом сделать её доступной и высокоэффективной

                +m-columns({
                    title: `<div class="title title--h3">Миссия</div>`
                })
                    .lp-section__desc.text-editor
                        p Наша миссия — предоставить детям уникальную возможность получить образование, которое открывает перед ними двери к знаниям, просветлению и раскрытию собственного потенциала. 

                        p Этот проект не только нацелен на будущее каждого ученика, но и является вкладом в сохранение и продвижение исламских ценностей и культуры в современном мире.

                        p Образовательная программа гимназии была разработана с учетом всего опыта и знаний А. А. Любимова и его команды. 

                        p Она включает передовые методы обучения, основанные на диагностике и преодолении ошибок, а также уделяет немалое внимание развитию софт скиллс-универсальных навыков, необходимых для успешной жизни в современном мире.

            +lp-links({
                classes: 'p-default lp-links--light lp-links--small'
            })
                .section-flex__side.lp-links__side
                    .lp-links__top
                        .lp-links__title.title.title--h3 Ценности гимназии
                    .lp-links__text.text-editor
                        p Мы создаем дружеские отношения с каждым нашим учеником, понимаем его таланты, дарованные Всевышним и стремимся реализовать его максимальный потенциал.

                .section-flex__side.lp-links__side
                    .lp-links__top
                        .lp-links__title.title.title--h3 Стратегическая цель
                    .lp-links__text.text-editor
                        p Гимназия АДЕЛЬ является полноценной альтернативой обычной оффлайн-школы, по окончанию которой ваш ребёнок получит аттестат гос.образца.