extends ../layouts/default

block variables
    - const title = "Основные сведения"

block content
    .page(data-js="page")
        .page-layout
            +sidebar-layout(
                {
                items: [
                    {
                        name: 'Главная',
                        link: 'javascript:void(0);'
                    },
                    {
                        name: 'Основные сведения',
                        link: 'javascript:void(0);'
                    }
                ],
                }
            )
                .sidebar-layout__block
                    .sidebar-layout__block-title.title.title--h2 Основные сведения
                    .sidebar-layout__content
                        +m-columns({
                            mainIsText: true,
                            title: '<div class="title title--h5">Полное наименование образовательной организации</div>'
                        })
                            p Общество с ограниченной ответственностью «Онлайн-Гимназия Адель»

                        +m-columns({
                            mainIsText: true,
                            title: '<div class="title title--h5">Сокращенное наименование образовательной организации (при наличии)</div>'
                        })
                            p ООО «Онлайн-Гимназия Адель»

                        +m-columns({
                            mainIsText: true,
                            title: '<div class="title title--h5">Дата создания образовательной организации</div>'
                        })
                            p 20 октября 2023 г.

                .sidebar-layout__block
                    .sidebar-layout__block-title.title.title--h3 Учредитель (учредители) образовательной организации
                    .sidebar-layout__content
                        +m-columns({
                            mainIsText: true,
                            title: '<div class="title title--h5">Фамилия, имя, отчество учредителя (руководителя учредителя) (ей) образовательной организации</div>'
                        })
                            p Любимов Александр Алексеевич <br>Любимов Андрей Александрович <br>Хужахметова Рената Раисовна <br>Жане Назрет Аскеровна

                .sidebar-layout__block
                    .sidebar-layout__block-title.title.title--h3 Информация о месте нахождения образовательной организации
                    .sidebar-layout__content
                        +m-columns({
                            mainIsText: true,
                            title: '<div class="title title--h5">Юридический адрес</div>'
                        })
                            p 140411, Московская область, г Коломна, ул Козлова, д. 105, помещ. 11.
                        +m-columns({
                            mainIsText: true,
                            title: '<div class="title title--h5">Фактический адрес</div>'
                        })
                            p 140411, Московская область, г Коломна, ул Козлова, д. 105, помещ. 11.

                .sidebar-layout__block
                    .sidebar-layout__block-title.title.title--h3 Информация о режиме и графике работы образовательной организации
                    .sidebar-layout__content
                        +m-columns({
                            mainIsText: true,
                            title: '<div class="title title--h5">График работы</div>'
                        })
                            p Понедельник-пятница с 08-00 до 18-00 <br>Суббота, воскресенье с 08-00 до 18-00

                .sidebar-layout__block
                    .sidebar-layout__block-title.title.title--h3 Информация о контактных телефонах образовательной организации, об адресах электронной почты образовательной организации
                    .sidebar-layout__content
                        +m-columns({
                            mainIsText: true,
                            title: '<div class="title title--h5">Контактные телефоны</div>'
                        })
                            a(href="tel:+79993339109") +79993339109

                        +m-columns({
                            mainIsText: true,
                            title: '<div class="title title--h5">Адреса электронной почты</div>'
                        })
                            a(href="mailto:school@adeleschool.ru") school@adeleschool.ru

                .sidebar-layout__block
                    .sidebar-layout__block-title.title.title--h3 Информация о филиалах образовательной организации (в том числе находящихся за пределами Российской Федерации)
                    .sidebar-layout__content
                        .gost-section.gost-section--bordered.text-editor
                            p Организация не имеет представительств и филиалов, в том числе находящихся за пределами Российской Федерации

                            p Информация о представительствах образовательной организации (в том числе находящихся за пределами Российской Федерации)

                            p Организация не имеет представительств и филиалов, в том числе находящихся за пределами Российской Федерации

                            p Информация о местах осуществления образовательной деятельности, в том числе сведения об адресах мест осуществления образовательной деятельности, которые в соответствии с частью 4 статьи 91 Федерального закона от 29 декабря 2012 г. № 273-ФЗ "Об образовании в Российской Федерации" не включаются в соответствующую запись в реестре лицензий на осуществление образовательной деятельности

                .sidebar-layout__block
                    .sidebar-layout__block-title.title.title--h4 Места осуществления образовательной деятельности, которые включаются в соответствующую запись в реестре  лицензий на осуществление образовательной деятельности
                    .sidebar-layout__content
                        .gost-section.gost-section--bordered
                            +m-table({
                                header: [								
                                    "№",
                                    "Наименование объекта",
                                    "Адрес места осуществления образовательной деятельности"
                                ],

                                rows: [
                                    [
                                        "1",
                                        "Учебно-административный корпус",
                                        "140411, Московская область, г. Коломна, ул Козлова, д. 105, помещ. 11."
                                    ],
                                ]
                            }) 

                .sidebar-layout__block
                    .sidebar-layout__block-title.title.title--h3 Документы
                    .sidebar-layout__content
                        .gost-section.gost-section--bordered.text-editor
                            .text-items-list
                                +link-block({
                                    text: 'Организация ведет образовательную деятельность на основании лицензии на осуществление образовательной деятельности, выданной Министерством образования Московской области, регистрационный № Л035- 01255 -50/01640382, дата предоставления: 18.12.2024',
                                    vMode: 'note',
                                    type: 'arrow_up_right',
                                    linkText: 'Открыть документ'
                                })
                            p Свидетельство о государственной аккредитации: не предусмотрено




