extends ../layouts/default

block variables
    - const title = "Контакты"

block content
    .page(data-js="page")
        .page-layout
            +s-contacts({
                classes: 'p-default pt-0'
            })