extends ../layouts/default

block variables
    - const title = "Доступная среда"

block content
    .page(data-js="page")
        .page-layout

            +sidebar-layout(
                {
                items: [
                    {
                        name: 'Главная',
                        link: 'javascript:void(0);'
                    },
                    {
                        name: 'Доступная среда',
                        link: 'javascript:void(0);'
                    }
                ],
                }
            )
                .sidebar-layout__block
                    .sidebar-layout__block-title.title.title--h2 <span>Доступная</span> среда
                    .sidebar-layout__content
                        +m-columns({
                            mainIsText: true,
                            title: '<h3>О специальных условиях для получения образования инвалидами и лицами с ограниченными возможностями здоровья</h3>'
                        })
                            p Реализация образовательных программ в помещениях ООО «Онлайн-Гимназия Адель»  не предусмотрена, вся образовательная деятельность осуществляется с использованием дистанционных образовательных технологий.

                            p В ООО «Онлайн-Гимназия Адель» обеспечивается доступ инвалидов и лиц с ограниченными возможностями к информационным системам и электронным образовательным ресурсам на общих основаниях.