extends ../layouts/default

block variables
    - const title = "Вопрос-ответ"

block content
    .page(data-js="page")
        .page-layout
            +i-intro({
                title: 'Вопрос-ответ',
                isSmall: true,
                breadcrumbs: {
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Вопрос-ответ',
                            link: 'javascript:void(0);'
                        }
                    ],
                }

            })

            +m-questions({
                classes: 'p-default green-bg m-alone'
            })

