extends ../layouts/default

block variables
  - const title = "Финансово-хозяйственная деятельность"

block content
  .page(data-js="page")
    .page-layout

      +sidebar-layout(
        {
        items: [
          {
            name: 'Главная',
            link: 'javascript:void(0);'
          },
          {
            name: 'Финансово-хозяйственная деятельность',
            link: 'javascript:void(0);'
          }
        ],
        }
      )
        .sidebar-layout__block
          .sidebar-layout__block-title.title.title--h2 <span>Финансово-</span><br>хозяйственная деятельность
          .sidebar-layout__content
            .gost-section.gost-section--bordered.text-editor
              .gost-section__text
                p Финансирование деятельности ООО&nbsp;«Онлайн-Гимназия Адель» осуществляется по&nbsp;договорам об&nbsp;оказании образовательных услуг за&nbsp;счет средств физических и&nbsp;(или)&nbsp;юридических лиц.

                p Финансирование образовательной деятельности, осуществляемой ООО&nbsp;«Онлайн-Гимназия Адель» за&nbsp;счет бюджетных ассигнований федерального бюджета, бюджетов субъектов Российской Федерации, местных бюджетов не&nbsp;предусмотрено.