extends ../layouts/default

block variables
    - const title = "Главная"

block content
    .page(data-js="page")
        .page-layout.page-layout--home
            +i-intro({
                classes: 'home-intro',
                title: 'Онлайн-гимназия Адель',
                titleMode: 'light',
                desc: 'Современное онлайн-обучение для вашего ребенка с лицензией и качественным образованием',
                img: 'img/home/home_intro.webp',
                isFull: true
            })
                .i-intro__corner
                    .home-intro__content
                        ul.home-intro__list
                            li.home-intro__item Полный возврат оплаты за обучение в первые 15 дней
                            li.home-intro__item Зачисление в любое время учебного года
                            li.home-intro__item Форма обучения: Семейное обучение 
                            li.home-intro__item Группы до 15 человек
                            li.home-intro__item Раздельные классы для мальчиков и девочек
                            li.home-intro__item Промежуточные аттестации проходят онлайн
                            li.home-intro__item Итоговые ОГЭ и ЕГЭ сдаются офлайн в прикрепленных школах
                        .home-intro__note *Аттестат государственного образца
                            +tooltip
                    +btn({
                        cMode: 'green',
                        name: 'Получить консультацию',
                        sMode: 'full'
                    })(data-modal='#requestModal')

            +s-numbers({
                classes: 'p-default pt-100',
                title: `<div class="section-tag">Факты и цифры</div>
                    <div class="title title--h2 s-numbers__title"><span>Гимназия</span><br>сегодня</div>
                    <a class="btn  btn--green" href="#">Подробнее о нас
                        <svg> 
                            <use xlink:href="img/sprites/sprite.svg#arrow_up_right"></use>
                        </svg>
                    </a>
                    `,
                cards: [
                    {
                        img: 'img/numbers/numbers_1.webp',
                        num: '2000+',
                        text: 'Учеников по всему миру'
                    },
                    {
                        img: '',
                        num: '100+',
                        text: 'Преподавателей в гимназии'
                    },
                    {
                        img: '',
                        num: '2022',
                        text: 'Год основания'
                    }
                ]
            })

            +info-slider({
                classes: 'p-default',
            })
            +home-process({
                classes: 'p-default',
            })
            +home-info
            +programms-list({
                classes: 'p-default',
                vMode: 'cards',
                title: '<span>Программы</span><br>обучения',
                hasMoreBtn: true,
                hasFilters: true,
                cards: [
                    {
                        faculty: 'Основная программа',
                        name: 'Модули 1-4&nbsp;ĸласс',
                        params: [
                            {
                                name: 'Вместимость группы, чел',
                                value: '10',
                                isFull: false
                            },
                            {
                                name: 'Срок обучения',
                                value: '9 мес',
                                isFull: false
                            },
                            {
                                name: 'Стоимость в месяц',
                                value: '9 900 ₽',
                                isFull: true
                            },
                        ],
                    },
                    {
                        faculty: 'Основная программа',
                        name: 'Модули 5-8&nbsp;ĸласс',
                        params: [
                            {
                                name: 'Вместимость группы, чел',
                                value: '15',
                                isFull: false
                            },
                            {
                                name: 'Срок обучения',
                                value: '9 мес',
                                isFull: false
                            },
                            {
                                name: 'Стоимость в месяц',
                                value: '11 900 ₽',
                                isFull: true
                            },
                        ],
                    },
                    {
                        faculty: 'Основная программа',
                        name: 'Модули 9-11&nbsp;ĸласс',
                        params: [
                            {
                                name: 'Вместимость группы, чел',
                                value: '15',
                                isFull: false
                            },
                            {
                                name: 'Срок обучения',
                                value: '9 мес',
                                isFull: false
                            },
                            {
                                name: 'Стоимость в месяц',
                                value: '13 900 ₽',
                                isFull: true
                            },
                        ],
                    },
                    {
                        faculty: 'Дополнительная программа',
                        name: 'Дошкольная подготовка "ПЕСОЧНИЦА"',
                        params: [
                            {
                                name: 'Вместимость группы, чел',
                                value: '10',
                                isFull: false
                            },
                            {
                                name: 'Срок обучения',
                                value: '6 мес',
                                isFull: false
                            },
                            {
                                name: 'Стоимость в месяц',
                                value: '7 000 ₽',
                                isFull: true
                            },
                        ],
                    },
                    {
                        faculty: 'Дополнительная программа',
                        name: 'Репетиторство, подготовка ОГЭ/ЕГЭ',
                        params: [
                            {
                                name: 'Вместимость группы, чел',
                                value: '10',
                                isFull: false
                            },
                            {
                                name: 'Срок обучения',
                                value: '6 мес',
                                isFull: false
                            },
                            {
                                name: 'Стоимость в месяц',
                                value: '7 000 ₽',
                                isFull: true
                            },
                        ],
                    },

                    {
                        faculty: 'Дополнительная программа',
                        name: 'Графический дизайн',
                        params: [
                            {
                                name: 'Вместимость группы, чел',
                                value: '5',
                                isFull: false
                            },
                            {
                                name: 'Срок обучения',
                                value: '6 мес',
                                isFull: false
                            },
                            {
                                name: 'Стоимость в месяц',
                                value: '7 999 ₽',
                                isFull: true
                            },
                        ],
                    },

                    {
                        faculty: 'Дополнительная программа',
                        name: 'Дизайн инфографики',
                        params: [
                            {
                                name: 'Вместимость группы, чел',
                                value: '5',
                                isFull: false
                            },
                            {
                                name: 'Срок обучения',
                                value: '6 мес',
                                isFull: false
                            },
                            {
                                name: 'Стоимость в месяц',
                                value: '4 999 ₽',
                                isFull: true
                            },
                        ],
                    },

                    {
                        faculty: 'Дополнительная программа',
                        name: 'WEB-разработчик',
                        params: [
                            {
                                name: 'Вместимость группы, чел',
                                value: '5',
                                isFull: false
                            },
                            {
                                name: 'Срок обучения',
                                value: '6 мес',
                                isFull: false
                            },
                            {
                                name: 'Стоимость в месяц',
                                value: '7 999 ₽',
                                isFull: true
                            },
                        ],
                    },

                    {
                        faculty: 'Дополнительная программа',
                        name: 'Python-разработчик',
                        params: [
                            {
                                name: 'Вместимость группы, чел',
                                value: '5',
                                isFull: false
                            },
                            {
                                name: 'Срок обучения',
                                value: '6 мес',
                                isFull: false
                            },
                            {
                                name: 'Стоимость в месяц',
                                value: '4 999 ₽',
                                isFull: true
                            },
                        ],
                    },
                ]
            })

            +home-methods({
                classes: 'p-default'
            })
            +home-conditions({
                classes: 'p-default'
            })
            +home-about({
                classes:'green-bg-top p-default'
            })

            +auto-slider({
                title: 'Отзывы родителей <br>и&nbsp;учеников',
                classes: 'green-bg p-default'
            })
                +c-review({
                    classes: 'swiper-slide',
                    img: 'img/reviews/review_1.webp',
                    role: 'Родитель',
                })
                +c-review({
                    classes: 'swiper-slide',
                    img: 'img/reviews/review_2.webp',
                    role: 'Ученик',
                    title: 'Цалцаева <br>Алсу Рамзановна',
                    info: [
                        {
                            param: 'Учится',
                            value: '11 ступень'
                        },
                        {
                            param: 'Отзыв на предметы',
                            value: 'Русский язык<br>Математика'
                        },
                    ],
                    media: 'https://vkvideo.ru/video_ext.php?oid=55940171&id=456239498&hd=2&autoplay=1',
                    iframe: true
                })
                +c-review({
                    classes: 'swiper-slide',
                    img: 'img/reviews/review_3.webp',
                    role: 'Родитель'
                })
                +c-review({
                    classes: 'swiper-slide',
                    img: 'img/reviews/review_4.webp',
                    role: 'Ученик',
                    info: [
                        {
                            param: 'Учится',
                            value: '11 ступень'
                        },
                        {
                            param: 'Отзыв на предметы',
                            value: 'Русский язык<br>Математика<br>Математика<br>Математика'
                        },
                    ]
                })
                +c-review({
                    classes: 'swiper-slide',
                    img: 'img/reviews/review_1.webp',
                    role: 'Родитель',
                })
                +c-review({
                    classes: 'swiper-slide',
                    img: 'img/reviews/review_2.webp',
                    role: 'Ученик',
                    title: 'Цалцаева Алсу',
                    info: [
                        {
                            param: 'Учится',
                            value: '11 ступень'
                        },
                        {
                            param: 'Отзыв на предметы',
                            value: 'Русский язык<br>Математика'
                        },
                    ]
                })
                +c-review({
                    classes: 'swiper-slide',
                    img: 'img/reviews/review_3.webp',
                    role: 'Родитель',
                })
                +c-review({
                    classes: 'swiper-slide',
                    img: 'img/reviews/review_4.webp',
                    role: 'Ученик',
                    info: [
                        {
                            param: 'Учится',
                            value: '11 ступень'
                        },
                        {
                            param: 'Отзыв на предметы',
                            value: 'Русский язык<br>Математика'
                        },
                    ]
                })
                +c-review({
                    classes: 'swiper-slide',
                    img: 'img/reviews/review_1.webp',
                    role: 'Родитель',
                })
                +c-review({
                    classes: 'swiper-slide',
                    img: 'img/reviews/review_2.webp',
                    role: 'Ученик',
                    title: 'Цалцаева Алсу Рамзановна',
                    info: [
                        {
                            param: 'Учится',
                            value: '11 ступень'
                        },
                        {
                            param: 'Отзыв на предметы',
                            value: 'Русский язык<br>Математика'
                        },
                    ]
                })
                +c-review({
                    classes: 'swiper-slide',
                    img: 'img/reviews/review_3.webp',
                    role: 'Родитель',
                })
                +c-review({
                    classes: 'swiper-slide',
                    img: 'img/reviews/review_4.webp',
                    role: 'Ученик',
                    info: [
                        {
                            param: 'Учится',
                            value: '11 ступень'
                        },
                        {
                            param: 'Отзыв на предметы',
                            value: 'Русский язык<br>Математика'
                        },
                    ]
                })

            +s-distribution({
                classes: 'green-bg-bottom p-default'
            })

            +s-img({
                classes: 'p-default'
            })
                +btn({
                    classes: 'btn--reverse',
                    name: 'Скачать PDF <span>3.2мб</span>',
                    icon: 'download',
                    iconleft: true,

                })

            +home-news({
                classes: 'p-default pb-100',
            })