extends ../layouts/default

block variables
    - const title = "Главная"

block content
    .page(data-js="page")
        .page-layout.page-layout--home
            +i-intro({
                classes: 'home-intro',
                title: 'Онлайн-гимназия Адель',
                desc: 'Современное онлайн-обучение для вашего ребенка с лицензией и качественным образованием',
                img: 'img/home/home_intro.webp',
                isFull: true
            })
                .i-intro__corner
                    .home-intro__content
                        ul.home-intro__list
                            li.home-intro__item Полный возврат оплаты за обучение в первые 15 дней
                            li.home-intro__item Зачисление в любое время учебного года
                            li.home-intro__item Форма обучения: Семейное обучение 
                            li.home-intro__item Группы до 10 человек
                            li.home-intro__item Раздельные классы для мальчиков и девочек
                            li.home-intro__item Промежуточные аттестации проходят онлайн
                            li.home-intro__item Итоговые ОГЭ и ЕГЭ сдаются офлайн в прикрепленных школах
                        .home-intro__note *Аттестат государственного образца
                            +tooltip
                    +btn({
                        cMode: 'green',
                        name: 'Получить консультацию',
                        sMode: 'full'
                    })

            +s-numbers({
                title: `<div class="section-tag">Факты и цифры</div>
                    <div class="title title--h2 s-numbers__title"><span>Гимназия</span><br>сегодня</div>
                    <a class="btn  btn--green" href="#">Подробнее о нас
                        <svg> 
                            <use xlink:href="img/sprites/sprite.svg#arrow_up_right"></use>
                        </svg>
                    </a>
                    `,
                cards: [
                    {
                        img: 'img/numbers/numbers_1.webp',
                        num: '5000+',
                        text: 'Учеников по всему миру'
                    },
                    {
                        img: '',
                        num: '100+',
                        text: 'Преподавателей в гимназии'
                    },
                    {
                        img: '',
                        num: '2022',
                        text: 'Год основания'
                    }
                ]
            })

            +info-slider
            +home-process
            +home-info
            +programms-list({
                vMode: 'cards',
                title: '<span>Программы</span><br>обучения',
                hasMoreBtn: true,
                hasFilters: true,
                cards: [
                    {
                        faculty: 'Основная программа',
                        name: 'Первая ступень',
                        params: [
                            {
                                name: 'Вместимость группы, чел',
                                value: '10',
                                isFull: false
                            },
                            {
                                name: 'Срок обучения',
                                value: '1 год',
                                isFull: false
                            },
                            {
                                name: 'Стоимость в месяц',
                                value: '8 000 ₽',
                                isFull: true
                            },
                        ],
                    },
                    {
                        faculty: 'Основная программа',
                        name: 'Вторая ступень',
                        params: [
                            {
                                name: 'Вместимость группы, чел',
                                value: '10',
                                isFull: false
                            },
                            {
                                name: 'Срок обучения',
                                value: '1 год',
                                isFull: false
                            },
                            {
                                name: 'Стоимость в месяц',
                                value: '9 900 ₽',
                                isFull: true
                            },
                        ],
                    },
                    {
                        faculty: 'Основная программа',
                        name: 'Третья ступень',
                        params: [
                            {
                                name: 'Вместимость группы, чел',
                                value: '10',
                                isFull: false
                            },
                            {
                                name: 'Срок обучения',
                                value: '1 год',
                                isFull: false
                            },
                            {
                                name: 'Стоимость в месяц',
                                value: '12 000 ₽',
                                isFull: true
                            },
                        ],
                    },
                    {
                        faculty: 'Основная программа',
                        name: 'Четвертая ступень',
                        params: [
                            {
                                name: 'Вместимость группы, чел',
                                value: '10',
                                isFull: false
                            },
                            {
                                name: 'Срок обучения',
                                value: '1 год',
                                isFull: false
                            },
                            {
                                name: 'Стоимость в месяц',
                                value: '14 000 ₽',
                                isFull: true
                            },
                        ],
                    }
                ]
            })

            +home-methods
            +home-conditions
            +home-about({
                classes:'green-bg-top'
            })

            +auto-slider({
                title: 'Отзывы родителей <br>и&nbsp;учеников',
                classes: 'green-bg'
            })
                +c-review({
                    classes: 'swiper-slide',
                    img: 'img/reviews/review_1.webp',
                    role: 'Родитель',
                })
                +c-review({
                    classes: 'swiper-slide',
                    img: 'img/reviews/review_2.webp',
                    role: 'Ученик',
                    title: 'Цалцаева Алсу Рамзановна',
                    info: [
                        {
                            param: 'Учится',
                            value: '11 ступень'
                        },
                        {
                            param: 'Отзыв на предметы',
                            value: 'Русский язык<br>Математика'
                        },
                    ],
                    media: 'https://vkvideo.ru/video_ext.php?oid=55940171&id=456239498&hd=2&autoplay=1',
                    iframe: true
                })
                +c-review({
                    classes: 'swiper-slide',
                    img: 'img/reviews/review_3.webp',
                    role: 'Родитель'
                })
                +c-review({
                    classes: 'swiper-slide',
                    img: 'img/reviews/review_4.webp',
                    role: 'Ученик',
                    info: [
                        {
                            param: 'Учится',
                            value: '11 ступень'
                        },
                        {
                            param: 'Отзыв на предметы',
                            value: 'Русский язык<br>Математика'
                        },
                    ]
                })
                +c-review({
                    classes: 'swiper-slide',
                    img: 'img/reviews/review_1.webp',
                    role: 'Родитель',
                })
                +c-review({
                    classes: 'swiper-slide',
                    img: 'img/reviews/review_2.webp',
                    role: 'Ученик',
                    title: 'Цалцаева Алсу Рамзановна',
                    info: [
                        {
                            param: 'Учится',
                            value: '11 ступень'
                        },
                        {
                            param: 'Отзыв на предметы',
                            value: 'Русский язык<br>Математика'
                        },
                    ]
                })
                +c-review({
                    classes: 'swiper-slide',
                    img: 'img/reviews/review_3.webp',
                    role: 'Родитель',
                })
                +c-review({
                    classes: 'swiper-slide',
                    img: 'img/reviews/review_4.webp',
                    role: 'Ученик',
                    info: [
                        {
                            param: 'Учится',
                            value: '11 ступень'
                        },
                        {
                            param: 'Отзыв на предметы',
                            value: 'Русский язык<br>Математика'
                        },
                    ]
                })
                +c-review({
                    classes: 'swiper-slide',
                    img: 'img/reviews/review_1.webp',
                    role: 'Родитель',
                })
                +c-review({
                    classes: 'swiper-slide',
                    img: 'img/reviews/review_2.webp',
                    role: 'Ученик',
                    title: 'Цалцаева Алсу Рамзановна',
                    info: [
                        {
                            param: 'Учится',
                            value: '11 ступень'
                        },
                        {
                            param: 'Отзыв на предметы',
                            value: 'Русский язык<br>Математика'
                        },
                    ]
                })
                +c-review({
                    classes: 'swiper-slide',
                    img: 'img/reviews/review_3.webp',
                    role: 'Родитель',
                })
                +c-review({
                    classes: 'swiper-slide',
                    img: 'img/reviews/review_4.webp',
                    role: 'Ученик',
                    info: [
                        {
                            param: 'Учится',
                            value: '11 ступень'
                        },
                        {
                            param: 'Отзыв на предметы',
                            value: 'Русский язык<br>Математика'
                        },
                    ]
                })

            +s-distribution({
                classes: 'green-bg-bottom'
            })

            +s-img
                +btn({
                    name: 'Скачать pdf <span>3.2мб</span>',
                    icon: 'download',
                    iconleft: true,

                })

            //-
                +home-activity
                +home-news
                +home-structure
                +home-open