extends ../layouts/default

block variables
    - const title = "Главная"

block content
    .page
        .page-layout.page-layout--home
            +i-intro({
                classes: 'home-intro',
                title: 'Онлайн-гимназия Адель',
                desc: 'Современное онлайн-обучение для вашего ребенка с лицензией и качественным образованием',
                img: 'img/home/home_intro.webp',
            })
                .i-intro__corner
                    ul.home-intro__list
                        li Полный возврат оплаты за обучение в первые 15 дней
                        li Зачисление в любое время учебного года
                        li Форма обучения: Семейное обучение 
                        li Группы до 10 человек
                        li Раздельные классы для мальчиков и девочек
                        li Промежуточные аттестации проходят онлайн
                        li Итоговые ОГЭ и ЕГЭ сдаются офлайн в прикрепленных школах
                    .home-intro__note *Аттестат государственного образца
                    +btn({
                        cMode: 'green',
                        name: 'Получить консультацию'
                    })


            +info-slider({
                hasHeader: true,
                items: [
                    {
                        num: '01',
                        icon: 'img/abiturientam/abiturientam_info_6.svg',
                        subtitle: 'Картография и геоинформатика',
                        text: ''
                    },
                    {
                        num: '02',
                        icon: 'img/abiturientam/abiturientam_info_6.svg',
                        subtitle: 'Гидрометеорология',
                        text: ''
                    },
                    {
                        num: '03',
                        icon: 'img/abiturientam/abiturientam_info_6.svg',
                        subtitle: 'Дизайн архитектурной среды',
                        text: ''
                    },
                    {
                        num: '04',
                        icon: 'img/abiturientam/abiturientam_info_6.svg',
                        subtitle: 'Биотехнология',
                        text: ''
                    },
                    {
                        num: '05',
                        icon: 'img/abiturientam/abiturientam_info_6.svg',
                        subtitle: 'Продукты питания из растительного сырья',
                        text: ''
                    }
                ]
            })
            +home-materials
            +home-activity
            +home-info
            +home-news
            +home-structure
            +home-open