extends ../layouts/default

block variables
	- const title = "Как проходит обучение"
	- const greenBg = true

block content
	.page(data-js="page")
		.page-layout
			+i-intro({
				classes: 'lp-intro',
				title: '<span>Как проходит</span><br>обучение?',
				img: '',
				breadcrumbs: {
					items: [
						{
							name: 'Главная',
							link: 'javascript:void(0);'
						},
						{
							name: 'Как проходит обучение',
							link: 'javascript:void(0);'
						}
					],
				}
			})
				.i-intro__contacts
					.title.title--h4.i-intro__subtitle Получить консультацию
					.i-intro__contact
						.i-intro__param По телефону
						a.title.title--h5.i-intro__value(href="tel:+79900595039") +7 (990) 059 50 39
				.i-intro__corner
					.home-intro__content
						ul.home-intro__list
							li.home-intro__item Полный возврат оплаты за обучение в первые 15 дней
							li.home-intro__item Зачисление в любое время учебного года
					+btn({
						cMode: 'green',
						name: 'Оставить заявку',
						sMode: 'full',
						icon: 'arrow_up_right'
					})(data-modal='#requestModal')

			+lp-links({
				classes: 'p-default pt-100'
			})
				.section-flex__side.lp-links__side
					.section-flex__bg
						.section-flex__overlay
						img(src="img/lp/lp_link_1.webp")
					.lp-links__top
						.lp-links__title.title.title--h2.title--light О гимназии
					.lp-links__bottom
						.lp-links__links
							+btn({
								name: 'Наша миссия, ценности и цели',
								cMode: 'white',
								icon: 'arrow_up_right',
							})

				.section-flex__side.lp-links__side
					.section-flex__bg
						.section-flex__overlay
						img(src="img/lp/lp_link_2.svg")
					.lp-links__top
						.lp-links__title.title.title--h2.title--light Преподаватели
					.lp-links__bottom
						.lp-links__links
							+btn({
								name: 'Подробнее о преподавателях',
								cMode: 'white',
								icon: 'arrow_up_right',
							})

			+lp-section({
				classes: 'p-default'
			})(data-js="rightScroll")
				+m-columns({
					title: `<div class="lp-section__media"><img src="img/lp/lp_sec_1.webp">
						<a class="btn lp-section__play btn--white btn--icon" href="https://vkvideo.ru/video_ext.php?oid=-230301010&id=456239162&hd=2&autoplay=1" data-type="iframe" data-thumb="img/lp/lp_sec_1.webp" data-fancybox>
						<svg> 
							<use xlink:href="img/sprites/sprite.svg#play"></use>
						</svg></a>
						</div>
						<a class="btn  btn--bordered" href="#"><span>Приветственное слово преподавателей</span>
							<svg> 
								<use xlink:href="img/sprites/sprite.svg#arrow_up_right"></use>
							</svg></a>`
				})
					.lp-section__desc.text-editor
						h2 Учебный процесс
						p Уроки в нашей гимназии проходят в формате «живого» общения, учитель и дети видят и слышат друг друга. Во время занятий ребенок может задавать любые вопросы, писать в чат и находится среди единомышленников.

						p Чтобы сделать учебный процесс максимально увлекательным и интересным, на уроках мы используем интерактивные доски, виртуальные лаборатории с помощью которых, дети выполняют практические задания для закрепления изученного материала. 

						p Удержать внимание детей на уроке перед экраном помогает красочное оформление, наглядные материалы, интерактивные игры и интересные упражнения.

						p Мы знаем, как волнуются дети перед контрольными и самостоятельными работами, поэтому для снижения стресса, а также для регулярного отслеживания уровня знаний, полученных детьми, часто проводим контрольные тесты и это положительно сказывается на успеваемости детей.

						p Обучение в гимназии — это не только получение знаний, а еще и воспитание. Поэтому, мы включили в учебную программу классный час, на котором в форме диалога обсуждаются важные и нужные для детей темы.
						p На переменах, между уроками, наши ученики не стараются убежать из классной комнаты, а наоборот, общаются, играют, шутят, занимаются совместными делами, выполняют домашнююработу.

						p Домашние задания дети получают по платформе. Учителя отслеживают успеваемость учеников, выполнение заданий, выставляют оценки за урок и за домашнюю работу.

						p Родители могут следить за процессом обучения своих детей, получать уведомления об успеваемости, о новых материалах и заданиях в личном кабинете ученика и родителя.


				+m-columns({
					title: '<div class="lp-section__media"><img src="img/lp/lp_sec_2.webp"></div>'
				})
					.lp-section__desc.text-editor
						h2 Формат занятий
						p Уроки в нашей гимназии проходят в формате «живого» общения, учитель и дети видят и слышат друг друга. Во время занятий ребенок может задавать любые вопросы, писать в чат и находится среди единомышленников.

						p Чтобы сделать учебный процесс максимально увлекательным и интересным, на уроках мы используем интерактивные доски, виртуальные лаборатории с помощью которых, дети выполняют практические задания для закрепления изученного материала. Удержать внимание детей на уроке перед экраном помогает красочное оформление, наглядные материалы, интерактивные игры и интересные упражнения.

						p Мы знаем, как волнуются дети перед контрольными и самостоятельными работами, поэтому для снижения стресса, а также для регулярного отслеживания уровня знаний, полученных детьми, часто проводим контрольные тесты и это положительно сказывается на успеваемости детей.

				+m-columns({
					title: `<div class="lp-section__media"><img src="img/lp/lp_sec_3.webp"></div><a class="btn  btn--bordered" href="#"><span>Запись открытого урока</span>
						<svg> 
							<use xlink:href="img/sprites/sprite.svg#arrow_up_right"></use>
						</svg></a>`
				})
					.lp-section__desc.text-editor
						h2 Методика обучения
						p Наши учителя работают по авторским методикам и рабочим программам, которые шире действующих в обычных оффлайн школах и соответственно дают более глубокие знания.

						p Количество учеников в наших классах ограничено, и это важно для успешного освоения учебного материала, а индивидуальный подход к каждому ученику позволяет достигать великолепных результатов.

						p Проводим собеседование учеников и распределяем в равноуровневые классы

						ul
							li ученикам проще учится;
							li если ученик выше/ниже по уровню освоения материала, то его переводят в другую группу для сохранения баланса; 
							li если у ученика возникают точечные проблемы с освоением материала, то ему назначается Тьютор

						p Особое внимание уделяется общему % освоения материала. 

						p Если на промежуточных срезах у 20% учеников низкие оценки, то преподаватель проводит занятие по проблемной теме еще раз. 

						p После этого проводится еще один срез знаний и если % соотношение снизилось, группа переходит к освоению новой темы, а к остальным ученикам прикрепляется Тьютор для индивидуальных занятий.

			+s-img({
				classes: 'p-default'
			})
				+btn({
					classes: 'btn--reverse',
					name: 'Скачать PDF <span>3.2мб</span>',
					icon: 'download'
				})

			+lp-section({
				classes: 'p-default'
			})(data-js="rightScroll")
				+m-columns({
					title: '<div class="lp-section__media"><img src="img/lp/lp_sec_4.webp"></div>'
				})
					.lp-section__desc.text-editor
						h2 Уроки через призму Ислама
						p Наша образовательная программа дополнена исламскими предметами, а обучение основано на гендерном разделении.

						p В программу включены уроки основ ислама и обучение чтению Благородного Корана. Опытные устазы в интересной форме, познакомят детей с необычными арабскими буквами и звуками. Вместе освоят правила чтения (таджвид), а ученики продвинутого уровня отточат свое мастерство в чтении Корана.

						p Каждый урок начинается с дуа и упоминанием имени Всевышнего, а домашние задания обогащены дополнительными религиозными заданиями. Мы заботимся о том, чтобы высококачественное образование дополнялось мусульманскими ценностями, этикой и любовью к исламу.

				+m-columns({
					title: '<div class="lp-section__media"><img src="img/lp/lp_sec_5.webp"></div>'
				})
					.lp-section__desc.text-editor
						h2 Про иностранный язык
						p Для комфортного изучения иностранных языков уроки разделены на уровни, благодаря чему знающие дети не скучают и двигаются вперед, а дети без подготовки чувствуют себя уверенно.

						p Нулевой уровень включает в себя основы: буквы, слоги. Базовый уровень - чтение и заучивание правил. Повышенный уровень - беглое чтение с элементами разговорной речи и расширенным словарным запасом.

						p Если у ребенка возникли трудности, к нему всегда на помощь придет тьютор. Он ответит на интересующие вопросы, при необходимости проведет дополнительный урок для восполнения пробелов в обучении.

				+m-columns({
					title: `<div class="lp-section__media"><img src="img/lp/lp_sec_6.webp"><a class="btn lp-section__play btn--white btn--icon" href="public/video/review.mp4" data-fancybox data-thumb="img/lp/lp_sec_6.webp">
						<svg> 
							<use xlink:href="img/sprites/sprite.svg#play"></use>
						</svg></a>
						</div>`
				})
					.lp-section__desc.text-editor
						h2 Про физкультуру
						p На уроках физкультуры под руководством опытных тренеров, укрепляем здоровье, тренируем мышцы, корректируем осанку и поддерживаем тело в отличной физической форме. Подвижные игры, интересные занятия с различными снарядами (инвентарем), помогут отдохнуть от умственной работы и получить массу положительных эмоций.

			+t-columns({
				classes: 'lp-process_tc green-bg p-default',
				title: 'Технические требования для занятий'
			})
				.t-columns__left.t-columns__side
					.title.title--h5.t-columns__subtitle Минимальные требования к ПК
					.t-columns__text.text-editor
						ul
							li Центральный процессор с архитектурой x64-bit, выпущенный не более 5 лет назад и с не менее чем 4 потоками. Рекомендуются процессоры, вышедшие начиная с 2018 года, с 4 ядрами
							li Видеокарта с поддержкой графических редакторов DirectX 11/12 и новее, Shader Model 2.0 и новее. Рекомендуется дискретная видеокарта (отдельный чип), встроенная (интегрированная) не подходит
							li ОЗУ DDR3 и новее, объёмом от 4 Гб минимально. Если проводятся курсы, которые требуют установки дополнительного ПО, например, «Геймдизайн» и «Разработка игр на Unity», то рекомендуется 8 Гб и больше
							li Операционная система Windows 10 или 11, разрядностью 64-bit. Все версии Windows ниже 10, такие как Windows 7, 8 и 8.1, не поддерживаются
							li Браузер для работы на платформах: Google Chrome, обновлённый до последней версии на момент проведения занятия, или «Яндекс Браузер», обновлённый до последней версии
							li Интернет-соединение для комфортной работы: от 30–50 Мбит/с
							li Аксессуары: клавиатура, мышь, звуковая карта, динамики и микрофон или гарнитура: наушники с микрофоном, веб-камера

				.t-columns__right.t-columns__side
					.title.title--h5.t-columns__subtitle Список программного обеспечения и онлайн-сервисов
					.t-columns__text.text-editor
						ul
							li FigJam
							li Notion
							li Google Docs
							li OBS Studio
							li Trello
							li Scanbot 
							li Quizlet 
							li Zoom
							li Duolingo
							li Codecademy

			+auto-slider({
				title: 'Отзывы родителей <br>и&nbsp;учеников',
				classes: 'green-bg p-default pb-100'
			})
				+c-review({
					classes: 'swiper-slide',
					img: 'img/reviews/review_1.webp',
					role: 'Родитель',
				})
				+c-review({
					classes: 'swiper-slide',
					img: 'img/reviews/review_2.webp',
					role: 'Ученик',
					title: 'Цалцаева Алсу Рамзановна',
					info: [
						{
							param: 'Учится',
							value: '11 ступень'
						},
						{
							param: 'Отзыв на предметы',
							value: 'Русский язык<br>Математика'
						},
					],
					media: 'https://vkvideo.ru/video_ext.php?oid=55940171&id=456239498&hd=2&autoplay=1',
					iframe: true
				})
				+c-review({
					classes: 'swiper-slide',
					img: 'img/reviews/review_3.webp',
					role: 'Родитель'
				})
				+c-review({
					classes: 'swiper-slide',
					img: 'img/reviews/review_4.webp',
					role: 'Ученик',
					info: [
						{
							param: 'Учится',
							value: '11 ступень'
						},
						{
							param: 'Отзыв на предметы',
							value: 'Русский язык<br>Математика'
						},
					]
				})
				+c-review({
					classes: 'swiper-slide',
					img: 'img/reviews/review_1.webp',
					role: 'Родитель',
				})
				+c-review({
					classes: 'swiper-slide',
					img: 'img/reviews/review_2.webp',
					role: 'Ученик',
					title: 'Цалцаева Алсу Рамзановна',
					info: [
						{
							param: 'Учится',
							value: '11 ступень'
						},
						{
							param: 'Отзыв на предметы',
							value: 'Русский язык<br>Математика'
						},
					]
				})
				+c-review({
					classes: 'swiper-slide',
					img: 'img/reviews/review_3.webp',
					role: 'Родитель',
				})
				+c-review({
					classes: 'swiper-slide',
					img: 'img/reviews/review_4.webp',
					role: 'Ученик',
					info: [
						{
							param: 'Учится',
							value: '11 ступень'
						},
						{
							param: 'Отзыв на предметы',
							value: 'Русский язык<br>Математика'
						},
					]
				})
				+c-review({
					classes: 'swiper-slide',
					img: 'img/reviews/review_1.webp',
					role: 'Родитель',
				})
				+c-review({
					classes: 'swiper-slide',
					img: 'img/reviews/review_2.webp',
					role: 'Ученик',
					title: 'Цалцаева Алсу Рамзановна',
					info: [
						{
							param: 'Учится',
							value: '11 ступень'
						},
						{
							param: 'Отзыв на предметы',
							value: 'Русский язык<br>Математика'
						},
					]
				})
				+c-review({
					classes: 'swiper-slide',
					img: 'img/reviews/review_3.webp',
					role: 'Родитель',
				})
				+c-review({
					classes: 'swiper-slide',
					img: 'img/reviews/review_4.webp',
					role: 'Ученик',
					info: [
						{
							param: 'Учится',
							value: '11 ступень'
						},
						{
							param: 'Отзыв на предметы',
							value: 'Русский язык<br>Математика'
						},
					]
				})



