extends ../layouts/default

block variables
    - const title = "Международное сотрудничество"

block content
    .page(data-js="page")
        .page-layout
            +sidebar-layout(
                {
                items: [
                    {
                        name: 'Главная',
                        link: 'javascript:void(0);'
                    },
                    {
                        name: 'Международное сотрудничество',
                        link: 'javascript:void(0);'
                    }
                ],
                }
            )
                .sidebar-layout__block
                    .sidebar-layout__block-title.title.title--h2 <span>Международное</span> <br>сотрудничество
                    .sidebar-layout__content
                        .gost-section.gost-section--bordered.text-editor
                            h2 Сведения об интеграции российского образования с мировым образовательным пространством
                            .text-items-list
                                +link-block({
                                    classes: '',
                                    text: 'Численность иностранных обучающихся по основным и дополнительным образовательным программам',
                                    vMode: 'note',
                                    type: 'arrow_up_right',
                                    linkText: 'Открыть документ'
                                })

                        .gost-section.gost-section--bordered.text-editor
                            h3 Информация о заключённых и планируемых к заключению договорах с иностранными и (или) международными организациями по вопросам образования и науки (при наличии)
                            +m-table({
                                hasLinks: 'true',
                                header: [								
                                    "№",
                                    "Страна",
                                    "Организация / Учреждение",
                                    "Информация о документе",
                                    ""
                                ],

                                rows: [
                                    [
                                        "1",
                                        "Китай",
                                        "Пекинский университет химических технологий",
                                        "Меморандум о&nbsp;взаимопонимании <br>Дата:&nbsp;01.09.2024 <br>Срок действия: 5&nbsp;лет",
                                        "Скачать документ (ссылка)",
                                    ],
                                    [
                                        "2",
                                        "Казахстан",
                                        "Карагандинский технический университет им. Абылкаса Сагинова",
                                        "Соглашение о&nbsp;сотрудничестве <br>Дата:&nbsp;01.09.2024 <br>Номер:&nbsp;01-09/2024МД <br>Срок действия: 5&nbsp;лет",
                                        "Скачать документ (ссылка)",
                                    ],
                                    [
                                        "3",
                                        "Узбекистан",
                                        "Ташкентский государственный университет узбекского языка и литературы им. Алишера Навои",
                                        "Меморандум о&nbsp;взаимопонимании <br>Дата:&nbsp;01.09.2024 <br>Номер:&nbsp;311-09/2024МД <br>Срок действия: 5&nbsp;лет",
                                        "Скачать документ (ссылка)",
                                    ],
                                    [
                                        "4",
                                        "Беларусь",
                                        "Белорусский государственный технологический университет",
                                        "Соглашение о&nbsp;сотрудничестве <br>Дата:&nbsp;01.09.2024 <br>Номер:&nbsp;01-09/2024 <br>Срок действия: 5&nbsp;лет",
                                        "Скачать документ (ссылка)",
                                    ],
                                    [
                                        "5",
                                        "Таджикистан",
                                        "Ташкентский государственный университет узбекского языка и литературы им. Алишера Навои",
                                        "Соглашение о&nbsp;сотрудничестве <br>Дата:&nbsp;01.09.2024 <br>Номер:&nbsp;05/19 <br>Срок действия: 5&nbsp;лет",
                                        "Скачать документ (ссылка)",
                                    ],
                                ]
                            })


                        +m-columns({
                            title: '<h3>Численность иностранных педагогических и научных работников</h3>',
                            mainIsText: true
                            })
                                .text-items-list
                                    +count-block({
                                        text: 'Количество',
                                        num: '5',
                                        vMode: 'column'
                                    })