extends ../layouts/default

block variables
    - const title = "Материально-техническое обеспечение и оснащённость образовательного процесса"

block content
    .page(data-js="page")
        .page-layout
            +sidebar-layout(
                {
                items: [
                    {
                        name: 'Главная',
                        link: 'javascript:void(0);'
                    },
                    {
                        name: 'Материально-техническое обеспечение и оснащённость образовательного процесса',
                        link: 'javascript:void(0);'
                    }
                ],
                }
            )
                .sidebar-layout__block
                    .sidebar-layout__block-title.title.title--h2 <span>Материально-техническое</span><br>обеспечение и оснащённость образовательного процесса
                    .sidebar-layout__content
                        .gost-section.gost-section--bordered.text-editor
                            .gost-section__text
                                p ООО «Онлайн-Гимназия Адель» осуществляет образовательную деятельность исключительно с применением дистанционных образовательных технологий и (или) электронного обучения.

                                p В ООО «Онлайн-Гимназия Адель»  созданы условия для функционирования электронной информационной образовательной среды, в том числе организация располагает оборудованием и программным обеспечением, необходимым для функционирования электронной информационно-образовательной среды и реализации образовательных программ с применением дистанционных образовательных технологий.

                        .gost-section.gost-section--bordered.text-editor
                            .gost-section__text
                                p Электронная образовательная среда ООО «Онлайн-Гимназия Адель» обеспечивает освоение обучающимися образовательных программ в полном объеме независимо от их места нахождения.

                                p Обучающийся получает полный доступ к электронным материалам программы после оплаты.