extends ../layouts/default

block variables
    - const title = "Новости"

block content
    .page(data-js="page")
        .page-layout
            +i-intro({
                title: 'Новости',
                isSmall: true,
                breadcrumbs: {
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Новости',
                            link: 'javascript:void(0);'
                        }
                    ],
                }

            })

            +news-list({
                classes: 'p-default news-list--bordered m-alone',
                newsList: [
                    {
                        img: 'img/news/news_5.webp',
                        date: '',
                        title: 'Перевод на семейное обучение: пошаговое руководство для родителей',
                        desc: '<b>Все больше семей рассматривают возможность семейного обучения для своих детей. Причины разные, но все об одном: желание обеспечить комфорт и стремление к более гибкому графику.</b>'
                    },
                    {
                        img: 'img/news/news_6.webp',
                        date: '',
                        title: '5 неочевидных причин перехода на домашнее обучение',
                        desc: '<b>Для многих родителей домашнее обучение становится не просто альтернативой традиционным методам обучения, а настоящим спасательным кругом, который открывает двери в безграничный мир знаний.</b>'
                    },
                    {
                        img: 'img/news/news_7.webp',
                        date: '',
                        title: 'Онлайн-школы и ФГОС – правила взаимодействия',
                        desc: '<b>Многие спрашивают, почему онлайн-школы так любят акцентировать на этом внимание. И если этого не написано на сайте школы, стоит ли бить тревогу? Давайте разбираться.</b>'
                    },
                    {
                        img: 'img/news/news_8.webp',
                        date: '',
                        title: 'Что делать, если ученик не успевает за школьной программой?',
                        desc: '<b>Иногда ребёнок не успевает осваивать программу в необходимом темпе: потому что у каждого своя скорость или потому что в его жизни учёба сейчас не стоит на главном месте — причины могут быть разные.</b>'
                    },
                ]
            })

            +s-socials({
                classes: 'pb-100'
            })
                .section-flex__side.s-socials__side.s-socials__left
                    .section-flex__decor
                        img(src="img/partners/s_partners_decor.webp")
                    .s-socials__title.title.title--h2.title--light Мы в социальных сетях

                .section-flex__side.s-socials__side.s-socials__right
                    .s-socials__grid
                        a.s-socials__item.social-block(href="javascript:void(0);" target="_blank")
                            .social-block__header
                                .social-block__icon
                                    svg 
                                        use(xlink:href=`img/sprites/sprite.svg#rutube`)
                                .social-block__arrow
                                    svg 
                                        use(xlink:href=`img/sprites/sprite.svg#arrow_up_right`)
                            .title.title--h5.social-block__name Rutube

                        a.s-socials__item.social-block(href="javascript:void(0);" target="_blank")
                            .social-block__header
                                .social-block__icon
                                    svg 
                                        use(xlink:href=`img/sprites/sprite.svg#vk_fill`)
                                .social-block__arrow
                                    svg 
                                        use(xlink:href=`img/sprites/sprite.svg#arrow_up_right`)
                            .title.title--h5.social-block__name Vkontakte

                        a.s-socials__item.social-block(href="javascript:void(0);" target="_blank")
                            .social-block__header
                                .social-block__icon
                                    svg 
                                        use(xlink:href=`img/sprites/sprite.svg#whatsapp`)
                                .social-block__arrow
                                    svg 
                                        use(xlink:href=`img/sprites/sprite.svg#arrow_up_right`)
                            .title.title--h5.social-block__name WhatsApp

                        a.s-socials__item.social-block(href="javascript:void(0);" target="_blank")
                            .social-block__header
                                .social-block__icon
                                    svg 
                                        use(xlink:href=`img/sprites/sprite.svg#telegram_fill`)
                                .social-block__arrow
                                    svg 
                                        use(xlink:href=`img/sprites/sprite.svg#arrow_up_right`)
                            .title.title--h5.social-block__name Telegram
