extends ../layouts/default

block variables
    - const title = "Новости"

block content
    .page(data-js="page")
        .page-layout
            +i-intro({
                title: 'Новости',
                isSmall: true,
                breadcrumbs: {
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Новости',
                            link: 'javascript:void(0);'
                        }
                    ],
                }

            })

            +news-list({
                classes: 'p-default news-list--bordered m-alone',
                newsList: [
                    {
                        img: 'img/news/news_5.webp',
                        date: '',
                        title: 'Иностранные языки: английский, французский, немецкий — набор на обучение в 2024-2025',
                        desc: '<b>Все программы дают возможность существенно повысить уровень владения иностранным языком, а также формируют навыки общения в профессиональной среде.</b>'
                    },
                    {
                        img: 'img/news/news_5.webp',
                        date: '',
                        title: 'Иностранные языки: английский, французский, немецкий — набор на обучение в 2024-2025',
                        desc: '<b>Все программы дают возможность существенно повысить уровень владения иностранным языком, а также формируют навыки общения в профессиональной среде.</b>'
                    },
                    {
                        img: 'img/news/news_7.webp',
                        date: '',
                        title: 'Иностранные языки: английский, французский, немецкий — набор на обучение в 2024-2025',
                        desc: '<b>Все программы дают возможность существенно повысить уровень владения иностранным языком, а также формируют навыки общения в профессиональной среде.</b>'
                    },
                    {
                        img: 'img/news/news_8.webp',
                        date: '',
                        title: 'Английский язык в IT',
                        desc: ''
                    },
                ]
            })

