extends ../layouts/default

block variables
    - const title = "Образование"

block content
    .page(data-js="page")
        .page-layout
            +sidebar-layout(
                {
                items: [
                    {
                        name: 'Главная',
                        link: 'javascript:void(0);'
                    },
                    {
                        name: 'Образование',
                        link: 'javascript:void(0);'
                    }
                ],
                }
            )
                .sidebar-layout__block
                    .sidebar-layout__block-title.title.title--h2 <span>Образование</span>
                    .sidebar-layout__content
                        .gost-section.gost-section--bordered.text-editor
                            h3 Лицензия на осуществление образовательной деятельности с приложениями (выписка из реестра лицензий на осуществление образовательной деятельности)
                            .text-items-list
                                +link-block({
                                    text: 'Образовательную деятельность ООО&nbsp;«Онлайн-Гимназия Адель» осуществляет на&nbsp;основании бессрочной лицензии на&nbsp;осуществление образовательной деятельности, выданной Министерством образования Московской области, регистрационный №&nbsp;Л035-&nbsp;01255&nbsp;-50/01640382, дата предоставления: 18.12.2024',
                                    vMode: 'note',
                                    type: 'arrow_up_right',
                                    linkText: 'Открыть документ'
                                })

                        +m-columns({
                            title: '<h3>Реализуемые виды образования</h3>',
                            mainIsText: true
                        })
                            p Дополнительное образование детей и взрослых

                        +m-columns({
                            title: '<h3>Формы обучения</h3>',
                            mainIsText: true
                        })
                            p  Очная, очно-заочная, заочная (определяется договором)

                        +m-columns({
                            title: '<h3>Реализация образовательных программ',
                            mainIsText: true
                        })
                            p При реализации образовательных программ используются исключительно электронное обучение и дистанционные образовательные технологии. 

                            p В частности, используются следующие технологии организации учебного процесса:
                            ul
                                li сайт и онлайн-платформа как совокупность образовательных сервисов;
                                li вебинары (онлайн режим);
                                li персональное сопровождение обучающихся.

                        +m-columns({
                            title: '<h3>Об учебном процессе',
                            mainIsText: true
                        })
                            p Учебный процесс осуществляется в течение всего календарного года, обучение ведется на русском языке, практика не предусмотрена.

                            p Время, место, формат проведения занятий определяются расписанием и/или соответствующей образовательной программой.

                        .gost-section.gost-section--bordered.text-editor
                            h3 Лицензия на осуществление образовательной деятельности с приложениями (выписка из реестра лицензий на осуществление образовательной деятельности)
                            .text-items-list
                                +link-block({
                                    text: 'Реализуемые образовательные программы',
                                    vMode: 'note',
                                    type: 'arrow_up_right',
                                    linkText: 'Открыть документ'
                                })

