extends ../layouts/default

block variables
    - const title = "Платные образовательные услуги"

block content
    .page(data-js="page")
        .page-layout
            +sidebar-layout(
                {
                items: [
                    {
                        name: 'Главная',
                        link: 'javascript:void(0);'
                    },
                    {
                        name: 'Платные образовательные услуги',
                        link: 'javascript:void(0);'
                    }
                ],
                }
            )

                .sidebar-layout__block
                    .sidebar-layout__block-title.title.title--h2 
                        <span>Платные</span><br>образовательные услуги
                    .sidebar-layout__content
                        .gost-section.gost-section--bordered.text-editor
                            h2 Порядок оказания платных образовательных услуг

                            p ООО «Онлайн-Гимназия Адель» оказывает следующие платные образовательные услуги: услуги по реализации дополнительных общеобразовательных общеразвивающих программ.
                            p Условия оказания услуг определяются договорами об образовании, заключаемыми между ООО «Онлайн-Гимназия Адель» и обучающимися (в лице законных представителей) и (или) заказчиками платных образовательных услуг.
                            p Договор может быть заключен путем акцепта выбранной оферты, размещенной на сайте ООО «Онлайн-Гимназия Адель», или путем заключения договора в письменной форме по согласованию с организацией.

                        .gost-section.gost-section--bordered.text-editor
                            h2 Образец договора об оказании платных образовательных услуг
                            .text-items-list
                                +link-block({
                                    classes: '',
                                    text: 'Образец договора на платные услуги (оферта) ',
                                    vMode: 'note',
                                    type: 'arrow_up_right',
                                    linkText: 'Открыть документ'
                                })
                                +link-block({
                                    classes: '',
                                    text: 'Приказ об утверждении оферты',
                                    vMode: 'note',
                                    type: 'arrow_up_right',
                                    linkText: 'Открыть документ'
                                })

                        .gost-section.gost-section--bordered.text-editor
                            h2 Об утверждении стоимости обучения по каждой образовательной программе
                            h3 2025
                            .text-items-list
                                +link-block({
                                    classes: '',
                                    text: 'Приказ по стоимости обучения',
                                    vMode: 'note',
                                    type: 'arrow_up_right',
                                    linkText: 'Открыть документ'
                                })
                                +link-block({
                                    classes: '',
                                    text: 'Приказ по рекламным акциям',
                                    vMode: 'note',
                                    type: 'arrow_up_right',
                                    linkText: 'Открыть документ'
                                })