extends ../layouts/default

block variables
    - const title = "Платные образовательные услуги"

block content
    .page(data-js="page")
        .page-layout
            +sidebar-layout(
                {
                items: [
                    {
                        name: 'Главная',
                        link: 'javascript:void(0);'
                    },
                    {
                        name: 'Платные образовательные услуги',
                        link: 'javascript:void(0);'
                    }
                ],
                }
            )

                .sidebar-layout__block
                    .sidebar-layout__block-title.title.title--h2 <span>Платные</span><br>образовательные услуги
                    .sidebar-layout__content
                        .gost-section.gost-section--bordered.text-editor
                            .text-items-list
                                +link-block({
                                    classes: '',
                                    text: 'Положение о порядке предоставления платных образовательных услуг',
                                    vMode: 'note',
                                    type: 'arrow_up_right',
                                    linkText: 'Открыть документ'
                                })

                .sidebar-layout__block
                    .sidebar-layout__block-title.title.title--h3 Образец договора об оказании платных образовательных услуг
                    .sidebar-layout__content
                        .gost-section.gost-section--bordered.text-editor
                            .text-items-list
                                +link-block({
                                    classes: '',
                                    text: 'двухсторонний договор на обучение по образовательным программам высшего образования с физическими лицами в связи с поступлением на 1 курс',
                                    vMode: 'note',
                                    type: 'arrow_up_right',
                                    linkText: 'Открыть документ'
                                })
                                +link-block({
                                    classes: '',
                                    text: 'трехсторонний договор на обучение по образовательным программам высшего образования с физическими лицами в связи с поступлением на 1 курс',
                                    vMode: 'note',
                                    type: 'arrow_up_right',
                                    linkText: 'Открыть документ'
                                })
                                +link-block({
                                    classes: '',
                                    text: 'трехсторонний договор на обучение по образовательным программам высшего образования с юридическими лицами в связи с поступлением на 1 курс',
                                    vMode: 'note',
                                    type: 'arrow_up_right',
                                    linkText: 'Открыть документ'
                                })
                                +link-block({
                                    classes: '',
                                    text: 'двухсторонний договор на обучение по образовательным программам высшего образования с физическими лицами в связи с восстановлением для продолжения обучения',
                                    vMode: 'note',
                                    type: 'arrow_up_right',
                                    linkText: 'Открыть документ'
                                })
                                +link-block({
                                    classes: '',
                                    text: 'трехсторонний договор на обучение по образовательным программам высшего образования с физическими лицами в связи с восстановлением для продолжения обучения',
                                    vMode: 'note',
                                    type: 'arrow_up_right',
                                    linkText: 'Открыть документ'
                                })
                                +link-block({
                                    classes: '',
                                    text: 'трехсторонний договор на обучение по образовательным программам высшего образования с юридическими лицами в связи с восстановлением для продолжения обучения',
                                    vMode: 'note',
                                    type: 'arrow_up_right',
                                    linkText: 'Открыть документ'
                                })
                                +link-block({
                                    classes: '',
                                    text: 'двухсторонний договор на обучение по образовательным программам высшего образования с физическими лицами в связи с переводом из другой образовательной организации',
                                    vMode: 'note',
                                    type: 'arrow_up_right',
                                    linkText: 'Открыть документ'
                                })
                                +link-block({
                                    classes: '',
                                    text: 'трехсторонний договор на обучение по образовательным программам высшего образования с физическими лицами в связи с переводом из другой образовательной организации',
                                    vMode: 'note',
                                    type: 'arrow_up_right',
                                    linkText: 'Открыть документ'
                                })
                                +link-block({
                                    classes: '',
                                    text: 'трехсторонний договор на обучение по образовательным программам высшего образования с юридическими лицами в связи с переводом из другой образовательной организации',
                                    vMode: 'note',
                                    type: 'arrow_up_right',
                                    linkText: 'Открыть документ'
                                })
                                +link-block({
                                    classes: '',
                                    text: 'согласие на заключение несовершеннолетним договора на обучение по образовательным программам высшего образования',
                                    vMode: 'note',
                                    type: 'arrow_up_right',
                                    linkText: 'Открыть документ'
                                })
                                +link-block({
                                    classes: '',
                                    text: 'двухсторонний договор на обучение по программам подготовки научных и научно-педагогических кадров в аспирантуре',
                                    vMode: 'note',
                                    type: 'arrow_up_right',
                                    linkText: 'Открыть документ'
                                })
                                +link-block({
                                    classes: '',
                                    text: 'трехсторонний договор на обучение по программам подготовки научных и научно-педагогических кадров в аспирантуре',
                                    vMode: 'note',
                                    type: 'arrow_up_right',
                                    linkText: 'Открыть документ'
                                })
                                +link-block({
                                    classes: '',
                                    text: 'двухсторонний договор на обучение по программам подготовки научных и научно–педагогических кадров в аспирантуре в связи с восстановлением для продолжения обучения',
                                    vMode: 'note',
                                    type: 'arrow_up_right',
                                    linkText: 'Открыть документ'
                                })
                                +link-block({
                                    classes: '',
                                    text: 'трехсторонний договор на обучение по программам подготовки научных и научно–педагогических кадров в аспирантуре в связи с восстановлением для продолжения обучения',
                                    vMode: 'note',
                                    type: 'arrow_up_right',
                                    linkText: 'Открыть документ'
                                })
                                +link-block({
                                    classes: '',
                                    text: 'двухсторонний договор на обучение по программам подготовки научных и научно–педагогических кадров в аспирантуре в связи с переводом из другой образовательной организации',
                                    vMode: 'note',
                                    type: 'arrow_up_right',
                                    linkText: 'Открыть документ'
                                })
                                +link-block({
                                    classes: '',
                                    text: 'трехсторонний договор на обучение по программам подготовки научных и научно–педагогических кадров в аспирантуре в связи с переводом из другой образовательной организации',
                                    vMode: 'note',
                                    type: 'arrow_up_right',
                                    linkText: 'Открыть документ'
                                })

                .sidebar-layout__block
                    .sidebar-layout__block-title.title.title--h3 Документ об утверждении стоимости обучения по каждой образовательной программе
                    .sidebar-layout__content
                        .gost-section.gost-section--bordered.text-editor
                            h3 2024
                            .text-items-list
                                +link-block({
                                    classes: '',
                                    text: 'Приказ №400-ОД от 05.04.2024 Об установлении стоимости платных образовательных услуг в 2024/2025 учебном году для 1 курса',
                                    vMode: 'note',
                                    type: 'arrow_up_right',
                                    linkText: 'Открыть документ'
                                })
                                +link-block({
                                    classes: '',
                                    text: 'Приказ №434-ОД от 16.04.2024 О стоимости образовательных услуг в 2024/2025 учебном году для продолжающих обучение, переводящихся и восстанавливающихся',
                                    vMode: 'note',
                                    type: 'arrow_up_right',
                                    linkText: 'Открыть документ'
                                })
                            h3 2023    
                            .text-items-list
                                +link-block({
                                    classes: '',
                                    text: 'Приказ №366-ОД от 31.03.2023 Об установлении стоимости платных образовательных услуг в 2023/2024 учебном году для 1 курса',
                                    vMode: 'note',
                                    type: 'arrow_up_right',
                                    linkText: 'Открыть документ'
                                })
                                +link-block({
                                    classes: '',
                                    text: 'Приказ №660-ОД от 31.05.2023 О стоимости образовательных услуг в 2023/2024 учебном году для продолжающих обучение, переводящихся и восстанавливающихся',
                                    vMode: 'note',
                                    type: 'arrow_up_right',
                                    linkText: 'Открыть документ'
                                })
