extends ../layouts/default

block variables
    - const title = "Программы обучения"

block content
    .page(data-js="page")
        .page-layout
            +i-intro({
                title: '<span>Программы</span><br>обучения',
                isSmall: true,
                breadcrumbs: {
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Программы обучения',
                            link: 'javascript:void(0);'
                        }
                    ],
                }

            })

            +programms-list({
                classes: 'p-default pb-100',
                vMode: 'cards',
                title: '',
                hasMoreBtn: false,
                hasFilters: true,
                cards: [
                    {
                        faculty: 'Основная программа',
                        name: 'Модули 1-4&nbsp;ĸласс',
                        params: [
                            {
                                name: 'Вместимость группы, чел',
                                value: '10',
                                isFull: false
                            },
                            {
                                name: 'Срок обучения',
                                value: '9 мес',
                                isFull: false
                            },
                            {
                                name: 'Стоимость в месяц',
                                value: '9 900 ₽',
                                isFull: true
                            },
                        ],
                    },
                    {
                        faculty: 'Основная программа',
                        name: 'Модули 5-8&nbsp;ĸласс',
                        params: [
                            {
                                name: 'Вместимость группы, чел',
                                value: '15',
                                isFull: false
                            },
                            {
                                name: 'Срок обучения',
                                value: '9 мес',
                                isFull: false
                            },
                            {
                                name: 'Стоимость в месяц',
                                value: '11 900 ₽',
                                isFull: true
                            },
                        ],
                    },
                    {
                        faculty: 'Основная программа',
                        name: 'Модули 9-11&nbsp;ĸласс',
                        params: [
                            {
                                name: 'Вместимость группы, чел',
                                value: '15',
                                isFull: false
                            },
                            {
                                name: 'Срок обучения',
                                value: '9 мес',
                                isFull: false
                            },
                            {
                                name: 'Стоимость в месяц',
                                value: '13 900 ₽',
                                isFull: true
                            },
                        ],
                    },
                    {
                        faculty: 'Дополнительная программа',
                        name: 'Дошкольная подготовка "ПЕСОЧНИЦА"',
                        params: [
                            {
                                name: 'Вместимость группы, чел',
                                value: '10',
                                isFull: false
                            },
                            {
                                name: 'Срок обучения',
                                value: '6 мес',
                                isFull: false
                            },
                            {
                                name: 'Стоимость в месяц',
                                value: '7 000 ₽',
                                isFull: true
                            },
                        ],
                    },
                    {
                        faculty: 'Дополнительная программа',
                        name: 'Репетиторство, подготовка ОГЭ/ЕГЭ',
                        params: [
                            {
                                name: 'Вместимость группы, чел',
                                value: '10',
                                isFull: false
                            },
                            {
                                name: 'Срок обучения',
                                value: '6 мес',
                                isFull: false
                            },
                            {
                                name: 'Стоимость в месяц',
                                value: '7 000 ₽',
                                isFull: true
                            },
                        ],
                    },

                    {
                        faculty: 'Дополнительная программа',
                        name: 'Графический дизайн',
                        params: [
                            {
                                name: 'Вместимость группы, чел',
                                value: '5',
                                isFull: false
                            },
                            {
                                name: 'Срок обучения',
                                value: '6 мес',
                                isFull: false
                            },
                            {
                                name: 'Стоимость в месяц',
                                value: '7 999 ₽',
                                isFull: true
                            },
                        ],
                    },

                    {
                        faculty: 'Дополнительная программа',
                        name: 'Дизайн инфографики',
                        params: [
                            {
                                name: 'Вместимость группы, чел',
                                value: '5',
                                isFull: false
                            },
                            {
                                name: 'Срок обучения',
                                value: '6 мес',
                                isFull: false
                            },
                            {
                                name: 'Стоимость в месяц',
                                value: '4 999 ₽',
                                isFull: true
                            },
                        ],
                    },

                    {
                        faculty: 'Дополнительная программа',
                        name: 'WEB-разработчик',
                        params: [
                            {
                                name: 'Вместимость группы, чел',
                                value: '5',
                                isFull: false
                            },
                            {
                                name: 'Срок обучения',
                                value: '6 мес',
                                isFull: false
                            },
                            {
                                name: 'Стоимость в месяц',
                                value: '7 999 ₽',
                                isFull: true
                            },
                        ],
                    },

                    {
                        faculty: 'Дополнительная программа',
                        name: 'Python-разработчик',
                        params: [
                            {
                                name: 'Вместимость группы, чел',
                                value: '5',
                                isFull: false
                            },
                            {
                                name: 'Срок обучения',
                                value: '6 мес',
                                isFull: false
                            },
                            {
                                name: 'Стоимость в месяц',
                                value: '4 999 ₽',
                                isFull: true
                            },
                        ],
                    },


                ]
            })