extends ../layouts/default

block variables
    - const title = "Программа обучения"

block content
    .page(data-js="page")
        .page-layout
            +i-intro({
                title: '10 ступень',
                img: 'img/programms/programm_intro.webp',
                breadcrumbs: {
                    cMode: 'light',
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Программы',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: '10 ступень',
                            link: 'javascript:void(0);'
                        }
                    ],
                }
            })
                .i-intro__corner
                    +btn({
                        cMode: 'green',
                        name: 'Записаться на консультацию',
                        icon: 'arrow_up_right'
                    })

            +programm-info
            +i-questions
            +s-skills
            +s-vacancy({
                title: 'Дополнительное <br>образование',
                cards: [
                    {
                        title: 'Разработчик Python',
                        salary: '5 000₽',
                        resp: 'Автоматизация бизнес-процессов полиграфического и упаковочного производства; анализ показателей выработки, прибыльности, ресурсов, перспектив предприятия',
                    },
                    {
                        title: 'WEB Разработчик',
                        salary: '8 000₽',
                        resp: 'Автоматизация бизнес-процессов полиграфического и упаковочного производства; анализ показателей выработки, прибыльности, ресурсов, перспектив предприятия',
                    },
                    {
                        title: 'Дизайнер инфографики',
                        salary: '5 000₽',
                        resp: 'Проведение аудита бизнес-процессов на соответствие стратегическим целям и задачам, а так же текущей операционной деятельности, осуществление ',
                    },
                    {
                        title: 'Графический дизайн',
                        salary: '5 000₽',
                        resp: 'Проведение аудита бизнес-процессов на соответствие стратегическим целям и задачам, а так же текущей операционной деятельности, осуществление оперативного контроля функционирования системы бизнес-процессов и проведение необходимой коррекции для повышения эффективности и результативности бизнес-процессов.',
                    },
                    {
                        title: 'Разработчик Python',
                        salary: '5 000₽',
                        resp: 'Автоматизация бизнес-процессов полиграфического и упаковочного производства; анализ показателей выработки, прибыльности, ресурсов, перспектив предприятия',

                    },
                    {
                        title: 'WEB Разработчик',
                        salary: '8 000₽',
                        resp: 'Автоматизация бизнес-процессов полиграфического и упаковочного производства; анализ показателей выработки, прибыльности, ресурсов, перспектив предприятия',

                    },
                    {
                        title: 'Дизайнер инфографики',
                        salary: '5 000₽',
                        resp: 'Проведение аудита бизнес-процессов на соответствие стратегическим целям и задачам, а так же текущей операционной деятельности, осуществление ',

                    },
                    {
                        title: 'Графический дизайн',
                        salary: '5 000₽',
                        resp: 'Проведение аудита бизнес-процессов на соответствие стратегическим целям и задачам, а так же текущей операционной деятельности, осуществление оперативного контроля функционирования системы бизнес-процессов и проведение необходимой коррекции для повышения эффективности и результативности бизнес-процессов.',

                    },
                    {
                        title: 'Разработчик Python',
                        salary: '5 000₽',
                        resp: 'Автоматизация бизнес-процессов полиграфического и упаковочного производства; анализ показателей выработки, прибыльности, ресурсов, перспектив предприятия',

                    },
                    {
                        tag: '',
                        title: 'WEB Разработчик',
                        salary: '8 000₽',
                        resp: 'Автоматизация бизнес-процессов полиграфического и упаковочного производства; анализ показателей выработки, прибыльности, ресурсов, перспектив предприятия',

                    },
                    {
                        title: 'Дизайнер инфографики',
                        salary: '5 000₽',
                        resp: 'Проведение аудита бизнес-процессов на соответствие стратегическим целям и задачам, а так же текущей операционной деятельности, осуществление ',
                    },
                    {
                        title: 'Графический дизайн',
                        salary: '5 000₽',
                        resp: 'Проведение аудита бизнес-процессов на соответствие стратегическим целям и задачам, а так же текущей операционной деятельности, осуществление оперативного контроля функционирования системы бизнес-процессов и проведение необходимой коррекции для повышения эффективности и результативности бизнес-процессов.',
                    },

                ]
            })
            +s-partners
            +programm-programms