extends ../layouts/default

block variables
    - const title = "Программа обучения"

block content
    .page
        .page-layout
            +i-intro({
                title: '10 ступень',
                img: 'img/programms/programm_intro.webp',
                breadcrumbs: {
                    cMode: 'light',
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Программы',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: '10 ступень',
                            link: 'javascript:void(0);'
                        }
                    ],
                }
            })
                .i-intro__corner
                    +btn({
                        cMode: 'green',
                        name: 'Записаться на консультацию',
                        icon: 'arrow_up_right'
                    })

            +programm-info
            +i-questions

            +s-skills
            +s-vacancy({
                title: 'Карьера после <br>обучения',
                cards: [
                    {
                        tag: '',
                        title: 'Менеджер по бизнес-процессам',
                        salary: 'от 80 000р',
                        resp: 'проведение аудита бизнес-процессов на соответствие стратегическим целям и задачам, а так же текущей операционной деятельности, осуществление оперативного контроля функционирования',
                        employer: ''
                    },
                    {
                        tag: '',
                        title: 'Аналитик бизнес-процессов',
                        salary: 'от 140 000р',
                        resp: 'автоматизация бизнес-процессов полиграфического и упаковочного производства; анализ показателей выработки, прибыльности, ресурсов, перспектив предприятия',
                        employer: ''
                    },
                    {
                        tag: '',
                        title: 'Специалист по бизнес-процессам',
                        salary: 'от 80 000р',
                        resp: 'проведение аудита бизнес-процессов на соответствие стратегическим целям и задачам, а так же текущей операционной деятельности, осуществление',
                        employer: ''
                    },
                    {
                        tag: '',
                        title: 'Менеджер по бизнес-процессам',
                        salary: 'от 80 000р',
                        resp: 'проведение аудита бизнес-процессов на соответствие стратегическим целям и задачам, а так же текущей операционной деятельности, осуществление оперативного контроля функционирования системы бизнес-процессов и проведение необходимой коррекции для повышения эффективности и результативности бизнес-процессов.',
                        employer: ''
                    },

                ]
            })
            +s-partners
            +programm-programms