extends ../layouts/default

block variables
    - const title = "Руководство. Педагогический состав"

block content
    .page(data-js="page")
        .page-layout
            +sidebar-layout(
                {
                items: [
                    {
                        name: 'Главная',
                        link: 'javascript:void(0);'
                    },
                    {
                        name: 'Руководство. Педагогический состав',
                        link: 'javascript:void(0);'
                    }
                ],
                }
            )

                .sidebar-layout__block
                    .sidebar-layout__block-title.title.title--h2 <span>Руководство. Педагогический</span><br>(научно-педагогический) состав
                    .sidebar-layout__content
                        .gost-section.gost-section--bordered.text-editor
                            h3 Информация о руководителе

                            +m-table({
                                header: [
                                    "№",
                                    "Фамилия, имя, отчество (при наличии)",
                                    "Должность руководителя",
                                    "Контактные телефоны",
                                    "Адрес электронной почты"
                                ],

                                rows: [
                                    [
                                        "1",
                                        "Федечкина Ирина Витальевна",
                                        "Директор",
                                        "<a href='tel:+79993339109'> +7 (999) 333-91-09</a>",
                                        "<a href='mailto:school@adeleschool.ru'>school@adeleschool.ru</a>"
                                    ]
                                ]
                            })

                        +m-columns({
                            title: '<h3>Информация о персональном составе педагогических работников</h3>',
                            mainIsText: true
                        })
                            p Образовательный процесс в ООО «Онлайн-Гимназия Адель»  реализуется педагогическими работниками, соответствующими требованиям законодательства в части квалификации, стажа работы и уровня образования, и не имеющими ограничений для занятия педагогической деятельностью.

                            p Раздел обновляется и дополняется, будет приведен в соответствие с требованиями Приказа Федеральной службы по надзору в сфере образования и науки РФ от&nbsp;04.08.2023&nbsp;№&nbsp;1493 «Об утверждении Требований к структуре официального сайта образовательной организации в информационно-телекоммуникационной сети «Интернет» и формату представления информации» после завершения технических и организационных работ на сайте

                        .gost-section.gost-section--bordered.text-editor
                            .text-items-list
                                +link-block({
                                    text: 'Информация о персональном составе педагогических работников',
                                    vMode: 'note',
                                    type: 'arrow_up_right',
                                    linkText: 'Открыть документ'
                                })