extends ../layouts/default

block variables
    - const title = "Стипендии и меры поддержки обучающихся"

block content
    .page(data-js="page")
        .page-layout
            +sidebar-layout(
                {
                items: [
                    {
                        name: 'Главная',
                        link: 'javascript:void(0);'
                    },
                    {
                        name: 'Стипендии и меры поддержки обучающихся',
                        link: 'javascript:void(0);'
                    }
                ],
                }
            )
                .sidebar-layout__block
                    .sidebar-layout__block-title.title.title--h2 <span>Стипендии</span> и меры поддержки обучающихся
                    .sidebar-layout__content
                        .gost-section.gost-section--bordered.text-editor
                            h2 Сведения о наличии и условиях предоставления обучающимся стипендий

                            p Стипендии и иные виды материальной поддержки обучающихся в ООО «Онлайн-Гимназия Адель» не предусмотрены.

                        .gost-section.gost-section--bordered.text-editor
                            h2 О наличии общежития, интерната

                            p ООО «Онлайн-Гимназия Адель» не располагает общежитием.
