extends ../layouts/default

block variables
    - const title = "Структура и органы управления образовательной организацией"

block content
    .page(data-js="page")
        .page-layout
            +sidebar-layout(
                {
                items: [
                    {
                        name: 'Главная',
                        link: 'javascript:void(0);'
                    },
                    {
                        name: 'Структура и органы управления образовательной организацией',
                        link: 'javascript:void(0);'
                    }
                ],
                }
            )

                .sidebar-layout__block
                    .sidebar-layout__block-title.title.title--h2 <span>Структура и органы</span><br>управления образовательной организацией
                    .sidebar-layout__content
                        +m-columns({
                            title: '<h3>О наименовании структурного подразделения (органа управления)</h3>',
                            mainIsText: true
                        })
                            p Органами управления ООО «Онлайн-Гимназия Адель» являются:
                            ul
                                li Общее собрание участников;
                                li Единоличный исполнительный орган –  директор.

                            p Компетенция органов управления определяется Уставом ООО «Онлайн-Гимназия Адель».

                            p Структурные подразделения ООО «Онлайн-Гимназия Адель»:
                            ul
                                li Образовательное структурное подразделение

                        +m-columns({
                            title: '<h3>О фамилиях, именах, отчествах (при наличии) и должностях руководителей структурных подразделений</h3>',
                            mainIsText: true
                        })
                            p Руководитель подразделения:<br>Федечкина Ирина Витальевна,  директор.

                        +m-columns({
                            title: '<h3>О месте нахождения структурных подразделений</h3>',
                            mainIsText: true
                        })
                            p Место нахождения структурных подразделений и органов управления: 140411, Московская область, г. Коломна, ул Козлова, д. 105, помещ. 11.

                        +m-columns({
                            title: '<h3>Об адресах официальных сайтов в сети "Интернет" структурных подразделений (при наличии)',
                            mainIsText: true
                        })
                            p Адреса официальных сайтов структурных подразделений отсутствуют

                        +m-columns({
                            title: '<h3>Об адресах электронной почты структурных подразделений (при наличии электронной почты)',
                            mainIsText: true
                        })
                            p Адреса электронной почты структурных подразделений:<br>
                                <a href="mailto:chool@adeleschool.ru">school@adeleschool.ru</a>

                        .gost-section.gost-section--bordered.text-editor
                            .text-items-list
                                +link-block({
                                    text: 'Положение об образовательном структурном подразделении',
                                    vMode: 'note',
                                    type: 'arrow_up_right',
                                    linkText: 'Открыть документ'
                                })