extends ../layouts/default

block variables
    - const title = "Жане Назира Аскеровна"
    - const greenBg = true

block content
    .page(data-js="page")
        .page-layout
            +people-intro({
                photo: 'img/peoples/people_df.webp',
                breadcrumbs: {
                    classes: 'people-intro__breadcrumbs',
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Преподаватели',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Жане Назира Аскеровна',
                            link: 'javascript:void(0);'
                        }
                    ],
                }
            })
                .people-intro__block.people-intro__block--top
                    .title.title--h2.people-intro__name <span>Жане</span><br>Назира Аскеровна
                    .people-intro__items(data-js='peopleDetailInfo')
                        .people-intro__item                        
                            .people-intro__param Должность
                            .people-intro__val.text-editor Завуч начального звена<br>Учитель начальных классов
                        .people-intro__item
                            .people-intro__param Опыт работы
                            .people-intro__val.text-editor более 9 лет
                        .people-intro__item
                            .people-intro__param Образование: СПО
                            .people-intro__val.text-editor Адыгейский педагогический колледж
                        .people-intro__item
                            .people-intro__param Специальность
                            .people-intro__val.text-editor Учитель начальных классов<br>Cпециализация: адыгейский язык
                        .people-intro__item
                            .people-intro__param Образование: Высшее
                            .people-intro__val.text-editor Адыгейский государственный университет
                        .people-intro__item
                            .people-intro__param Специальность
                            .people-intro__val.text-editor
                                ul
                                    li Учитель начальных классов (семейное психоконсультирование)
                                    li Бакалавриат по экономике
                        .people-intro__item
                            .people-intro__param Переподготовка / Повышение квалификации
                            .people-intro__val.text-editor
                                ul
                                    li Профессиональная переподготовка: «Методика онлайнобучения детей группы риска (одарённые и “трудные” дети)»
                                    li Курсы МГИМО (2023)
                                    li Курсы повышения квалификации:
                                    li Дислексия, дисграфия, дискалькулия: нейропсихологическая диагностика и коррекция
                                    li Развитие критического мышления у младших школьников
                                    li Внедрение ФОП НОО
                                    li Работа с детьми с РАС в условиях ФГОС ДО
                                    li Инклюзивное и интегрированное образование детей с ОВЗ

                .people-intro__block.people-intro__block--bottom
                    .people-intro__desc.text-editor
                        h2 О себе
                        p Здравствуйте! Меня зовут Назира Аскеровна. Я — учитель начальных классов во втором поколении. Можно сказать, это больше, чем профессия. Это — часть моей личности, моей судьбы. С раннего детства я наблюдала за работой педагогов: как они смотрят на детей, как ведут урок, как умеют вдохновить, и мечтала однажды стать такой же. Сегодня у меня за плечами 9 лет практики и сотни улыбок учеников, и я по-настоящему счастлива, что каждый день иду на работу с огоньком в сердце.
                        p Мне близка фраза Чехова:<br><i>«Учитель должен быть артист, художник, горячо влюблённый в своё дело»</i>. Я и правда влюблена в то, чем занимаюсь. Моя главная цель — не просто научить, а помочь ребёнку почувствовать себя значимым, услышанным, успешным. Чтобы спустя годы он вспоминал школу с теплотой, а глаза его горели интересом — как у тех, кто верит в свои силы и хочет учиться дальше

                    .people-intro__desc.text-editor
                        h2 Подход к обучению
                        p Каждый ребёнок — как целая вселенная. Кто-то любит тишину и рассуждения, кто-то рвётся к активности, кому-то нужно время, чтобы раскрыться. Моя задача — видеть каждого, понимать его темп и помогать шаг за шагом двигаться вперёд.
                        p Использую индивидуально-массовый подход, совмещаю традиционные методы с современными цифровыми инструментами, активно применяю игровые технологии, проектные методики и элементы критического мышления.
                        p Мне важно, чтобы уроки были не «для галочки», а живыми и увлекательными. Чтобы ребёнок не боялся ошибаться и учился думать, задавать вопросы, искать свои ответы — ведь именно так и рождается настоящее знание.

                    .people-intro__desc.text-editor
                        h2 Работа с родителями
                        p Родители — не сторонние наблюдатели, а соавторы успеха ребёнка.<br>Я всегда открыта к диалогу, на связи 24/7. Провожу консультации, даю обратную связь, обсуждаю трудности и индивидуальные особенности. Если нужно — вместе выстраиваем маршрут, подбираем поддерживающий подход, говорим о психологическом состоянии ребёнка. 
                        p Моя цель — не просто “отчитаться”, а выстроить партнёрские, тёплые отношения, основанные на доверии и уважении.

                    .people-intro__desc.text-editor
                        h2 Результаты и достижения
                        p Среди моих учеников — призёры и победители олимпиад по математике и творческих конкурсов.<br>brНо я особенно горжусь другим: дети становятся увереннее, начинают любить учёбу, пробуют новое и не боятся трудностей. Они раскрываются, как бутон — в безопасной, поддерживающей среде.
                        p Регулярный рост качества знаний у детей — главный показатель эффективности и моего подхода.

                    .people-intro__desc.text-editor
                        h2 Немного о себе
                        p Люблю читать — особенно русскую классическую литературу, где каждый герой словно оживает между строк.<br>Вдохновляюсь живописью, люблю рисовать. Часто беру в руки карандаш, чтобы передать настроение — и учу этому ребят.<br>А ещё обожаю неспешные прогулки с чашкой кофе — это моё личное “время тишины”, где рождаются новые идеи для уроков.
                        p Верю, что только счастливый и гармоничный педагог может понастоящему зажечь ученика.

                    .people-intro__desc.text-editor    
                        h2 Обращение к родителям и ученикам
                        h3 Дорогие родители!
                        p Если вы ищете не просто учителя, а человека, который поможет вашему ребёнку раскрыться, поверить в себя, научиться учиться — я рядом.<br>Я верю в каждое детское “я смогу!” и стремлюсь, чтобы оно звучало всё увереннее с каждым днём.
                        h3 Дорогие ребята!
                        p Школа — это не скучное место, а целый мир приключений. Здесь можно думать, мечтать, ошибаться, смеяться и расти.<br>Я с нетерпением жду встречи с вами — обещаю, у нас будет интересно!


            +auto-slider({
                title: 'Отзывы родителей <br>и&nbsp;учеников',
                classes: 'p-default'
            })
                +c-review({
                    classes: 'swiper-slide',
                    img: 'img/reviews/review_1.webp',
                    role: 'Родитель',
                })
                +c-review({
                    classes: 'swiper-slide',
                    img: 'img/reviews/review_2.webp',
                    role: 'Ученик',
                    title: 'Цалцаева Алсу Рамзановна',
                    info: [
                        {
                            param: 'Учится',
                            value: '11 ступень'
                        },
                        {
                            param: 'Отзыв на предметы',
                            value: 'Русский язык<br>Математика'
                        },
                    ],
                    media: 'https://vkvideo.ru/video_ext.php?oid=55940171&id=456239498&hd=2&autoplay=1',
                    iframe: true
                })
                +c-review({
                    classes: 'swiper-slide',
                    img: 'img/reviews/review_3.webp',
                    role: 'Родитель'
                })
                +c-review({
                    classes: 'swiper-slide',
                    img: 'img/reviews/review_4.webp',
                    role: 'Ученик',
                    info: [
                        {
                            param: 'Учится',
                            value: '11 ступень'
                        },
                        {
                            param: 'Отзыв на предметы',
                            value: 'Русский язык<br>Математика'
                        },
                    ]
                })
                +c-review({
                    classes: 'swiper-slide',
                    img: 'img/reviews/review_1.webp',
                    role: 'Родитель',
                })
                +c-review({
                    classes: 'swiper-slide',
                    img: 'img/reviews/review_2.webp',
                    role: 'Ученик',
                    title: 'Цалцаева Алсу Рамзановна',
                    info: [
                        {
                            param: 'Учится',
                            value: '11 ступень'
                        },
                        {
                            param: 'Отзыв на предметы',
                            value: 'Русский язык<br>Математика'
                        },
                    ]
                })
                +c-review({
                    classes: 'swiper-slide',
                    img: 'img/reviews/review_3.webp',
                    role: 'Родитель',
                })
                +c-review({
                    classes: 'swiper-slide',
                    img: 'img/reviews/review_4.webp',
                    role: 'Ученик',
                    info: [
                        {
                            param: 'Учится',
                            value: '11 ступень'
                        },
                        {
                            param: 'Отзыв на предметы',
                            value: 'Русский язык<br>Математика'
                        },
                    ]
                })
                +c-review({
                    classes: 'swiper-slide',
                    img: 'img/reviews/review_1.webp',
                    role: 'Родитель',
                })
                +c-review({
                    classes: 'swiper-slide',
                    img: 'img/reviews/review_2.webp',
                    role: 'Ученик',
                    title: 'Цалцаева Алсу Рамзановна',
                    info: [
                        {
                            param: 'Учится',
                            value: '11 ступень'
                        },
                        {
                            param: 'Отзыв на предметы',
                            value: 'Русский язык<br>Математика'
                        },
                    ]
                })
                +c-review({
                    classes: 'swiper-slide',
                    img: 'img/reviews/review_3.webp',
                    role: 'Родитель',
                })
                +c-review({
                    classes: 'swiper-slide',
                    img: 'img/reviews/review_4.webp',
                    role: 'Ученик',
                    info: [
                        {
                            param: 'Учится',
                            value: '11 ступень'
                        },
                        {
                            param: 'Отзыв на предметы',
                            value: 'Русский язык<br>Математика'
                        },
                    ]
                })

            +news-list({
                titleMode: true,
                classes: 'p-default pb-100',
            })
