extends ../layouts/default

block variables
    - const title = "Умаров Малик Мусаевич"
    - const greenBg = true

block content
    .page(data-js="page")
        .page-layout
            +people-intro({
                breadcrumbs: {
                    classes: 'people-intro__breadcrumbs',
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Преподаватели',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Умаров Малик Мусаевич',
                            link: 'javascript:void(0);'
                        }
                    ],
                }
            })
                .people-intro__items(data-js='peopleDetailInfo')
                    .people-intro__item                        
                        .people-intro__param Должность
                        .people-intro__val Учитель арабского языка
                    .people-intro__item
                        .people-intro__param Опыт работы
                        .people-intro__val 6 лет
                    .people-intro__item
                        .people-intro__param Образование: СПО
                        .people-intro__val ГБПОУ «Чеченский государственный колледж»
                    .people-intro__item
                        .people-intro__param Специальность
                        .people-intro__val Мастер по обработке цифровой информации
                    .people-intro__item
                        .people-intro__param Образование: Высшее
                        .people-intro__val ФГБОУ ВО «Чеченский государственный педагогический университет»
                    .people-intro__item
                        .people-intro__param Специальность
                        .people-intro__val Информатика в экономике
                    .people-intro__item
                        .people-intro__param Переподготовка / Повышение квалификации
                        .people-intro__val Педагог дополнительного образования

                .people-intro__desc.text-editor
                    h2 Достижения
                    ul
                        li Победитель регионального этапа Всероссийского конкурса профессионального мастерства работников сферы дополнительного образования "Сердце отдаю детям"
                        li Победитель в номинации "Профессиональный дебют" в дополнительном образовании регионального этапа Всероссийского конкурса профессионального мастерства работников сферы дополнительного образования "Сердце отдаю детям"
                        li Лауреат регионального этапа "Сердце отдаю детям"
                        li Победитель конкурса "Сердце отдаю детям" по версии Telegram-канала "Дневник Педагога"
                        li Победитель проектного акселератора "Ваша успешная заявка на грант: упаковка проекта"
                        li Победитель республиканском конкурсе за лучший проект на тему "Здесь моя Родина" посвященный Дню народного единства в номинации "Big Data"
                        li Победител в республиканском конкурсе 24-BIT в номинации "VR - Разработка"
                        li Победитель в республиканском конкурсе INGENIUM в номинации "IT - технологии"
                        li Лауреат Всероссийского конкурса «Педагогический дебют" – 2023

                .people-intro__desc.text-editor
                    h2 Методы и технологии преподавания
                    ul
                        li Интерактивные уроки: Включение элементов интерактивности, таких как обсуждения в группе, игры, кейс-методы или использование технологий для обратной связи и участия студентов.
                        li Дифференцированный подход: Адаптация учебного материала для разных типов обучающихся, включая аудиовизуальные методы, чтение, обсуждения, практические задания и т. д.
                        li Проектная работа: Организация проектов, которые требуют сотрудничества, исследования и применения знаний в реальных ситуациях.


            +auto-slider({
                title: 'Отзывы родителей <br>и&nbsp;учеников',
                classes: 'p-default'
            })
                +c-review({
                    classes: 'swiper-slide',
                    img: 'img/reviews/review_1.webp',
                    role: 'Родитель',
                })
                +c-review({
                    classes: 'swiper-slide',
                    img: 'img/reviews/review_2.webp',
                    role: 'Ученик',
                    title: 'Цалцаева Алсу Рамзановна',
                    info: [
                        {
                            param: 'Учится',
                            value: '11 ступень'
                        },
                        {
                            param: 'Отзыв на предметы',
                            value: 'Русский язык<br>Математика'
                        },
                    ],
                    media: 'https://vkvideo.ru/video_ext.php?oid=55940171&id=456239498&hd=2&autoplay=1',
                    iframe: true
                })
                +c-review({
                    classes: 'swiper-slide',
                    img: 'img/reviews/review_3.webp',
                    role: 'Родитель'
                })
                +c-review({
                    classes: 'swiper-slide',
                    img: 'img/reviews/review_4.webp',
                    role: 'Ученик',
                    info: [
                        {
                            param: 'Учится',
                            value: '11 ступень'
                        },
                        {
                            param: 'Отзыв на предметы',
                            value: 'Русский язык<br>Математика'
                        },
                    ]
                })
                +c-review({
                    classes: 'swiper-slide',
                    img: 'img/reviews/review_1.webp',
                    role: 'Родитель',
                })
                +c-review({
                    classes: 'swiper-slide',
                    img: 'img/reviews/review_2.webp',
                    role: 'Ученик',
                    title: 'Цалцаева Алсу Рамзановна',
                    info: [
                        {
                            param: 'Учится',
                            value: '11 ступень'
                        },
                        {
                            param: 'Отзыв на предметы',
                            value: 'Русский язык<br>Математика'
                        },
                    ]
                })
                +c-review({
                    classes: 'swiper-slide',
                    img: 'img/reviews/review_3.webp',
                    role: 'Родитель',
                })
                +c-review({
                    classes: 'swiper-slide',
                    img: 'img/reviews/review_4.webp',
                    role: 'Ученик',
                    info: [
                        {
                            param: 'Учится',
                            value: '11 ступень'
                        },
                        {
                            param: 'Отзыв на предметы',
                            value: 'Русский язык<br>Математика'
                        },
                    ]
                })
                +c-review({
                    classes: 'swiper-slide',
                    img: 'img/reviews/review_1.webp',
                    role: 'Родитель',
                })
                +c-review({
                    classes: 'swiper-slide',
                    img: 'img/reviews/review_2.webp',
                    role: 'Ученик',
                    title: 'Цалцаева Алсу Рамзановна',
                    info: [
                        {
                            param: 'Учится',
                            value: '11 ступень'
                        },
                        {
                            param: 'Отзыв на предметы',
                            value: 'Русский язык<br>Математика'
                        },
                    ]
                })
                +c-review({
                    classes: 'swiper-slide',
                    img: 'img/reviews/review_3.webp',
                    role: 'Родитель',
                })
                +c-review({
                    classes: 'swiper-slide',
                    img: 'img/reviews/review_4.webp',
                    role: 'Ученик',
                    info: [
                        {
                            param: 'Учится',
                            value: '11 ступень'
                        },
                        {
                            param: 'Отзыв на предметы',
                            value: 'Русский язык<br>Математика'
                        },
                    ]
                })

            +news-list({
                titleMode: true,
                classes: 'p-default pb-100',
            })
