extends ../layouts/default

block variables
    - const title = "Вакантные места для приёма (перевода) обучающихся"

block content
    .page(data-js="page")
        .page-layout
            +sidebar-layout(
                {
                items: [
                    {
                        name: 'Главная',
                        link: 'javascript:void(0);'
                    },
                    {
                        name: 'Вакантные места для приёма (перевода) обучающихся',
                        link: 'javascript:void(0);'
                    }
                ],
                }
            )
                .sidebar-layout__block
                    .sidebar-layout__block-title.title.title--h2 <span>Вакантные места</span><br>для приёма (перевода) обучающихся
                    .sidebar-layout__content
                        .gost-section.gost-section--bordered.text-editor

                            h3 Приём в ООО «Онлайн-Гимназия Адель» на обучение по программам дополнительного образования осуществляется на места с оплатой стоимости за счёт средств физических и (или) юридических лиц по всем образовательным программам в соотвествии  условиями договора об оказании платных образовательных услуг без ограничений. 
                            h3 Квоты и контрольные цифры не установлены.    