-
    const defaultNewsListProps = {
        classes: '',
        titleMode: false,
        title: 'Статьи с упоминанием педагога',
        newsList: [
            {
                img: '',
                title: 'Студенты университета приняли участие в Молодежном семинаре-практикуме по профилактике распространения идеологии экстремизма и терроризма «Мир без террора»',
                date: '',
                desc: '<b>В рамках проекта юношей и девушек проинформировали о сущности терроризма, экстремизма, национализма и прочих проявлениях идеологии насилия.</b>'
            },
            {
                img: 'img/news/news_2.webp',
                title: 'Международный круглый стол на тему «Роль народной дипломатии в противодействии экстремизму, разрешении национальных, гражданских и вооруженных конфликтов»',
                date: '26 августа 2024',
                desc: '<b>Свои работы на конкурс прислали более 120 человек. Это школьники и студенты из разных стран мира: России, Китая, Белоруссии, Казахстана</b>.'
            },
            {
                img: 'img/news/news_3.webp',
                title: 'В университете обсудят формирование нетерпимого отношения к экстремизму и наказание за преступления в этой сфере',
                date: '26 августа 2024',
                desc: '<b>Для студентов и сотрудников в смешанном формате состоится профилактическая встреча «Формирование в обществе нетерпимого отношения к экстремизму, неотвратимость наказания за совершение правонарушений и преступлений».</b>'
            },
            {
                img: 'img/news/news_4.webp',
                title: 'Об ответственности за экстремизм',
                date: '26 августа 2024',
                desc: ''
            }
        ]
    }

mixin news-list(props = defaultNewsListProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultNewsListProps.classes,
            titleMode: props.titleMode ? props.titleMode : defaultNewsListProps.titleMode,
            title: props.title ? props.title : defaultNewsListProps.title,
            newsList: props.newsList ? props.newsList : defaultNewsListProps.newsList
        }

    section.news-list.green-bg(class=checkProps.classes)
        .m-container
            - if(checkProps.titleMode)
                .news-list__header
                    .title.title--h2.news-list__title
                        h2!= checkProps.title
                    //-+period-select
            - else
                //-+news-filter()        
                    +period-select
            .news-list__items
                - let newsCount = 0;
                - let newsList = checkProps.newsList;

                - while(newsCount < newsList.length)
                    +news-card({
                        title: newsList[newsCount].title,
                        desc: newsList[newsCount].desc,
                        img: newsList[newsCount].img,
                        date: newsList[newsCount].date
                    })
                    - newsCount++

            +pagination({classes: 'news-list__pagination'})



