-
    const defaultLinkUnitProps = {
        classes: '',
        title: 'Умаров<br>Малик<br>Мусаевич',
        photo: 'img/peoples/people.webp',
        items: [
            {
                title: 'Предметы',
                text: '<ul><li>Арабский язык</li><li>Английский язык</li></ul>',
                tags: []
            },
            {
                title: 'Преподает в звеньях',
                text: '',
                tags: ['Начальное', 'Среднее']
            }
        ]
    }

mixin link-unit(props= defaultLinkUnitProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultLinkUnitProps.classes,
            title: props.title ? props.title : defaultLinkUnitProps.title,
            photo: props.photo ? props.photo : defaultLinkUnitProps.photo,
            items: props.items ? props.items : defaultLinkUnitProps.items
        }

    .link-unit(class= checkProps.classes)&attributes(attributes)
        a.link-unit__link(href="javascript:void(0)")
        .link-unit__icon
            span Подробнее
            svg 
                use(xlink:href=`img/sprites/sprite.svg#arrow_up_right`)
        .link-unit__photo
            img(src= checkProps.photo)
        .title.title--h5.link-unit__title!= checkProps.title
        .link-unit__items
            - let itemsCount = 0;
            - let itemsList = checkProps.items 
            - while(itemsCount < itemsList.length)
                .link-unit__item
                    .link-unit__subtitle!= itemsList[itemsCount].title
                    - if(itemsList[itemsCount].text.length > 0)
                        .link-unit__text.text-editor!= itemsList[itemsCount].text
                    - if(itemsList[itemsCount].tags.length > 0)
                        .link-unit__tags
                            - let tagsCount = 0
                            - let tagsList = itemsList[itemsCount].tags
                            - while(tagsCount < tagsList.length)
                                .link-unit__tag!= tagsList[tagsCount]
                                - tagsCount++

                - itemsCount++



