-
    const defaultSDistributionProps = {
        classes: '',
    }

mixin s-distribution(props = defaultSDistributionProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultSDistributionProps.classes
        }

    section.s-distribution(class= checkProps.classes)&attributes(attributes)
        .m-container
            .section-flex
                .section-flex__side.s-distribution__left
                    .section-flex__bg
                        img(src='img/home/distribution.webp')
                .section-flex__side.s-distribution__right
                    .s-distribution__item.s-distribution__item--full
                        a.s-distribution__link(href="javascript:void(0);")
                        .title.title--h3.s-distribution__title О нас говорят<br><span>в СМИ</span>
                        .s-distribution__text.text-editor
                            p Репортажи
                            p Открытые уроки
                            p Конкурсы и олимпиады
                        .s-distribution__btn
                            span Подробнее
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#arrow_up_right`)

                    .s-distribution__item
                        a.s-distribution__link(href="javascript:void(0);")
                        .title.title--h3.s-distribution__title Лицензия и свидетельство
                        .s-distribution__text.text-editor
                            p с приложениями
                        .s-distribution__btn
                            span Подробнее
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#arrow_up_right`)

                    .s-distribution__item
                        a.s-distribution__link(href="javascript:void(0);")
                        .title.title--h3.s-distribution__title Адреса и контакты
                        .s-distribution__text.text-editor
                            p Карта корпусов и общежитий
                        .s-distribution__btn
                            span Подробнее
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#arrow_up_right`)


