.select2 {
    display: flex;
    align-items: center;
    width: 100% !important;
    border-bottom: 1px solid $c-border;
    padding-bottom: 10px;

    .selection {
        width: 100%;
    }

    .select2-selection__clear {
        display: none;
    }

    &.select2-container--default {
        .select2-selection--single {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: $c-accent;
            font-size: 24px;
            border-radius: 0;
            width: 100%;
            border: none;
            background: transparent;
            cursor: pointer;
            transition: all 0.3s;

            @include max(mobile) {
                font-size: 16px;
            }

            .select2-selection__rendered,
            .select2-selection__placeholder {
                width: 100%;
                padding: 0;
                padding-top: 2px;

            }

            .select2-selection__arrow {
                position: relative;
                flex-shrink: 0;
                flex-grow: 0;
                height: 16px;
                width: 16px;
                display: block;

                b {
                    display: none;
                }

                &::before {
                    content: '';
                    width: 100%;
                    height: 100%;
                    display: block;
                    background: url('../img/svg/select_arrow.svg') 0 0 / 100% 100% no-repeat;
                    background-size: 100%;
                    transition: all 0.3s;
                    transform: rotate(0deg);
                }
            }


        }

        &.select2-container--open {
            .select2-selection--single .select2-selection__arrow {
                &::before {
                    content: '';
                    transform: rotate(180deg);
                    transition: all 0.3s;
                }
            }
        }
    }
}

.select2-container.select2-container--default.select2-container--open {
    z-index: 9999;
    border-radius: 12px;

    .select2-dropdown {
        background-color: $c-accent-dark;
        border: none;
        border-radius: 12px;
        padding: 8px;
        top: 10px;

        .select2-search {
            display: none;
        }

        .select2-results {
            &__options {
                max-height: 100%;
                padding-left: 0;
                padding-right: 0;
            }

            &__option {
                color: black;
                font-size: 14px;
                font-weight: 500;
                line-height: 1.17;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                white-space: nowrap;
                width: 100%;
                background: transparent;
                border: 1px solid transparent;
                padding: 16px 20px;
                border-radius: 6px;
                cursor: pointer;
                transition: all 0.3s;

                &:hover {
                    transition: all 0.3s;
                    color: $c-accent;
                }

                &.select2-results__option--highlighted {
                    color: $c-white;
                }

                &[aria-selected="true"] {
                    background-color: #055337;
                }

                &.select2-results__option--highlighted:hover {
                    color: #6CC765;
                    border-color: #6CC765;
                }
            }
        }

        &--form {
            background-color: $c-accent;
            border-top: none;

            .select2-results {
                &__option {
                    color: $c-white;
                    font-size: 14px;
                    min-height: 49px;

                }
            }
        }
    }
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: $c-accent;
}

.field--greenSelect {
    .select2 {
        background-color: $c-accent;
        border-radius: 12px;
        border: 1px solid rgba(130, 160, 149, 0.3);
        transition: all $tr;
        padding: 0;

        &:hover,
        &.select2-container--default.select2-container--open {
            border: 1px solid rgba(130, 160, 149, 1);

        }

        @include max(mobile) {
            padding: 0;
        }
    }

    .select2-selection {
        padding: 16px 20px;
        min-height: 49px;
    }

    .select2.select2-container--default .select2-selection--single .select2-selection__arrow::before {
        background-image: url(../img/svg/select_arrow_white.svg);
        opacity: 0.4;
        transition: all 0.3s;
    }

    .select2.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow::before {
        background-image: url(../img/svg/select_arrow_white.svg);
        opacity: 1;
    }

    .select2 .selection {
        max-width: 100%;
    }

    .select2.select2-container--default .select2-selection--single {
        max-width: 100%;
        justify-content: space-between;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        max-width: calc(100% - 27px);
        flex: 0 0 calc(100% - 27px);
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered .select2-selection__placeholder {
        max-width: 100%;
        display: block;
        padding-top: 0;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered,
    .select2-container--default .select2-selection--single .select2-selection__rendered .select2-selection__placeholder {
        font-size: 14px;
        color: $c-white;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered .select2-selection__placeholder {
        opacity: 0.4;
    }
}