.auto-slider {
    padding-top: 100px;
    padding-bottom: 100px;

    @include max(mobile) {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    &__header {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: 64px;
    }

    &__title {
        color: $c-accent;
        flex: 1 1 auto;
    }

    &__btns {
        flex: 0 0 auto;
    }

    &__slider {
        margin-top: 50px;

        @include max(mobile) {
            margin-top: 32px;
        }
    }

    .swiper-wrapper {
        align-items: stretch;
    }
}