-
    const defaultSContactsProps = {
        classes: ''
    }

mixin s-contacts(props= defaultSContactsProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultSContactsProps.classes
        }

    section.s-contacts(class= checkProps.classes)&attributes(attributes)
        .m-container
            .s-contacts__container
                +breadcrumbs({
                    classes: 's-contacts__breadcrumbs',
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Контакты',
                            link: 'javascript:void(0);'
                        }
                    ],
                })
                .s-contacts__block
                    .title.title--h2.s-contacts__title Контакты
                    .s-contacts__list
                        .title.title--h5.s-contacts__subtitle Контактные данные, реквизиты, карточка организации
                        .s-contacts__item
                            .s-contacts__contact
                                .s-contacts__param Телефон
                                a.s-contacts__value(href="tel:+74950657171" target="_blank") +7 (495) 065-71-71
                        .s-contacts__item
                            .s-contacts__contact
                                .s-contacts__param WhatsApp
                                a.s-contacts__value(href="https://wa.me/+79993339109" target="_blank") +7 (999) 333-91-09
                        .s-contacts__item
                            .s-contacts__contact
                                .s-contacts__param
                                a.s-contacts__value(href="mailto:school@adeleschool.ru" target="_blank") school@adeleschool.ru
                        .s-contacts__item
                            .s-contacts__contact
                                .s-contacts__param Telegram
                                a.s-contacts__value(href="https://t.me/adele_school" target="_blank") https://t.me/adele_school
                        .s-contacts__item
                            .s-contacts__contact
                                .s-contacts__param Полное наименование
                                .s-contacts__value Общество с ограниченной ответственностью «Онлайн-гимназия Адель»
                            .s-contacts__contact
                                .s-contacts__param Директор
                                .s-contacts__value Федечкина Ирина Витальевна   
                        .s-contacts__item
                            .s-contacts__contact
                                .s-contacts__param Для корреспонденции
                                .s-contacts__value 140411, Московская область, г Коломна, ул Козлова, д. 105, помещ. 11
                            .s-contacts__contact
                                .s-contacts__param Юридический адрес
                                .s-contacts__value 140411, Московская область, г Коломна, ул Козлова, д. 105, помещ. 11
                        .s-contacts__item.s-contacts__item--big
                            .s-contacts__text Реквизиты
                            .s-contacts__contact.s-contacts__contact--row
                                .s-contacts__row
                                    .s-contacts__param Наименование
                                    .s-contacts__value ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "ОНЛАЙН-ГИМНАЗИЯ АДЕЛЬ"
                                .s-contacts__row
                                    .s-contacts__param ИНН
                                    .s-contacts__value 5022076651
                                .s-contacts__row    
                                    .s-contacts__param ОГРН
                                    .s-contacts__value 1235000132344 от 20 октября 2023 г
                                .s-contacts__row    
                                    .s-contacts__param КПП
                                    .s-contacts__value 502201001
                                .s-contacts__row    
                                    .s-contacts__param Наименование банка
                                    .s-contacts__value ООО "Банĸ Точĸа"
                                .s-contacts__row    
                                    .s-contacts__param Расчетный счет
                                    .s-contacts__value 40702810020000183964
                                .s-contacts__row    
                                    .s-contacts__param Корр счет
                                    .s-contacts__value 30101810745374525104
                                .s-contacts__row    
                                    .s-contacts__param БИК
                                    .s-contacts__value 044525104

                +link-block({
                    text: 'Учетная карточка организации'
                })
