-
    const defaultHomeProcessProps = {
        classes: '',
    }

mixin home-process(props = defaultHomeProcessProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultHomeProcessProps.classes
        }

    section.home-process
        .home-process__bg 
            img(src="img/home/home_process.webp" alt="")
        .m-container
            .home-process__content
                .h2.home-process__title Всё для обучения и практики
                .home-process__text.text-editor 
                    p Университет обеспечен достаточно современной технической базой для подготовки студентов: имеется 1 корпус с оборудованными лекционными аудиториями, учебными и научными лабораториями, компьютерными классами, спортивными залами, научно-технической библиотекой, насчитывающей почти 2 миллиона книг, кафе и столовыми.
                .home-process__links
                    a.home-process__link(href="")
                        span Адреса учебных корпусов
                        svg
                            use(xlink:href=`img/sprites/sprite.svg#link_angle`)
                    a.home-process__link(href="")
                        span Общежитие
                        svg
                            use(xlink:href=`img/sprites/sprite.svg#link_angle`)
                    a.home-process__link(href="")
                        span Библиотеки
                        svg
                            use(xlink:href=`img/sprites/sprite.svg#link_angle`)
                    a.home-process__link(href="")
                        span Спортзалы
                        svg
                            use(xlink:href=`img/sprites/sprite.svg#link_angle`)
                    a.home-process__link(href="")
                        span Проектная деятельность
                        svg
                            use(xlink:href=`img/sprites/sprite.svg#link_angle`)
                    a.home-process__link(href="")
                        span Адреса учебных корпусов
                        svg
                            use(xlink:href=`img/sprites/sprite.svg#link_angle`)
                    a.home-process__link(href="")
                        span Общежитие
                        svg
                            use(xlink:href=`img/sprites/sprite.svg#link_angle`)
                    a.home-process__link(href="")
                        span Библиотеки
                        svg
                            use(xlink:href=`img/sprites/sprite.svg#link_angle`)
                    a.home-process__link(href="")
                        span Спортзалы
                        svg
                            use(xlink:href=`img/sprites/sprite.svg#link_angle`)
                    a.home-process__link(href="")
                        span Проектная деятельность
                        svg
                            use(xlink:href=`img/sprites/sprite.svg#link_angle`)