-
    const defaultHomeProcessProps = {
        classes: '',
    }

mixin home-process(props = defaultHomeProcessProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultHomeProcessProps.classes
        }

    section.home-process(class= checkProps.classes data-js="homeProcess")
        .m-container
            +section-tag({
                classes: 'home-process__tag',
                text: 'О наших программах',
            })
            .home-process__title.title.title--h2 <span>Как проходит</span><br>обучение
            .home-process__cols
                .home-process__content
                    .home-process__slider(data-js="homeProcessSliderText")
                        .swiper-wrapper
                            .swiper-slide
                                .home-process__text.text-editor 
                                    p Занятия в онлайн-гимназии «Адель» расширяют образовательные горизонты, не дублируя обязательные предметы, утвержденные в рамках Федеральных государственных образовательных стандартов (ФГОС).
                                    p Мы предлагаем углубленное изучение тем и направлений, которые помогают детям раскрыть свои способности и добиться высоких академических результатов.
                                    <ol>
                                        <li>25 часов неделю без перенагрузки и большого объема домашнего задания</li>
                                        <li>Дается основная программа по ФГОС (от алгебры до географии)</li>
                                        <li>Успеваем расширить кругозор учеников дополнительными программами разработанными гимназией</li>
                                        <ol>
                                            <li>Разговорный клуб по английскому языку</li>
                                            <li>Арабский язык</li>
                                            <li>Искусственный интеллект</li>
                                        </ol>
                                    </ol>
                                    p Наша деятельность не заменяет официальные программы государственных школ. Мы стремимся дополнить их, помогая ученикам глубже понять изучаемые дисциплины и развить новые навыки.
                            .swiper-slide
                                .home-process__text.text-editor 
                                    ul 
                                        li 4 часа математики : Логика, мышление, решение задач — основа успеха в будущем!
                                        li 4 часа русского языка : Грамотная речь, богатый словарный запас и уверенное самовыражение.
                                        li 3 часа английского : Свободное общение, глобальные возможности и подготовка к расширению мира!
                                        li 2 часа арабского : Уникальные знания языка и культуры, открывающие новые горизонты.
                                        li 2 часа литературы : Любовь к чтению, развитию воображения и эмоционального интеллекта.
                                        li 2 часа физкультуры : Здоровье, энергия, командный дух — основа активной жизни!
                                        li 2 часа окружающего мира : Любознательность, понимание природы и мира вокруг

                            .swiper-slide
                                .home-process__text.text-editor 
                                    p Наш модуль для групп, соответствующих возрасту пятых, шестых, седьмых классов, сочетает глубокую учёбу и индивидуальный подход. Группы до 15 человек делятся на подгруппы (6–7 человек) для математики и английского, с тьюторами для поддержки.
                                    ul
                                        li Математика: 4 ч (группа 5, группа 6), 6 ч (группа 7: 3 алгебры, 2 геометрии, 1 статистика, статистика — всей группой); подгруппы и тьютор во всех группах
                                        li Русский язык: 3 ч (все группы), Литература: 1 ч (все группы)
                                        li История: 1 ч (все группы), Обществознание: 1 ч (группа 6, группа 7)
                                        li География: 1 ч (все группы), Биология: 1 ч (все группы)
                                        li Английский язык: 3 ч (все группы, подгруппы, с разговорным клубом и начальным уровнем)
                                        li Арабский язык: 2 ч (все группы), Арабское чтение: 1 ч (все группы)
                                        li Физика: 2 ч (группа 7, с тьютором), Информатика: 1 ч (группа 7), Искусственный интеллект: 1 ч (все группы)
                                        li Физическая культура: 2 ч (все группы)
                                    p Часы в неделю: 20 (группа 5), 21 (группа 6), 26 (группа 7)
                            .swiper-slide
                                .home-process__text.text-editor 
                                    //-p Занятия в онлайн-гимназии «Адель» расширяют образовательные горизонты, не дублируя обязательные предметы, утвержденные в рамках Федеральных государственных образовательных стандартов (ФГОС).
                                    //-p Мы предлагаем углубленное изучение тем и направлений, которые помогают детям раскрыть свои способности и добиться высоких академических результатов.
                                    //-p Наша деятельность не заменяет официальные программы государственных школ. Мы стремимся дополнить их, помогая ученикам глубже понять изучаемые дисциплины и развить новые навыки.
                            .swiper-slide
                                .home-process__text.text-editor 
                                    //-p Мы предлагаем углубленное изучение тем и направлений, которые помогают детям раскрыть свои способности и добиться высоких академических результатов.
                                    //-p Наша деятельность не заменяет официальные программы государственных школ. Мы стремимся дополнить их, помогая ученикам глубже понять изучаемые дисциплины и развить новые навыки.

                    .home-process__tabs(data-js="homeProcessTabs")
                        .swiper-wrapper
                            .swiper-slide.home-process__tab.home-process__tab--first
                            .swiper-slide.home-process__tab
                                span 1-4 классы
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)
                            .swiper-slide.home-process__tab
                                span 5-7 классы
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)
                            .swiper-slide.home-process__tab
                                span 8-9 классы
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)
                            .swiper-slide.home-process__tab
                                span 10-11 классы
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                .home-process__images(data-js="homeProcessSliderImg")
                    .swiper-wrapper
                        .home-process__img.swiper-slide
                            img(src="img/home/home_process.webp" alt="")
                        .home-process__img.swiper-slide
                            img(src="img/home/home_conditions.webp" alt="")
                        .home-process__img.swiper-slide
                            img(src="img/home/home_process.webp" alt="")
                        .home-process__img.swiper-slide
                            img(src="img/home/home_info.webp" alt="")
                        .home-process__img.swiper-slide
                            img(src="img/home/home_process.webp" alt="")