.programm-info {
    &__container {
        display: flex;
        align-items: flex-start;
        gap: 86px;

        @include max(laptop) {
            gap: 32px;
        }

        @include max(tablet) {
            flex-direction: column;
        }

        @include max(mobile) {
            gap: 24px;
        }
    }

    &__left {
        flex: 0 0 calc(50% - 86px);

        @include max(laptop) {
            flex: 0 0 calc(50% - 32px);
        }

        @include max(tablet) {
            flex: auto;
            width: 100%;
        }
    }

    &__info {
        padding: 10px;
        background-color: $c-accent-light;
        border-radius: 24px;

        @include max(mobile) {
            width: calc(100% + 20px);
            padding: 16px 10px;
            margin-left: -10px;
            margin-right: -10px;
        }
    }

    &__gtitle {

        margin-bottom: 50px;

        @include max(mobile) {
            margin-bottom: 32px;
        }
    }

    &__title {
        color: $c-accent;
        padding: 10px 0 0 14px;

        @include max(mobile) {
            padding: 0 0 0 5px;
        }
    }

    &__table {
        margin-top: 50px;
        background-color: $c-white;
        border-radius: 16px;

        @include max(mobile) {
            margin-top: 24px;
        }
    }

    &__row {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 24px;
        padding: 14px;
        border-top: 1px solid $c-border;
        color: $c-accent;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.2em;
        letter-spacing: -0.01em;

        @include max(mobile) {
            padding: 15px 10px;
            flex-direction: column;
            gap: 10px;
        }

        &:first-child {
            border-top: none;
        }

    }

    &__param {
        opacity: 0.4;
        flex: 0 0 32%;

        @include max(mobile) {
            flex-basis: auto;
        }
    }

    &__value {
        flex: 1 1 auto;

        @include max(mobile) {
            flex-basis: auto;
        }
    }

    &__right {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        gap: 50px;
        max-width: 50%;
        overflow-y: auto;
        padding-right: 10px;

        &::-webkit-scrollbar {
            width: 8px;
            height: 8px;

            @include max(laptop) {
                width: 4px;
                height: 4px;
            }
        }

        &::-webkit-scrollbar-track {
            background-color: #EAEDEC;
            border-radius: 32px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #CAD3D0;
            border-radius: 32px;
        }

        @include max(laptop) {
            gap: 32px;
        }

        @include max(tablet) {
            max-width: 100%;
            padding-right: 0;
        }
    }

    &__block {
        max-width: 92%;

        @include max(laptop) {
            max-width: 100%;
        }

        @include max(tablet) {
            padding-bottom: 0;
        }
    }

}

.programm-info {
    &--ol &__row {
        font-size: 16px;
        gap: 16px;

        @include max(mobile) {
            flex-direction: row;
            gap: 16px;
        }
    }

    &--ol &__param {
        flex-basis: 15px;
    }


}