-
    const defaultProgrammInfoProps = {
        classes: ''

    }

mixin programm-info(props = defaultProgrammInfoProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultProgrammInfoProps.classes,
        }

    section.programm-info(class=checkProps.classes data-js="programmInfoBlock")
        .m-container.programm-info__container
            .programm-info__left(data-js="programmInfoLeft")
                .programm-info__info
                    .title.title--h4.programm-info__title Информация об образовательной программе
                    .programm-info__table
                        .programm-info__row
                            .programm-info__param Предметы
                            .programm-info__value Русский язык
                                <br>Литература
                                <br>Иностранный язык
                                <br>Алгебра
                                <br>Геометрия
                                <br>Информатика и ИКТ
                                <br>История
                                <br>Обществознание
                                <br>География
                                <br>Физика
                                <br>Химия
                                <br>Биология
                                <br>Физическая культура
                        .programm-info__row
                            .programm-info__param Вместимость группы, чел
                            .programm-info__value 10
                        .programm-info__row
                            .programm-info__param Разделение на подгруппы
                            .programm-info__value 50/50
                        .programm-info__row
                            .programm-info__param Стоимость:
                            .programm-info__value месяц - 8 000 ₽ (на 2025 год) <br>год - 70 000 ₽ (на 2025 год)
                        .programm-info__row
                            .programm-info__param Срок обучения:
                            .programm-info__value 1 учебный год (1 сентября - 26 мая)
                        .programm-info__row
                            .programm-info__param Количество преподавателей
                            .programm-info__value 30
                        .programm-info__row
                            .programm-info__param Прием иностранных граждан
                            .programm-info__value Возможен
                        .programm-info__row
                            .programm-info__param Профориентация по выбору профиля
                            .programm-info__value Есть
                        .programm-info__row
                            .programm-info__param Расширенная подготовка к ЕГЭ
                            .programm-info__value Математика
                                <br>Физика
                                <br>Русский язык
                                <br>Информатика
                                <br>Английский язык
                                <br>География
                                <br>Обществознание

                    +link-block({
                        text: 'Учебный план'
                    })

            .programm-info__right(data-js="programmInfoRight")
                .programm-info__block.text-editor
                    h2 О программе
                    p В отличие от 9 ступени, в 10-ой из расписания убирают не так много предметов: пропадает только «Основы духовно-нравственной культуры народов России». А с 1 сентября 2025 года его вообще исключат из программ всех остальных ступеней

                .programm-info__block.text-editor
                    h2 Обучение
                    P На 10 ступени ребята делятся на профильные группы: социально-экономическая, физико-математическая, лингвистическая и другие. От выбора направления зависит то, сколько часов будет уделено предметам в их расписании.

                .programm-info__block.text-editor
                    h2 Методика
                    p Проводим собеседование учеников и распределяем в равноуровневые классы

                    ul
                        li ученикам проще учится;
                        li если ученик выше/ниже по уровню освоения материала, то его переводят в другую группу для сохранения баланса; 
                        li если у ученика возникают точечные проблемы с освоением материала, то ему назначается Тьютор

                    p Особое внимание уделяется общему % освоения материала.  Если на промежуточных срезах у 20% учеников низкие оценки, то преподаватель проводит занятие по проблемной теме еще раз. 

                    p После этого проводится еще один срез знаний и если % соотношение снизилось, группа переходит к освоению новой темы, а к остальным ученикам прикрепляется Тьютор для индивидуальных занятий.

                .programm-info__block.text-editor
                    h2 Наши преимущества
                    p Чтобы хорошо справиться с экзаменами, важно готовиться заранее. Преподаватели обычно советуют начинать уже в 10 классе, чтобы без спешки отточить каждое задание. И делать это важно при поддержке опытного преподавателя. 

                    ul
                        li преподаватели, которые не первый год готовят школьников на 100 баллов и сами периодически сдают экзамен;
                        li только актуальные авторские материалы по ФГОС;
                        li бесплатная и неограниченная практика на Тренажёре ЕГЭ;
                        li пробные экзамены с ручной проверкой;
                        li взаимная поддержка и куча полезностей для сдающих ЕГЭ в закрытом Telegram-комьюнити и многое другое. 

                    p До встречи на бесплатной консультации! 

