.quote {
    padding: 30px 30px 30px 80px;
    background-color: $c-accent-light;
    background-image: url(../img/quotes.svg);
    background-repeat: no-repeat;
    background-position: left 27px top 25px;
    background-size: 40px 40px;
    border-radius: 20px;

    @include max(mobile) {
        padding: 15px 15px 15px 55px;
        background-position: left 15px top 15px;
        background-size: 25px 25px;
        border-radius: 16px;
    }

    .text-editor,
    .text-editor>p,
    .text-editor>ol>li,
    .text-editor>ul>li,
    .text-editor>ol,
    .text-editor>ul,
    .text-editor a {
        font-size: 24px;

        @include max(laptop) {
            font-size: 20px;
        }

        @include max(mobile) {
            font-size: 18px;
        }
    }
}