-
	const defaultSQuoteProps = {
		classes: '',
	}

mixin s-quote(props = defaultSQuoteProps)
	-
		const checkProps = {
			classes: props.classes ? props.classes : defaultSQuoteProps.classes,
		}

	section.s-quote(class=checkProps.classes)
		.m-container
			.s-quote__container
				.s-quote__header
					+section-tag({
						text: 'Обращение директора'
					})
					.title.title--h2.s-quote__title Дорогие друзья!
				+m-columns({
					classes: 's-quote__columns',
					title: `<div class="s-quote__img">
						<div class="s-quote__photo"><img src="img/peoples/people_2.webp"></div>
						<div class="s-quote__quotes"><img src="img/quotes.svg"></div>
						</div>`,
					mainIsText: true
				})
					p Так сложилось, что вся моя жизнь неразрывно связана с образованием. Сначала — учёба в военном университете, затем в педагогическом, а после — аспирантура по специальности «Педагогика». 

					p Я работал учителем, затем стал директором государственного лицея в Подмосковье. 

					p Главное в образовании — это, конечно, мотивация. Когда ребёнок сам хочет учиться — это настоящий подарок для родителей. 

					p Но, к сожалению, так бывает не всегда. Важно выстроить систему как побуждений, так и разумных требований. 

					p Учебный труд может быть увлекательным, а может — трудным. Но именно тогда награда становится особенно желанной: чувство преодоления, путь к цели и радость от собственных достижений наполняют обучение смыслом.

				+m-columns({
					classes: 's-quote__columns',
					title: `<div class="title title--h3">Мой опыт</div>`,
					mainIsText: true
				})
					p У меня четверо детей, и с каждым из них я как родитель прошёл образовательный путь — как в России, так и за её пределами. 

					p Этот опыт привёл меня к простым и ясным практическим решениям в организации учебного процесса и в подходе к обучению каждого ребёнка.

				+m-columns({
					classes: 's-quote__columns',
					title: `<div class="title title--h3">Стратегическая цель</div>`,
					mainIsText: true
				})
					p Мы стараемся, чтобы «правила игры» были простыми и честными. И чтобы эти правила соблюдали все и дети и взрослые.

					p Я, как основатель и вдохновитель нашей онлайн-гимназии, беру на себя ответственность за качество обучения каждого ребёнка — перед вами, дорогие родители, перед нашими педагогами и перед Всевышним Богом.