.home-about {
    padding: 50px 0 0;

    @include max(mobile) {
        padding: 25px 0 0;
    }

    &__container {
        position: relative;
        min-height: calc(100vh - 150px);
        border-radius: 32px;
        overflow: hidden;
        padding: 36px 40px;

        @include max(mobile) {
            min-height: auto;
            padding: 20px;
            border-radius: 24px;
        }
    }

    &__bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
        }
    }

    &__content {
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        @include max(mobile) {
            flex-direction: column;
            gap: 32px;
        }
    }

    &__btn {
        margin-top: 4px;

        @include max(mobile) {
            margin-top: 0;
        }
    }

    &__text {
        font-weight: 400;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: -0.05em;
        color: $c-white;
        margin-top: 30px;
        max-width: 340px;

        @include max(mobile) {
            font-size: 16px;
            margin-top: 24px;
        }
    }
}