-
    const defaultmultiMenuProps = {
        classes: '',
        isHeader: false
    }

mixin multi-menu(props= defaultmultiMenuProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultmultiMenuProps.classes,
            isHeader: props.isHeader ? props.isHeader : defaultmultiMenuProps.isHeader,
        }

        let isHeaderClass = checkProps.isHeader === true ? ' multi-menu--header' : '' 


    - if (checkProps.isHeader === true)
        .multi-menu(class= checkProps.classes + isHeaderClass data-js="multiMenu" data-id="0")&attributes(attributes)
            .multi-menu__list.multi-menu__list--1.active(data-js='multiMenuList' data-level="1")
                .multi-menu__items
                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='1')
                        .multi-menu__inner
                            span.multi-menu__text Основные сведения 1
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='2')
                        .multi-menu__inner
                            span.multi-menu__text Структура и органы управления образовательной организацией
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='3') 
                        .multi-menu__inner
                            span.multi-menu__text Документы
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='4')
                        .multi-menu__inner
                            span.multi-menu__text Образование
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='5')
                        .multi-menu__inner
                            span.multi-menu__text Руководство. Педагогический состав
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='6')
                        .multi-menu__inner
                            span.multi-menu__text Материально-техническое обеспечение и оснащенность образовательного процесса
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='7')
                        .multi-menu__inner
                            span.multi-menu__text Доступная среда
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='8')
                        .multi-menu__inner
                            span.multi-menu__text Платные образовательные услуги
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='9') 
                        .multi-menu__inner
                            span.multi-menu__text Финансово-хозяйственная деятельность
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='10') 
                        .multi-menu__inner
                            span.multi-menu__text Вакантные места для приема (перевода) обучающихся
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='11') 
                        .multi-menu__inner
                            span.multi-menu__text Стипендии и меры поддержки обучающихся
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='12') 
                        .multi-menu__inner
                            span.multi-menu__text Международное сотрудничество
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='13') 
                        .multi-menu__inner
                            span.multi-menu__text Организация питания в образовательной организации
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

            .multi-menu__list.multi-menu__list--2(data-js='multiMenuList' data-level="2" data-index="1")
                .multi-menu__back(data-js="multiMenuBack")
                    svg 
                        use(xlink:href="img/sprites/sprite.svg#link_angle")
                    | Назад
                .multi-menu__items
                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Основные сведения 1-1
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem") 
                        .multi-menu__inner
                            span.multi-menu__text Структура и органы управления образовательной организацией
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem") 
                        .multi-menu__inner
                            span.multi-menu__text Документы
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Образование
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Руководство. Педагогический состав
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Материально-техническое обеспечение и оснащенность образовательного процесса
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Доступная среда
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Платные образовательные услуги
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem") 
                        .multi-menu__inner
                            span.multi-menu__text Финансово-хозяйственная деятельность
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Вакантные места для приема (перевода) обучающихся
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Стипендии и меры поддержки обучающихся
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Международное сотрудничество
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Организация питания в образовательной организации
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

            .multi-menu__list.multi-menu__list--2(data-js='multiMenuList' data-level="2" data-index="2")
                .multi-menu__back(data-js="multiMenuBack")
                    svg 
                        use(xlink:href="img/sprites/sprite.svg#link_angle")
                    | Назад
                .multi-menu__items
                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Основные сведения 1-2
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem") 
                        .multi-menu__inner
                            span.multi-menu__text Структура и органы управления образовательной организацией
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem") 
                        .multi-menu__inner
                            span.multi-menu__text Документы
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Образование
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Руководство. Педагогический состав
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Материально-техническое обеспечение и оснащенность образовательного процесса
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Доступная среда
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Платные образовательные услуги
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem") 
                        .multi-menu__inner
                            span.multi-menu__text Финансово-хозяйственная деятельность
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem") 
                        .multi-menu__inner
                            span.multi-menu__text Вакантные места для приема (перевода) обучающихся
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem") 
                        .multi-menu__inner
                            span.multi-menu__text Стипендии и меры поддержки обучающихся
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem") 
                        .multi-menu__inner
                            span.multi-menu__text Международное сотрудничество
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem") 
                        .multi-menu__inner
                            span.multi-menu__text Организация питания в образовательной организации
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

        .multi-menu(class= checkProps.classes + isHeaderClass data-js="multiMenu" data-id="1")&attributes(attributes)
            .multi-menu__list.multi-menu__list--1.active(data-js='multiMenuList' data-level="1")
                .multi-menu__items
                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='1')
                        .multi-menu__inner
                            span.multi-menu__text Основные сведения 2
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='2') 
                        .multi-menu__inner
                            span.multi-menu__text Структура и органы управления образовательной организацией
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='3') 
                        .multi-menu__inner
                            span.multi-menu__text Документы
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='4')
                        .multi-menu__inner
                            span.multi-menu__text Образование
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='5')
                        .multi-menu__inner
                            span.multi-menu__text Руководство. Педагогический состав
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='6')
                        .multi-menu__inner
                            span.multi-menu__text Материально-техническое обеспечение и оснащенность образовательного процесса
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='7')
                        .multi-menu__inner
                            span.multi-menu__text Доступная среда
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='8')
                        .multi-menu__inner
                            span.multi-menu__text Платные образовательные услуги
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='9') 
                        .multi-menu__inner
                            span.multi-menu__text Финансово-хозяйственная деятельность
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='10') 
                        .multi-menu__inner
                            span.multi-menu__text Вакантные места для приема (перевода) обучающихся
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='11') 
                        .multi-menu__inner
                            span.multi-menu__text Стипендии и меры поддержки обучающихся
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='12') 
                        .multi-menu__inner
                            span.multi-menu__text Международное сотрудничество
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='13') 
                        .multi-menu__inner
                            span.multi-menu__text Организация питания в образовательной организации
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

            .multi-menu__list.multi-menu__list--2(data-js='multiMenuList' data-level="2" data-index="1")
                .multi-menu__back(data-js="multiMenuBack")
                    svg 
                        use(xlink:href="img/sprites/sprite.svg#link_angle")
                    | Назад
                .multi-menu__items
                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Основные сведения 2-1
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem") 
                        .multi-menu__inner
                            span.multi-menu__text Структура и органы управления образовательной организацией
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem") 
                        .multi-menu__inner
                            span.multi-menu__text Документы
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Образование
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Руководство. Педагогический состав
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Материально-техническое обеспечение и оснащенность образовательного процесса
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Доступная среда
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Платные образовательные услуги
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem") 
                        .multi-menu__inner
                            span.multi-menu__text Финансово-хозяйственная деятельность
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Вакантные места для приема (перевода) обучающихся
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Стипендии и меры поддержки обучающихся
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Международное сотрудничество
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Организация питания в образовательной организации
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

            .multi-menu__list.multi-menu__list--2(data-js='multiMenuList' data-level="2" data-index="2")
                .multi-menu__back(data-js="multiMenuBack")
                    svg 
                        use(xlink:href="img/sprites/sprite.svg#link_angle")
                    | Назад
                .multi-menu__items
                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Основные сведения 2-2
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem") 
                        .multi-menu__inner
                            span.multi-menu__text Структура и органы управления образовательной организацией
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem") 
                        .multi-menu__inner
                            span.multi-menu__text Документы
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Образование
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Руководство. Педагогический состав
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Материально-техническое обеспечение и оснащенность образовательного процесса
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Доступная среда
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Платные образовательные услуги
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem") 
                        .multi-menu__inner
                            span.multi-menu__text Финансово-хозяйственная деятельность
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Вакантные места для приема (перевода) обучающихся
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Стипендии и меры поддержки обучающихся
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Международное сотрудничество
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Организация питания в образовательной организации
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

        .multi-menu(class= checkProps.classes + isHeaderClass data-js="multiMenu" data-id="2")&attributes(attributes)
            .multi-menu__list.multi-menu__list--1.active(data-js='multiMenuList' data-level="1")
                .multi-menu__items
                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='1')
                        .multi-menu__inner
                            span.multi-menu__text Основные сведения 3
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='2') 
                        .multi-menu__inner
                            span.multi-menu__text Структура и органы управления образовательной организацией
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='3') 
                        .multi-menu__inner
                            span.multi-menu__text Документы
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='4')
                        .multi-menu__inner
                            span.multi-menu__text Образование
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='5')
                        .multi-menu__inner
                            span.multi-menu__text Руководство. Педагогический состав
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='6')
                        .multi-menu__inner
                            span.multi-menu__text Материально-техническое обеспечение и оснащенность образовательного процесса
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='7')
                        .multi-menu__inner
                            span.multi-menu__text Доступная среда
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='8')
                        .multi-menu__inner
                            span.multi-menu__text Платные образовательные услуги
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='9') 
                        .multi-menu__inner
                            span.multi-menu__text Финансово-хозяйственная деятельность
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='10') 
                        .multi-menu__inner
                            span.multi-menu__text Вакантные места для приема (перевода) обучающихся
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='11') 
                        .multi-menu__inner
                            span.multi-menu__text Стипендии и меры поддержки обучающихся
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='12') 
                        .multi-menu__inner
                            span.multi-menu__text Международное сотрудничество
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='13') 
                        .multi-menu__inner
                            span.multi-menu__text Организация питания в образовательной организации
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

            .multi-menu__list.multi-menu__list--2(data-js='multiMenuList' data-level="2" data-index="1")
                .multi-menu__back(data-js="multiMenuBack")
                    svg 
                        use(xlink:href="img/sprites/sprite.svg#link_angle")
                    | Назад
                .multi-menu__items
                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Основные сведения 3-1
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem") 
                        .multi-menu__inner
                            span.multi-menu__text Структура и органы управления образовательной организацией
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem") 
                        .multi-menu__inner
                            span.multi-menu__text Документы
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Образование
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Руководство. Педагогический состав
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Материально-техническое обеспечение и оснащенность образовательного процесса
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Доступная среда
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Платные образовательные услуги
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem") 
                        .multi-menu__inner
                            span.multi-menu__text Финансово-хозяйственная деятельность
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Вакантные места для приема (перевода) обучающихся
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Стипендии и меры поддержки обучающихся
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Международное сотрудничество
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Организация питания в образовательной организации
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

            .multi-menu__list.multi-menu__list--2(data-js='multiMenuList' data-level="2" data-index="2")
                .multi-menu__back(data-js="multiMenuBack")
                    svg 
                        use(xlink:href="img/sprites/sprite.svg#link_angle")
                    | Назад
                .multi-menu__items
                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Основные сведения 3-2
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem") 
                        .multi-menu__inner
                            span.multi-menu__text Структура и органы управления образовательной организацией
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem") 
                        .multi-menu__inner
                            span.multi-menu__text Документы
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Образование
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Руководство. Педагогический состав
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Материально-техническое обеспечение и оснащенность образовательного процесса
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Доступная среда
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Платные образовательные услуги
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem") 
                        .multi-menu__inner
                            span.multi-menu__text Финансово-хозяйственная деятельность
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Вакантные места для приема (перевода) обучающихся
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Стипендии и меры поддержки обучающихся
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Международное сотрудничество
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Организация питания в образовательной организации
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

            .multi-menu__list.multi-menu__list--2(data-js='multiMenuList' data-level="2" data-index="3")
                .multi-menu__back(data-js="multiMenuBack")
                    svg 
                        use(xlink:href="img/sprites/sprite.svg#link_angle")
                    | Назад
                .multi-menu__items
                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Основные сведения 3-3
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem") 
                        .multi-menu__inner
                            span.multi-menu__text Структура и органы управления образовательной организацией
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem") 
                        .multi-menu__inner
                            span.multi-menu__text Документы
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Образование
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Руководство. Педагогический состав
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Материально-техническое обеспечение и оснащенность образовательного процесса
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Доступная среда
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Платные образовательные услуги
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem") 
                        .multi-menu__inner
                            span.multi-menu__text Финансово-хозяйственная деятельность
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Вакантные места для приема (перевода) обучающихся
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Стипендии и меры поддержки обучающихся
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Международное сотрудничество
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Организация питания в образовательной организации
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

    - else
        .multi-menu(class= checkProps.classes + isHeaderClass data-js="multiMenu")&attributes(attributes)
            .multi-menu__list.multi-menu__list--1.active(data-js='multiMenuList' data-level="1")
                .multi-menu__items
                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='1')
                        .multi-menu__inner
                            span.multi-menu__text О гимназии
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='2')
                        .multi-menu__inner
                            span.multi-menu__text Учащимся
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='3') 
                        .multi-menu__inner
                            span.multi-menu__text Будущим ученикам и их родителям
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

            .multi-menu__list.multi-menu__list--2(data-js='multiMenuList' data-level="2" data-index="1")
                .multi-menu__back(data-js="multiMenuBack")
                    svg 
                        use(xlink:href="img/sprites/sprite.svg#link_angle")
                    | Назад
                .multi-menu__items
                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='1')
                        .multi-menu__inner
                            span.multi-menu__text Основные сведения 1
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='2')
                        .multi-menu__inner
                            span.multi-menu__text Структура и органы управления образовательной организацией
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='3') 
                        .multi-menu__inner
                            span.multi-menu__text Документы
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='4')
                        .multi-menu__inner
                            span.multi-menu__text Образование
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='5')
                        .multi-menu__inner
                            span.multi-menu__text Руководство. Педагогический состав
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='6')
                        .multi-menu__inner
                            span.multi-menu__text Материально-техническое обеспечение и оснащенность образовательного процесса
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='7')
                        .multi-menu__inner
                            span.multi-menu__text Доступная среда
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='8')
                        .multi-menu__inner
                            span.multi-menu__text Платные образовательные услуги
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='9') 
                        .multi-menu__inner
                            span.multi-menu__text Финансово-хозяйственная деятельность
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='10') 
                        .multi-menu__inner
                            span.multi-menu__text Вакантные места для приема (перевода) обучающихся
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='11') 
                        .multi-menu__inner
                            span.multi-menu__text Стипендии и меры поддержки обучающихся
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='12') 
                        .multi-menu__inner
                            span.multi-menu__text Международное сотрудничество
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='13') 
                        .multi-menu__inner
                            span.multi-menu__text Организация питания в образовательной организации
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

            .multi-menu__list.multi-menu__list--2(data-js='multiMenuList' data-level="2" data-index="2")
                .multi-menu__back(data-js="multiMenuBack")
                    svg 
                        use(xlink:href="img/sprites/sprite.svg#link_angle")
                    | Назад
                .multi-menu__items
                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='14')
                        .multi-menu__inner
                            span.multi-menu__text Основные сведения 2
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='15')
                        .multi-menu__inner
                            span.multi-menu__text Структура и органы управления образовательной организацией
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='16') 
                        .multi-menu__inner
                            span.multi-menu__text Документы
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='17')
                        .multi-menu__inner
                            span.multi-menu__text Образование
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='18')
                        .multi-menu__inner
                            span.multi-menu__text Руководство. Педагогический состав
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='19')
                        .multi-menu__inner
                            span.multi-menu__text Материально-техническое обеспечение и оснащенность образовательного процесса
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='20')
                        .multi-menu__inner
                            span.multi-menu__text Доступная среда
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='21')
                        .multi-menu__inner
                            span.multi-menu__text Платные образовательные услуги
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='22') 
                        .multi-menu__inner
                            span.multi-menu__text Финансово-хозяйственная деятельность
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='23') 
                        .multi-menu__inner
                            span.multi-menu__text Вакантные места для приема (перевода) обучающихся
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='24') 
                        .multi-menu__inner
                            span.multi-menu__text Стипендии и меры поддержки обучающихся
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='25') 
                        .multi-menu__inner
                            span.multi-menu__text Международное сотрудничество
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='26') 
                        .multi-menu__inner
                            span.multi-menu__text Организация питания в образовательной организации
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

            .multi-menu__list.multi-menu__list--2(data-js='multiMenuList' data-level="2" data-index="3")
                .multi-menu__back(data-js="multiMenuBack")
                    svg 
                        use(xlink:href="img/sprites/sprite.svg#link_angle")
                    | Назад
                .multi-menu__items
                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='27')
                        .multi-menu__inner
                            span.multi-menu__text Основные сведения 3
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='28')
                        .multi-menu__inner
                            span.multi-menu__text Структура и органы управления образовательной организацией
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='29') 
                        .multi-menu__inner
                            span.multi-menu__text Документы
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='30')
                        .multi-menu__inner
                            span.multi-menu__text Образование
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='31')
                        .multi-menu__inner
                            span.multi-menu__text Руководство. Педагогический состав
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='32')
                        .multi-menu__inner
                            span.multi-menu__text Материально-техническое обеспечение и оснащенность образовательного процесса
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='33')
                        .multi-menu__inner
                            span.multi-menu__text Доступная среда
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='34')
                        .multi-menu__inner
                            span.multi-menu__text Платные образовательные услуги
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='35') 
                        .multi-menu__inner
                            span.multi-menu__text Финансово-хозяйственная деятельность
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='36') 
                        .multi-menu__inner
                            span.multi-menu__text Вакантные места для приема (перевода) обучающихся
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='37') 
                        .multi-menu__inner
                            span.multi-menu__text Стипендии и меры поддержки обучающихся
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='38') 
                        .multi-menu__inner
                            span.multi-menu__text Международное сотрудничество
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='39') 
                        .multi-menu__inner
                            span.multi-menu__text Организация питания в образовательной организации
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

            .multi-menu__list.multi-menu__list--3(data-js='multiMenuList' data-level="3" data-index="1")
                .multi-menu__back(data-js="multiMenuBack")
                    svg 
                        use(xlink:href="img/sprites/sprite.svg#link_angle")
                    | Назад
                .multi-menu__items
                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Основные сведения 1-1
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem") 
                        .multi-menu__inner
                            span.multi-menu__text Структура и органы управления образовательной организацией
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem") 
                        .multi-menu__inner
                            span.multi-menu__text Документы
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Образование
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Руководство. Педагогический состав
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Материально-техническое обеспечение и оснащенность образовательного процесса
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Доступная среда
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Платные образовательные услуги
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem") 
                        .multi-menu__inner
                            span.multi-menu__text Финансово-хозяйственная деятельность
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Вакантные места для приема (перевода) обучающихся
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Стипендии и меры поддержки обучающихся
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Международное сотрудничество
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Организация питания в образовательной организации
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

            .multi-menu__list.multi-menu__list--3(data-js='multiMenuList' data-level="3" data-index="2")
                .multi-menu__back(data-js="multiMenuBack")
                    svg 
                        use(xlink:href="img/sprites/sprite.svg#link_angle")
                    | Назад
                .multi-menu__items
                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Основные сведения 1-2
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem") 
                        .multi-menu__inner
                            span.multi-menu__text Структура и органы управления образовательной организацией
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem") 
                        .multi-menu__inner
                            span.multi-menu__text Документы
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Образование
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Руководство. Педагогический состав
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Материально-техническое обеспечение и оснащенность образовательного процесса
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Доступная среда
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem")
                        .multi-menu__inner
                            span.multi-menu__text Платные образовательные услуги
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem") 
                        .multi-menu__inner
                            span.multi-menu__text Финансово-хозяйственная деятельность
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem") 
                        .multi-menu__inner
                            span.multi-menu__text Вакантные места для приема (перевода) обучающихся
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem") 
                        .multi-menu__inner
                            span.multi-menu__text Стипендии и меры поддержки обучающихся
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem") 
                        .multi-menu__inner
                            span.multi-menu__text Международное сотрудничество
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem") 
                        .multi-menu__inner
                            span.multi-menu__text Организация питания в образовательной организации
                            span.multi-menu__icon(data-js="multiMenuIcon")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_right`)

