-
    const defaultProgrammsListProps = {
        classes: '',
        vMode: 'rows',
        title: '',
        hasMoreBtn: false,
        hasPagination: false,
        hasFilters: false,
        manyFilters: false,
        cards: [
            {
                faculty: 'Основная программа',
                name: 'Первая ступень',
                params: [
                    {
                        name: 'Стоимость в месяц',
                        value: '8 000 ₽',
                        isFull: false
                    },
                    {
                        name: 'Стоимость в год',
                        value: '70 000 ₽',
                        isFull: false
                    },
                    {
                        name: 'Вместимость группы, чел',
                        value: '10',
                        isFull: false
                    },
                    {
                        name: 'Срок обучения',
                        value: '1 год',
                        isFull: false
                    }
                ],
            },
            {
                faculty: 'Основная программа',
                name: 'Третья ступень',
                params: [
                    {
                        name: 'Стоимость в месяц',
                        value: '8 000 ₽',
                        isFull: false
                    },
                    {
                        name: 'Стоимость в год',
                        value: '70 000 ₽',
                        isFull: false
                    },
                    {
                        name: 'Вместимость группы, чел',
                        value: '10',
                        isFull: false
                    },
                    {
                        name: 'Срок обучения',
                        value: '1 год',
                        isFull: false
                    }
                ],
            },
            {
                faculty: 'Основная программа',
                name: 'Четвертая ступень',
                params: [
                    {
                        name: 'Стоимость в месяц',
                        value: '8 000 ₽',
                        isFull: false
                    },
                    {
                        name: 'Стоимость в год',
                        value: '70 000 ₽',
                        isFull: false
                    },
                    {
                        name: 'Вместимость группы, чел',
                        value: '10',
                        isFull: false
                    },
                    {
                        name: 'Срок обучения',
                        value: '1 год',
                        isFull: false
                    }
                ],
            }
        ]

    }

mixin programms-list(props = defaultProgrammsListProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultProgrammsListProps.classes,
            vMode: props.vMode ? props.vMode : defaultProgrammsListProps.vMode,
            cards: props.cards ? props.cards : defaultProgrammsListProps.cards,
            title: props.title ? props.title : defaultProgrammsListProps.title,
            hasMoreBtn: props.hasMoreBtn ? props.hasMoreBtn : defaultProgrammsListProps.hasMoreBtn,
            hasPagination: props.hasPagination ? props.hasPagination : defaultProgrammsListProps.hasPagination,
            hasFilters: props.hasFilters ? props.hasFilters : defaultProgrammsListProps.hasFilters,
            manyFilters: props.manyFilters ? props.manyFilters : defaultProgrammsListProps.manyFilters,
        }

        let vModeClass = ' programms-list--' + checkProps.vMode

    section.programms-list(class= checkProps.classes + vModeClass data-js="programmsList")
        .m-container
            - if(checkProps.title.length > 0)
                .programms-list__header
                    .title.title--h2.programms-list__title!= checkProps.title
                //-+visual-toggle({
                    active: checkProps.vMode
                //-})(data-js="programmsListToggle")

            - if(checkProps.hasFilters === true)
                .programms-list__filter
                    - if(checkProps.manyFilters === true)
                        .programms-list__grid
                            +s-filter({
                                title: 'Возрастная категория',
                                items: [
                                    'Все',
                                    '6 — 8 лет',
                                    '9 — 12 лет',
                                    '13 — 15 лет',
                                ]
                            })
                            +s-filter({
                                title: 'Срок обучения',
                                items: [
                                    'Все',
                                    '96 ак. часов',
                                    '48 ак. часов',
                                    '28 ак. часов',
                                ]
                            })
                            +s-filter({
                                title: 'Стоимость обучения',
                                items: [
                                    'Все',
                                    '8 000 ₽',
                                    '20 000 ₽',
                                    '50 000 ₽',
                                    '100 000 ₽',
                                ]
                            })
                    - else
                        +s-filter

            .programms-list__list
                - let cardsCount = 0
                - while(cardsCount < checkProps.cards.length)
                    +programm-card({
                        classes: '',
                        faculty: checkProps.cards[cardsCount].faculty,
                        name: checkProps.cards[cardsCount].name,
                        params: checkProps.cards[cardsCount].params,
                        isRow: checkProps.vMode === 'rows' ? true : false
                    })

                    - cardsCount++

            if(checkProps.hasMoreBtn === true)
                +btn({
                    classes: 'programms-list__more',
                    name: 'Подробнее',
                    icon: 'arrow_up_right',
                    sMode: 'content',
                    cMode: 'green'
                })

            if(checkProps.hasPagination === true)
                +pagination({classes: 'programms-list__pagination'})