-
    const defaultProgrammsListProps = {
        classes: '',
        vMode: 'rows',
        cards: [
            {
                faculty: 'Основная программа',
                name: 'Первая ступень',
                params: [
                    {
                        name: 'Стоимость в месяц',
                        value: '8 000 ₽'
                    },
                    {
                        name: 'Стоимость в год',
                        value: '70 000 ₽'
                    },
                    {
                        name: 'Вместимость группы, чел',
                        value: '10'
                    },
                    {
                        name: 'Срок обучения',
                        value: '1 год'
                    }
                ],
            },
            {
                faculty: 'Основная программа',
                name: 'Третья ступень',
                params: [
                    {
                        name: 'Стоимость в месяц',
                        value: '8 000 ₽'
                    },
                    {
                        name: 'Стоимость в год',
                        value: '70 000 ₽'
                    },
                    {
                        name: 'Вместимость группы, чел',
                        value: '10'
                    },
                    {
                        name: 'Срок обучения',
                        value: '1 год'
                    }
                ],
            },
            {
                faculty: 'Основная программа',
                name: 'Четвертая ступень',
                params: [
                    {
                        name: 'Стоимость в месяц',
                        value: '8 000 ₽'
                    },
                    {
                        name: 'Стоимость в год',
                        value: '70 000 ₽'
                    },
                    {
                        name: 'Вместимость группы, чел',
                        value: '10'
                    },
                    {
                        name: 'Срок обучения',
                        value: '1 год'
                    }
                ],
            }
        ]

    }

mixin programms-list(props = defaultProgrammsListProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultProgrammsListProps.classes,
            vMode: props.vMode ? props.vMode : defaultProgrammsListProps.vMode,
            cards: props.cards ? props.cards : defaultProgrammsListProps.cards,
        }

        let vModeClass = ' programms-list--' + checkProps.vMode

    section.programms-list(class= checkProps.classes + vModeClass data-js="programmsList")
        .m-container
            .programms-list__header 
                .title.title--h2.programms-list__title Другие программы     
                //-+visual-toggle({
                    active: checkProps.vMode
                //-})(data-js="programmsListToggle")
            .programms-list__list
                - let cardsCount = 0
                - while(cardsCount < 3)
                    +programm-card({
                        classes: '',
                        faculty: checkProps.cards[cardsCount].faculty,
                        name: checkProps.cards[cardsCount].name,
                        params: checkProps.cards[cardsCount].params,
                        isRow: checkProps.vMode === 'rows' ? true : false
                    })

                    - cardsCount++

            //-+btn({
                classes: 'i-questions__more',
                name: 'Показать еще',
                icon: 'arrow_down',
                sMode: 'full',
                cMode: 'bordered'
            //-})