.programms-list {
    padding: 100px 0;

    @include max(mobile) {
        padding: 50px 0;
    }

    &__filter {
        margin-top: 50px;

        @include max(mobile) {
            margin-top: 24px;
        }
    }

    &__list {
        gap: 10px;
        margin-top: 50px;
    }

    &--rows &__list {
        display: flex;
        flex-direction: column;
        align-items: stretch;

        @include max(tablet) {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        @include max(mobile) {
            grid-template-columns: minmax(0, 1fr);
        }
    }

    &--cards &__list {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));

        @include max(laptop) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: 10px;
        }

        @include max(mobile) {
            grid-template-columns: minmax(0, 1fr);
        }
    }

    &__more {
        margin: 30px auto 0;
    }
}