-
    const defaultProgrammInfoProps = {
        classes: ''

    }

mixin programm-info(props = defaultProgrammInfoProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultProgrammInfoProps.classes,
        }

    section.programm-info
        .m-container.programm-info__container
            .programm-info__left
                .programm-info__info
                    .title.title--h4.programm-info__title Информация об образовательной программе
                    .programm-info__table
                        .programm-info__row
                            .programm-info__param Предметы
                            .programm-info__value Русский язык
                                <br>Литература
                                <br>Иностранный язык
                                <br>Алгебра
                                <br>Геометрия
                                <br>Информатика и ИКТ
                                <br>История
                                <br>Обществознание
                                <br>География
                                <br>Физика
                                <br>Химия
                                <br>Биология
                                <br>Физическая культура
                        .programm-info__row
                            .programm-info__param Вместимость группы, чел
                            .programm-info__value 10
                        .programm-info__row
                            .programm-info__param Разделение на подгруппы
                            .programm-info__value 50/50
                        .programm-info__row
                            .programm-info__param Стоимость:
                            .programm-info__value месяц - 8 000 ₽ (на 2025 год) <br>год - 70 000 ₽ (на 2025 год)
                        .programm-info__row
                            .programm-info__param Срок обучения:
                            .programm-info__value 1 учебный год (1 сентября - 26 мая)
                        .programm-info__row
                            .programm-info__param Количество преподавателей
                            .programm-info__value 30
                        .programm-info__row
                            .programm-info__param Прием иностранных граждан
                            .programm-info__value Возможен
                        .programm-info__row
                            .programm-info__param Профориентация по выбору профиля
                            .programm-info__value Есть
                        .programm-info__row
                            .programm-info__param Расширенная подготовка к ЕГЭ
                            .programm-info__value Математика
                                <br>Физика
                                <br>Русский язык
                                <br>Информатика
                                <br>Английский язык
                                <br>География
                                <br>Обществознание

                    +link-block({
                        text: 'Учебный план'
                    })

                .programm-info__faq.programm-faq
                    .programm-faq__header
                        .h2.programm-faq__title Вопросы о программе
                        +btn({
                            classes: 'btn--darkGreen programm-faq__btn',
                            name: 'Задать вопрос'
                        })(data-modal="#questionModal")
                    .programm-faq__accordion(data-js="accordion")
                        +spoiler({
                            title: 'Смогу ли я поступить на направление подготовки «Менеджмент», если сдавал ЕГЭ по математике базового уровня?',
                            text: '<p><b>Для поступления на направление 38.03.02 «Менеджмент» необходимо сдавать экзамен по математике профильного уровня.</b></p>'
                        })
                        +spoiler({
                            title: 'Какие сдавать экзамены, чтобы поступить на направление подготовки «Менеджмент»?',
                            text: '<p><b>Для поступления на направление 38.03.02 «Менеджмент» необходимо сдавать экзамен по математике профильного уровня.</b></p>'
                        })
                        +spoiler({
                            title: 'Могу ли переводится с технической специальности на гуманитарную?',
                            text: '<p><b>Для поступления на направление 38.03.02 «Менеджмент» необходимо сдавать экзамен по математике профильного уровня.</b></p>'
                        })
                        +spoiler({
                            title: 'Есть ли ускоренная программа?',
                            text: '<p><b>Для поступления на направление 38.03.02 «Менеджмент» необходимо сдавать экзамен по математике профильного уровня.</b></p>'
                        })
                        +spoiler({
                            title: 'Есть ли льготы для общежития для победителей в конкурсах по менеджменту?',
                            text: '<p><b>Для поступления на направление 38.03.02 «Менеджмент» необходимо сдавать экзамен по математике профильного уровня.</b></p>'
                        })

                    +btn({
                        classes: 'programm-faq__more',
                        name: 'Загрузить еще',
                        cMode: 'lightGreen',
                    })

            .programm-info__right
                .programm-info__block.text-editor
                    h2 О программе
                    p 
                        b Динамичность современного бизнеса, меняющиеся цели и обстоятельства делают профессию менеджера самой востребованной, высокооплачиваемой и актуальной на рынке труда.
                    p 
                        b Мы знаем, что ждёт нас в будущем, и кто может стать эффективным менеджером. Всё больше профессионалов будут работать удалённо, вкладывая свою энергию параллельно в несколько проектов. Задачей менеджеров будущего станет поиск механизмов формирования и координации рассредоточенных в пространстве креативных и мобильных команд для конкретных проектов.
                    p 
                        b Самая быстрорастущая область управления – управление бизнес-процессами, выпускники программы будут обладать компетенциями в области качественного анализа, управления бизнес-процессами, учёта и аудита бизнес-процессов.

                .programm-info__block.text-editor
                    H2 Обучение
                    P 
                        b В университете накоплен большой опыт подготовки управленческих кадров. В процессе обучения студенты приобретают управленческие компетенции, учатся командной работе, приобретают лидерские и организаторские качества. Это дает конкурентные преимущества: способность успешно работать в меняющихся условиях и условиях нестабильности; в мобильных и проектных организациях и коллективах.

                .programm-info__block.text-editor
                    H2 Наши преимущества:
                    P 
                        b Сбалансированность программы и успешное формирование профессиональных компетенций в рамках изучаемых учебных дисциплин:
                    ul
                        li 
                            b управление развитием организации;
                        li 
                            b информационные технологии в менеджменте;
                        li 
                            b управление технологиями создания проектов;
                        li 
                            b стартап-менеджмент;
                        li 
                            b управление малым бизнесом;
                        li 
                            b международный менеджмент.

                    p 
                        b Профессиональный коллектив, включающий научно-педагогические кадры и представителей бизнес-сообщества.
                    p 
                        b Ориентация на профессии будущих управленцев, востребованных в высокотехнологичных компаниях.

