.link-block {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    gap: 34px;
    color: $c-accent;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: -0.01em;
    padding: 10px 10px 10px 24px;
    margin-top: 10px;
    border-radius: 16px;
    background-color: $c-white;

    @include max(mobile) {
        gap: 10px;
        font-size: 16px;
    }

    &__desc {
        flex: 1 1 auto;
        max-width: 775px;
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: flex-start;
        padding: 18px 20px;
        gap: 10px;
        flex: 0 0 auto;
        min-height: 60px;
        min-width: 225px;
        color: $c-accent;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.2em;
        letter-spacing: -0.01em;
        margin-bottom: 0;
        border-radius: 50px;
        border: solid 1px $c-border-2;

        @include max(mobile) {
            font-size: 14px;
            flex-basis: 40px;
            min-height: 40px;
            padding: 11px;
            min-width: auto;
        }

    }

    a.link-block__link {
        transition: all $tr;
        display: flex;
        margin-bottom: 0;

        @include max(tablet) {
            margin-bottom: 0;
            font-size: 16px;
        }

        &:hover {
            background-color: $c-accent;
            border-color: $c-accent;
            color: $c-white;
        }

        &:hover>* {
            color: $c-white;
        }

    }

    &__icon {
        flex: 0 0 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include max(mobile) {
            flex-basis: 16px;
            height: 16px;
        }

        svg {
            width: 24px;
            height: 24px;

            @include max(mobile) {
                width: 16px;
                height: 16px;
            }
        }
    }

    /* Note */
    &--note {
        background-color: $c-bg-main;
        margin-top: 0;
        border-radius: 40px;

        @include max(mobile) {
            padding: 10px;
            border-radius: 20px;
            font-size: 14px;
        }
    }

    &--note &__desc {
        padding: 10px;

        @include max(mobile) {
            padding: 5px;
        }
    }

    /* Link */

    &.link-block--arrow_up_right a.link-block__link {
        flex-direction: row-reverse;
        background-color: $c-white;

        &:hover {
            background-color: $c-accent;
            border-color: $c-accent;
            color: $c-white;
        }

    }

    &__link--nolink {

        @include max(mobile) {
            display: none;
        }
    }

    &__link--nolink &__text {
        opacity: 0.3;

        @include max(mobile) {
            display: block;
        }
    }

    &__text {
        display: block;
        white-space: nowrap;
        opacity: 1;

        @include max(mobile) {
            display: none;
        }
    }
















    &--table {
        padding-bottom: 22px;
        margin-top: 22px;
        border-bottom: 1px solid rgb(0, 0, 0, 0.2);

        @include max(mobile) {
            padding-bottom: 15px;
            margin-top: 15px;
        }
    }

    &--btn {
        background-color: $c-white;
        padding: 20px 30px 20px 40px;
        border-left: 4px solid $c-accent-light;
        margin-top: 10px;

        @include max(mobile) {
            padding: 10px;
            border-left-width: 2px;
        }
    }

    &--btn .link-block__desc {
        font-weight: 500;
    }

    &.link-block--link_angle a.link-block__link {
        flex: 0 0 auto;

        @include max(mobile) {
            flex-basis: 30px;
        }
    }

    &.link-block--link_angle &__icon {
        background-color: transparent;
        color: $c-accent;
        border: 1px solid $c-border-op;
        transition: all $tr-time;

        svg {
            width: 9px;
            height: 12px;
        }
    }

    &.link-block--link_angle:hover &__icon {
        background-color: $c-accent;
        color: $c-white;
        border: 1px solid $c-accent;

        svg {
            width: 9px;
            height: 12px;
        }
    }

}