-
    const defaultPeopleListProps = {
    classes: ''
    }

mixin people-list(props = defaultPeopleListProps)
    -
        const checkProps = {
        classes: props.classes ? props.classes : defaultPeopleListProps.classes
        }

    section.people-list.sidebar-section(class=checkProps.classes)
        .m-container
            .sidebar-section__layout
                .sidebar-section__sidebar
                    +filter-form
                .sidebar-section__main
                    .people-list__list
                        +link-unit
                        +link-unit({
                            photo: 'img/peoples/people_dm.webp',
                            items: [
                                {
                                    title: 'Предметы',
                                    text: '<ul><li>Арабский язык</li><li>Английский язык</li><li>Курс “Компьютерная грамотность”</li></ul>',
                                    tags: []
                                },
                                {
                                    title: 'Преподает в звеньях',
                                    text: '',
                                    tags: ['Начальное', 'Среднее']
                                }
                            ]
                        })
                        +link-unit({
                            title: 'Жане<br>Назира<br>Аскеровна',
                            photo: 'img/peoples/people_df.webp',
                            items: [
                                {
                                    title: 'Предметы',
                                    text: '<ul><li>Арабский язык</li><li>Английский язык</li><li>Курс “Компьютерная грамотность”</li></ul>',
                                    tags: []
                                },
                                {
                                    title: 'Преподает в звеньях',
                                    text: '',
                                    tags: ['Начальное', 'Среднее']
                                }
                            ]
                        })
                        +link-unit({
                            title: 'Мингазева<br>Айгуль<br>Халиловна',
                            photo: 'img/peoples/people_df.webp',
                            items: [
                                {
                                    title: 'Предметы',
                                    text: '<ul><li>Русский язык</li></ul>',
                                    tags: []
                                },
                                {
                                    title: 'Преподает в звеньях',
                                    text: '',
                                    tags: ['Начальное']
                                }
                            ]
                        })
                        +link-unit({
                            title: 'Гафиатуллин<br>Руслан<br>Айратович',
                            photo: 'img/peoples/people_3.webp',
                            items: [
                                {
                                    title: 'Предметы',
                                    text: '<ul><li>Физика</li></ul>',
                                    tags: []
                                },
                                {
                                    title: 'Преподает в звеньях',
                                    text: '',
                                    tags: ['Начальное', 'Среднее']
                                }
                            ]
                        })
                        +link-unit({
                            title: 'Жане<br>Назира<br>Аскеровна',
                            photo: 'img/peoples/people_df.webp',
                            items: [
                                {
                                    title: 'Предметы',
                                    text: '<ul><li>Арабский язык</li><li>Английский язык</li><li>Курс “Компьютерная грамотность”</li></ul>',
                                    tags: []
                                },
                                {
                                    title: 'Преподает в звеньях',
                                    text: '',
                                    tags: ['Начальное', 'Среднее']
                                }
                            ]
                        })
                        +link-unit({
                            photo: 'img/peoples/people_dm.webp',
                            items: [
                                {
                                    title: 'Предметы',
                                    text: '<ul><li>Арабский язык</li><li>Английский язык</li><li>Курс “Компьютерная грамотность”</li></ul>',
                                    tags: []
                                },
                                {
                                    title: 'Преподает в звеньях',
                                    text: '',
                                    tags: ['Начальное', 'Среднее']
                                }
                            ]
                        })
                        +link-unit({
                            title: 'Жане<br>Назира<br>Аскеровна',
                            photo: 'img/peoples/people_df.webp',
                            items: [
                                {
                                    title: 'Предметы',
                                    text: '<ul><li>Арабский язык</li><li>Английский язык</li><li>Курс “Компьютерная грамотность”</li></ul>',
                                    tags: []
                                },
                                {
                                    title: 'Преподает в звеньях',
                                    text: '',
                                    tags: ['Начальное', 'Среднее']
                                }
                            ]
                        })
                        +link-unit

                    +pagination({classes: 'pagination--mt'})
