mixin footer(greenBg)

	- let greenBgClass = greenBg === true ? 'green-bg' : ''

	footer.site-footer(class = greenBgClass)
		.site-footer__bg
			img(src="img/footer_bg.svg" alt="")
		.site-footer__container
			.site-footer__left
				.site-footer__logo
					img(src="img/logo_footer.svg" alt="")
					p онлайн-гимназия
				+btn({
					classes: 'site-footer__btn',
					name: 'Попробовать бесплатно',
					sMode: 'big',
					cMode: 'lightGreen',
					icon: 'arrow_up_right'
				})

			.site-footer__right
				.site-footer__cols
					.site-footer__col
						.site-footer__block
							.title.title--h5.title--light.site-footer__title Главный корпус
							.site-footer__textblock.site-footer__textblock--mt
								a(href="javascript:void(0)").site-footer__subtitle ОБЩИЕ СВЕДЕНИЯ
								a(href="javascript:void(0)").site-footer__subtitle ПРЕПОДАВАТЕЛИ
								a(href="javascript:void(0)").site-footer__subtitle ДОГОВОР ОФЕРТЫ
								a(href="javascript:void(0)").site-footer__subtitle ОСНОВНОЕ ОБРАЗОВАНИЕ
								a(href="javascript:void(0)").site-footer__subtitle ДОПОЛНИТЕЛЬНОЕ ОБРАЗОВАНИЕ
								a(href="javascript:void(0)").site-footer__subtitle МЕТОДИКА ОБУЧЕНИЯ
								a(href="javascript:void(0)").site-footer__subtitle ВОПРОСЫ И ОТВЕТЫ (FAQ)
								a(href="javascript:void(0)").site-footer__subtitle КОНТАКТЫ
								a(href="javascript:void(0)").site-footer__subtitle СВЕДЕНИЯ ОБ ОБРАЗОВАТЕЛЬНОЙ ОРГАНИЗАЦИИ
								a(href="javascript:void(0)").site-footer__subtitle НОВОСТИ

					.site-footer__col
						.site-footer__block
							.title.title--h5.title--light.site-footer__title Приемная комиссия
							.site-footer__textblock
								a(href="tel:+79900595039") +7 (990) 059 50 39
						.site-footer__block
							.title.title--h5.title--light.site-footer__title График работы:
							.site-footer__textblock
								p Пн. — Пт.: 10:30 - 18:00
									<br> Сб.: 10:30 - 15:00
									<br> Вс.: приём онлайн
								<a href="mailto:priem@adele.ru">priem@adele.ru</a>
						.site-footer__block
							.title.title--h5.title--light.site-footer__title Общие вопросы <br><span>(кроме вопросов о поступлении)</span>
							.site-footer__textblock
								a(href="mailto:+info@adele.ru") info@adele.ru							

					.site-footer__col
						.site-footer__block
							.title.title--h5.title--light.site-footer__title Пресс-служба
							.site-footer__textblock
								a(href="tel:+79900595039") +7 (990) 059 50 39
						.site-footer__block
							.title.title--h5.title--light.site-footer__title СМИ и новости
							.site-footer__textblock
								a(href="mailto:press@adele.ru") press@adele.ru
						.site-footer__block
							.title.title--h5.title--light.site-footer__title Для обратной связи по сайту
							.site-footer__textblock
								a(href="mailto:media@adele.ru") media@adele.ru

				.site-footer__footer
					a.site-footer__privacy(href="javascript:void(0);") Политика обработки персональных данных
					.site-footer__flex
						.site-footer__copyright © 2025 ООО «Онлайн-Гимназия Адель»
						.site-footer__developer
							| Разработка сайта
							a(href="https://itspace.group/")
								svg
									use(xlink:href=`img/sprites/sprite.svg#its`)