mixin footer(greenBg)

	- let greenBgClass = greenBg === true ? 'green-bg' : ''

	footer.site-footer(class = greenBgClass)
		.site-footer__bg
			img(src="img/footer_bg.svg" alt="")
		.site-footer__container
			.site-footer__left
				.site-footer__logo
					img(src="img/logo_footer.svg" alt="")
					//-p онлайн-гимназия
				+btn({
					classes: 'site-footer__btn',
					name: 'Оставить заявку',
					sMode: 'big',
					cMode: 'lightGreen',
					icon: 'arrow_up_right'
				})(data-modal='#requestModal')

			.site-footer__right
				.site-footer__cols
					.site-footer__col
						.site-footer__block
							.title.title--h5.title--light.site-footer__title Основная информация
							.site-footer__textblock.site-footer__textblock--mt
								a(href="javascript:void(0)") Сведения об образовательной организации
								a(href="javascript:void(0)") О гимназии
								a(href="javascript:void(0)") Как проходит обучение
								a(href="javascript:void(0)") Программы домашней гимназии
								a(href="javascript:void(0)") Дополнительное образование
								a(href="javascript:void(0)") Преподаватели
								a(href="javascript:void(0)") Вопросы и ответы (faq)
								a(href="javascript:void(0)") Контакты
								a(href="javascript:void(0)") Новости

					.site-footer__col
						.site-footer__block
							.title.title--h5.title--light.site-footer__title Правовая информация
							.site-footer__textblock.site-footer__textblock--mt
								a(href="javascript:void(0)") Согласие на получение рекламной рассылки
								a(href="javascript:void(0)") Согласие на получение информационной рассылки
								a(href="javascript:void(0)") Согласие на обработку файлов COOKKIES
								a(href="javascript:void(0)") Согласие на обработку персональных данных
								a(href="javascript:void(0)") Пользовательское соглашение
								a(href="javascript:void(0)") Политика в отношении обработки персональных данных
								a(href="javascript:void(0)") Оферта редакция 18.12.2023

					.site-footer__col
						.site-footer__block
							.title.title--h5.title--light.site-footer__title Приемная комиссия
							.site-footer__textblock
								a(href="tel:+79900595039") +7 (990) 059 50 39
						.site-footer__block
							.title.title--h5.title--light.site-footer__title График работы:
							.site-footer__textblock
								p Пн. — Пт.: 10:30 - 18:00
									<br> Сб.: 10:30 - 15:00
									<br> Вс.: приём онлайн
								<a href="mailto:priem@adele.ru">priem@adele.ru</a>
						.site-footer__block
							.title.title--h5.title--light.site-footer__title Общие вопросы <br><span>(кроме вопросов о поступлении)</span>
							.site-footer__textblock
								a(href="mailto:+info@adele.ru") info@adele.ru
						.site-footer__block
							.title.title--h5.title--light.site-footer__title Для обратной связи по сайту
							.site-footer__textblock
								a(href="mailto:media@adele.ru") media@adele.ru
						+socials

				.site-footer__footer
					//-.site-footer__flex
					.site-footer__flex
						.site-footer__copyright © 2025 ООО «Онлайн-Гимназия Адель»
							//-span ООО « Онлайн-Гимназия Адель»
							span ИНН 5022076651
							span ОГРН 1235000132344
							span Регистрационный номер лицензии: <br>№ Л035- 01255 -50/01640382 от 18.12.2024
						.site-footer__developer
							| Разработка сайта
							a(href="https://itspace.group/" target="_blank")
								svg
									use(xlink:href=`img/sprites/sprite.svg#its`)