-
    const defaultNewsDetailedProps = {
        classes: '',
    }

mixin news-detailed(props = defaultNewsDetailedProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultNewsDetailedProps.classes
        }

    section.news-detailed(class= checkProps.classes)
        .m-container
            .news-detailed__container.green-bg
                +breadcrumbs({
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Программы',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Название статьи',
                            link: 'javascript:void(0);'
                        }
                    ],
                })
                .news-detailed__flex
                    .news-detailed__main
                        .news-detailed__header
                            .title.title--h2.news-detailed__title Как справиться с тревожностью
                            .news-detailed__author.news-author
                                .news-author__photo
                                    img(src="img/peoples/people.webp")
                                .news-author__info
                                    a.news-author__name(href="javascript:void(0);") Умаров Малик Мусаевич
                                    .news-author__pos Учитель арабского языка
                        .news-detailed__body.text-editor 
                            p Имеется спорная точка зрения, гласящая примерно следующее: предприниматели в сети интернет набирают популярность среди определенных слоев населения, а значит, должны быть ассоциативно распределены по отраслям. Идейные соображения высшего порядка,а также синтетическое тестирование влечет за собой процесс внедрения и модернизации соответствующих условий активизации. Есть над чем задуматься: явные признаки победы институционализации, которые представляют собой яркий пример континентально- европейского типа политической культуры, будут ограничены исключительно образом мышления.

                            p Внезапно, предприниматели в сети интернет, вне зависимости от их уровня, должны быть ограничены исключительно образом мышления. В своём стремлении повысить качество жизни, они забывают, что постоянное информационно-пропагандистское обеспечение нашей деятельности создаёт предпосылки для приоретизации разума над эмоциями.

                            h2 Содержание статьи

                            ul 
                                li <a href="#title1">Что не помогает избавится от тревожности</a>
                                li <a href="#title2">Что помогает при тревожности</a>

                            h2#title1 Что не помогает избавится от тревожности

                            p Но социально-экономическое развитие выявляет срочную потребность новых принципов формирования материально-технической и кадровой базы. Повседневная практика показывает, что реализация намеченных плановых заданий позволяет оценить значение распределения внутренних резервов и ресурсов. Современные технологии достигли такого уровня, что понимание сути ресурсосберегающих технологий прекрасно подходит для реализации укрепления моральных ценностей!

                            p Однозначно, ключевые особенности структуры проекта формируют глобальную экономическую сеть и при этом — рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок. Разнообразный и богатый опыт говорит нам, что понимание сути ресурсосберегающих технологий предполагает независимые способы реализации переосмысления внешнеэкономических политик. Но некоторые особенности внутренней политики, превозмогая сложившуюся непростую экономическую ситуацию, заблокированы в рамках своих собственных рациональных ограничений.

                            p Господа, повышение уровня гражданского сознания требует анализа системы обучения кадров, соответствующей насущным потребностям. Приятно, граждане, наблюдать, как тщательные исследования конкурентов своевременно верифицированы. Задача организации, в особенности же высококачественный прототип будущего проекта не даёт нам иного выбора, кроме определения новых предложений. Ясность нашей позиции очевидна: синтетическое тестирование предоставляет широкие возможность для как самодостаточных, так и внешне зависимых концептуальных решений.

                            +quote({
                                classes: 'quote--text',
                                text: `Господа, повышение уровня гражданского сознания требует анализа системы обучения кадров, соответствующей насущным потребностям. Приятно, граждане, наблюдать, как тщательные исследования конкурентов своевременно верифицированы.`
                            })

                            //-
                                +video({
                                video: '<iframe width="720" height="405" src="https://rutube.ru/play/embed/1b56934dff273b81a8c991062e7a85cf/?skinColor=43a047" frameBorder="0" allow="clipboard-write; autoplay" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>',
                                poster: 'img/video-poster.webp'
                                })

                            h2#title2 Что помогает от тревожности

                            p Но социально-экономическое развитие выявляет срочную потребность новых принципов формирования материально-технической и кадровой базы. Повседневная практика показывает, что реализация намеченных плановых заданий позволяет оценить значение распределения внутренних резервов и ресурсов. Современные технологии достигли такого уровня, что понимание сути ресурсосберегающих технологий прекрасно подходит для реализации укрепления моральных ценностей!

                            p Пункт 1. Однозначно, ключевые особенности структуры проекта формируют глобальную экономическую сеть и при этом — рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок. Разнообразный и богатый опыт говорит нам, что понимание сути ресурсосберегающих технологий предполагает независимые способы реализации переосмысления внешнеэкономических политик. Но некоторые особенности внутренней политики, превозмогая сложившуюся непростую экономическую ситуацию, заблокированы в рамках своих собственных рациональных ограничений.

                            p Пункт 2. Господа, повышение уровня гражданского сознания требует анализа системы обучения кадров, соответствующей насущным потребностям. Приятно, граждане, наблюдать, как тщательные исследования конкурентов своевременно верифицированы. Задача организации, в особенности же высококачественный прототип будущего проекта не даёт нам иного выбора, кроме определения новых предложений. Ясность нашей позиции очевидна: синтетическое тестирование предоставляет широкие возможность для как самодостаточных, так и внешне зависимых концептуальных решений.

                            //-
                                +media-slider({
                                    classes: 'media-slider--news media-slider--text',
                                    fancyGroup: 'news1',
                                    slides: [
                                        {
                                            image: 'img/news/news_slide_1.webp',
                                            video: '',
                                            title: '',
                                            text: '',
                                            mMode: 'image'
                                        },
                                        {
                                            image: 'img/news/news_slide_2.webp',
                                            video: '',
                                            title: '',
                                            text: '',
                                            mMode: 'image'
                                        },
                                        {
                                            image: 'img/news/news_slide_3.webp',
                                            video: '',
                                            title: '',
                                            text: '',
                                            mMode: 'image'
                                        },
                                    ],
                                })

                    .news-detailed__sidebar
                        +form({
                            classes: 'news-detailed__form form--dark',
                            title: 'Записаться на консультацию',
                            text: '',
                            btnCMode: 'lightTitle',
                            btnText: 'Отправить',
                            privacyText: `Согласен на обработку моих персональных данных <a href="javascript:void(0);">в соответствии с Политикой в отношении обработки персональных данных</a>`
                        })
                            +field({
                                classes: 'field--dark',
                                type: 'text',
                                title: '',
                                placeholder: 'Имя',
                                inputAttr: {
                                    'required': '',
                                    'data-type': 'letters'
                                },
                                resetBtn: false,
                                isRequired: true
                            })
                            +field({
                                classes: 'field--dark',
                                type: 'tel',
                                title: '',
                                placeholder: '+7 (___) ___-__-__',
                                inputAttr: {
                                    'data-type': 'phoneNumber',
                                    'required': '',
                                    'data-v-name': 'phone'
                                },
                                resetBtn: false,
                                isRequired: true
                            })
                            +field({
                                classes: 'field--dark',
                                type: 'email',
                                title: '',
                                placeholder: 'Email',
                                inputAttr: {
                                    'required': '',
                                    'data-v-name': 'email'
                                },
                                resetBtn: false,
                                isRequired: true
                            }) 

                            +field({
                                classes: 'field--dark',
                                tag: 'textarea',
                                title: '',
                                placeholder: 'Текст обращения',
                            })

                        .news-detailed__rec.rec-news
                            .rec-news__title.title.title--h4 Другие новости
                            .rec-news__items
                                .rec-news__item
                                    .rec-news__content
                                        .title.title--h5.rec-news__name 
                                            a(href="javascript:void(0);") Как создать презентацию: инструкция для школьника
                                        .rec-news__date 26 августа 2024
                                    +btn({
                                        classes: 'rec-news__icon',
                                        icon:'arrow_up_right',
                                        sMode: 'icon',
                                        cMode: 'bordered'
                                    })
                                .rec-news__item
                                    .rec-news__content
                                        .title.title--h5.rec-news__name 
                                            a(href="javascript:void(0);") Cтихи для запоминания глаголов-исключений
                                        .rec-news__date 26 августа 2024
                                    +btn({
                                        classes: 'rec-news__icon',
                                        icon:'arrow_up_right',
                                        sMode: 'icon',
                                        cMode: 'bordered'
                                    })
                                .rec-news__item
                                    .rec-news__content
                                        .title.title--h5.rec-news__name 
                                            a(href="javascript:void(0);") Как эффективно подготовиться к ВПР?
                                        .rec-news__date 26 августа 2024
                                    +btn({
                                        classes: 'rec-news__icon',
                                        icon:'arrow_up_right',
                                        sMode: 'icon',
                                        cMode: 'bordered'
                                    })
                                .rec-news__item
                                    .rec-news__content
                                        .title.title--h5.rec-news__name 
                                            a(href="javascript:void(0);") Как правильно писать сочинение: с чего начать, структура
                                        .rec-news__date 26 августа 2024
                                    +btn({
                                        classes: 'rec-news__icon',
                                        icon:'arrow_up_right',
                                        sMode: 'icon',
                                        cMode: 'bordered'
                                    })
                            +btn({
                                icon:'arrow_up_right',
                                sMode: 'full',
                                cMode: 'bordered',
                                name: 'Все новости'
                            })