.spoiler {
    width: 100%;
    overflow: hidden;
    position: relative;
    display: block;
    padding: 0 30px;
    background-color: $c-white;

    @include max(mobile) {
        padding: 0 16px;
    }

    &__intro {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 64px;
        cursor: pointer;
        padding: 30px 0;

        @include max(tablet) {
            padding: 20px 0 15px;
            gap: 10px;
        }

    }

    &__title {
        color: $c-accent;
        font-size: 24px;
        font-weight: 500;
        line-height: 1.2em;
        letter-spacing: -0.02em;

        @include max(tablet) {
            font-size: 20px;
        }

        @include max(mobile) {
            font-size: 18px;
        }
    }

    &__icon {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $c-accent;
        flex-shrink: 0;
        flex-grow: 0;
        transition: all $tr-time;

        svg {
            width: 24px;
            height: 24px;
            transition: all $tr-time;
        }

        @include max(tablet) {
            width: 40px;
            height: 40px;
        }
    }

    &.active &__icon svg {
        transform: rotate(-45deg);
    }

    &__content {
        display: none;
        overflow: hidden;
        padding-bottom: 30px;

        .text-editor,
        .text-editor>p,
        .text-editor>ul,
        .text-editor>li {
            font-size: 18px;

            @include max(tablet) {
                font-size: 16px;
            }

            @include max(mobile) {
                font-size: 14px;
            }
        }
    }
}

.accordion {
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    overflow: hidden;

    .spoiler+.spoiler {
        border-top: 1px solid $c-border;
    }
}