.s-partners {

    &__container {
        display: flex;
        align-items: stretch;
        gap: 10px;

        @include max(mobile) {
            flex-direction: column;
        }
    }

    &__slider {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1 0 calc((100% - 10px) / 2);
        overflow: hidden;
        background-color: $c-accent-light;
        border-radius: 32px;
        padding: 33px 20px 23px;

        @include max(tablet) {
            padding: 25px 10px 20px;
        }

        @include max(mobile) {
            flex-basis: auto;
        }
    }

    &__slide {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 50px;
        width: 280px;
        aspect-ratio: 1 / 1;
        background-color: $c-white;
        border-radius: 40px;

        @include max(tablet) {
            width: 150px;
            padding: 20px;
            border-radius: 24px;
        }
    }

    .swiper-wrapper {
        align-items: stretch;
        height: auto;
        margin-top: auto;
        margin-bottom: auto;
    }

    &__info {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: relative;
        flex: 0 0 calc((100% - 10px) / 2);
        max-width: 695px;
        min-height: 600px;
        padding: 30px 40px;
        background-color: $c-accent;
        color: $c-white;
        border-radius: 32px;
        overflow: hidden;

        .title {
            position: relative;
            z-index: 1;
        }

        @include max(tablet) {
            padding: 20px;
            min-height: 400px;
        }

        @include max(mobile) {
            min-height: auto;
        }
    }

    &__decor {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 48%;

        img {
            width: 100%;
        }
    }

    &__btns {
        margin-top: 24px;
    }

    &__tag {
        margin: 0 auto 24px;
    }

}

.slider-btns {
    display: flex;
    align-items: center;
    gap: 10px;
}

.slider-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    color: $c-accent;
    border: 1px solid $c-border-2;
    border-radius: 100%;
    cursor: pointer;
    transition: all $tr;

    @include max(tablet) {
        width: 40px;
        height: 40px;
    }

    svg {
        width: 24px;
        height: 24px;

        @include max(tablet) {
            width: 16px;
            height: 16px;
        }
    }

    &--next {
        svg {
            transform: rotate(180deg);
        }
    }

    &.swiper-button-disabled {
        opacity: 0;
    }

    &:hover {
        color: $c-white;
        background-color: $c-accent;
        border-color: $c-accent;
    }
}