-
    const defaultSPartnersProps = {
        classes: '',
        type: 'default'
    }

mixin s-partners(props = defaultSPartnersProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultSPartnersProps.classes,
            type: props.type ? props.type : defaultSPartnersProps.type,
        }

    section.s-partners(data-js="sPartners")
        .m-container.s-partners__container
            .s-partners__info
                .title.title--h3.title--light.s-partners__title <span>Мы работаем</span> <br>с некоммерческими, корпоративными и общественными организациями
                .title.title--h6.title--light.s-partners__text Ученики получают всегда самые актуальные знания
                .s-partners__decor
                    img(src="img/partners/s_partners_decor.webp" alt="")

            .s-partners__slider(data-js="sPartnersSlider")
                +section-tag({
                    classes: 's-partners__tag',
                    text: 'Партнеры работодатели',
                })
                .swiper-wrapper
                    .swiper-slide.s-partners__slide
                        img(src="img/partners/partner_1.webp" alt="")
                    .swiper-slide.s-partners__slide
                        img(src="img/partners/partner_2.webp" alt="")
                    .swiper-slide.s-partners__slide
                        img(src="img/partners/partner_3.webp" alt="")
                    .swiper-slide.s-partners__slide
                        img(src="img/partners/partner_4.webp" alt="")
                    .swiper-slide.s-partners__slide
                        img(src="img/partners/partner_5.webp" alt="")
                    .swiper-slide.s-partners__slide
                        img(src="img/partners/partner_6.webp" alt="")

                .slider-btns.s-partners__btns
                    .slider-btn.slider-btn--prev(data-js="sliderPrevBtn")
                        svg 
                            use(xlink:href=`img/sprites/sprite.svg#link_angle`)
                    .slider-btn.slider-btn--next(data-js="sliderNextBtn")
                        svg 
                            use(xlink:href=`img/sprites/sprite.svg#link_angle`)